<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>간편비밀번호 등록/재등록</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>간편비밀번호 등록/재등록</h1>
			<button class="lbtn btn-back">이전</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="login-wrap bg-st01">
				<section class="loginBox">
					<div class="login-setup-txt">
						<p class="stxt">간편비밀번호6자리를<br>입력해주세요.</p>
						<span class="ico-idpw">간편 비밀번호</span>
						<div class="simple-pw">
							<span class="on"></span>
							<span class=""></span>
							<span class=""></span>
							<span class=""></span>
							<span class=""></span>
							<span class=""></span>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// 화면 영역 -->

</body>
</html>