<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>로그인(지문)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<style>
	.loginBox .lbtn { width: 100%;border: 1px solid #0c9aff;}
	.bg-st02 { background-color: #ffffff !important;}
	.cont4 {background-color: #f2f2f2 !important;}
	.loginBox .lbtn {border: 1px solid #0c9aff !important;}
	.lbtn {box-shadow: none;}

</style>
</head>
<body>


<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>로그인(지문)</h1>
			<span class="lbtn logo">DGB생명</span>
			<button class="rbtn btn-txt">재설정</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st02">
	<!-- 20180723 추가 -->
		<div class="cont4 bg-st02">
			<ul class="login-setting"><!-- 선택설정인 경우 li에 class="on"추가 -->
				<li data-path="idpwd"><a href="javascript:void(0);" class="idpwd">ID/PW<br>로그인</a></li>
				<li data-path="simple"><a href="javascript:void(0);" class="simple">PIN<br>로그인</a></li>
				<li data-path="finger" class="on"><a href="javascript:void(0);" class="finger">지문<br>로그인</a></li>
			</ul>
		</div>
	<!--//20180723 추가-->
		<div class="cont2">
			<section class="loginBox">
				<p class="login-txt1 img_finger">지문을 인증하여 주시거나 등록하여<br />주시기 바랍니다.</p>

				<div class="loginBtn_area">
					<button class="lbtn btn-st04" id="btnFingerReg">등록/변경하기</button>
					<button class="lbtn btn-st08" id="btnFingerLogin">인증하기</button>
				</div>
			</section>

			<ul class="bul-list-st01">
				<li>DGB생명 지문인증은 <span class="fc-blue">금융결제원 바이오 인증 앱</span>을 설치 후 지문정보를 등록하셔야만 이용 가능합니다.</li>
				<li>인증 등록 가능한 휴대폰에서만 지문인증 로그인을 이용할 수 있습니다.</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<div class="ico_siren">지문인증 3번 이상 오류 시 잠금 설정됩니다.</div>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>