<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>DGB생명</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/swiper.min.css">
<script type="text/javascript" src="../../../js/libs/swiper.min.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap main">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1 class="logo">DGB생명</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<div class="d-scroll">
		<div class="d-cont bg-st01">
			<div class="main-top">
				<p class="main-top-msg">남생명FC님, FC님의 오늘을 응원합니다.</p>
				<div class="main-tab-area">
					<div class="main-tab">
						<ul>
							<li>
								<button type="button" class="item">
									<span class="stit">입금대기</span>
									<span class="count"><strong>04</strong> 건</span>
								</button>
							</li>
							<li>
								<button type="button" class="item">
									<span class="stit">청약보완</span>
									<span class="count"><strong>02</strong> 건</span>
								</button>
							</li>
						</ul>
					</div>
					<!--입금대기-->
					<div class="main-tab-cont">
						<div class="main-swiper swiper-container swiper1">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="#" class="item">
										<div class="info">
											<div class="customer-name">
												<strong>남생명</strong><span>고객님</span>
											</div>
											<p class="tit">마음든든 유니버셜 종신보험(무)2400</p>
											<em class="state">미입금</em>
										</div>
										<div class="etc-info">
											<ul>
												<li class="date">
													<span class="stit">계약일</span><!-- 9.25 수정 -->
													<span class="scon">2020.06.11</span>
												</li>
												<li class="sum">
													<span class="stit">보험료(월납)</span><!-- 9.25 수정 -->
													<span class="scon">120,000원</span><!-- 9.25 수정 -->
												</li>
												<!-- 
												    월납 : 보험료(월납)
												  3개월납 : 보험료(3개월납)
												  6개월납 : 보험료(6개월납)
												    연납 : 보험료(연납)
												   일시납 : 보험료(일시납)
												-->
											</ul>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#" class="item">
										<div class="info">
											<div class="customer-name">
												<strong>남생명2</strong><span>고객님</span>
											</div>
											<p class="tit">마음든든 유니버셜 종신보험(무)2400</p>
											<em class="state">미입금</em>
										</div>
										<div class="etc-info">
											<ul>
												<li class="date">
													<span class="stit">계약일</span>
													<span class="scon">2020.06.11</span>
												</li>
												<li class="sum">
													<span class="stit">보험료(3개월납)</span>
													<span class="scon">120,000원</span>
												</li>
											</ul>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#" class="item">
										<div class="info">
											<div class="customer-name">
												<strong>남생명2</strong><span>고객님</span>
											</div>
											<p class="tit">마음든든 유니버셜 종신보험(무)2400</p>
											<em class="state">미입금</em>
										</div>
										<div class="etc-info">
											<ul>
												<li class="date">
													<span class="stit">계약일</span>
													<span class="scon">2020.06.11</span>
												</li>
												<li class="sum">
													<span class="stit">보험료(6개월납)</span>
													<span class="scon">120,000원</span>
												</li>
											</ul>
										</div>
									</a>
								</div>
							</div>
							<div class="main-pagination"></div>
						</div>
					</div>
					<!--//입금대기-->
					<!--청약보완-->
					<div class="main-tab-cont">
						<div class="main-swiper swiper-container swiper2">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="#" class="item">
										<div class="info">
											<div class="customer-name">
												<strong>홍길동</strong><span>고객님</span>
											</div>
											<p class="tit">마음든든 유니버셜 종신보험(무)2400</p>
											<em class="state">미입금</em>
										</div>
										<div class="etc-info">
											<ul>
												<li class="date">
													<span class="stit">계약일</span>
													<span class="scon">2020.06.11</span>
												</li>
												<li class="sum">
													<span class="stit">보험료(연납)</span>
													<span class="scon">120,000원</span>
												</li>
											</ul>
										</div>
									</a>
								</div>
							</div>
							<div class="main-pagination"></div>
						</div>
					</div>
					<!--//청약보완-->
				</div>
			</div>

			<div class="main-con">
				<ul class="main-quick-menu">
					<li>
						<a href="#" class="ico01"><span>고객등록</span></a>
					</li>
					<li>
						<a href="#" class="ico02"><span>적합성진단</span></a>
					</li>
					<li>
						<a href="#" class="ico03"><span>가입제안</span></a>
					</li>
					<li>
						<a href="#" class="ico04"><span>청약문서 작성<em class="count">12</em></span></a>
					</li>
					<li>
						<a href="#" class="ico05"><span>셀프 언더라이팅<em class="count">7</em></span></a>
					</li>
					<li>
						<a href="#" class="ico06"><span>선심사</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<footer>
		<div class="d-footer">
			<div class="btm-menu">
				<ul>
					<li><button class="item home"><span>홈</span></button></li>
					<li><button class="item notice"><span>공지사항</span></button></li>
					<li><button class="item setup"><span>로그인설정</span></button></li>
					<li><button class="item speed"><span>속도체크</span></button></li>
				</ul>
			</div>
		</div>
	</footer>
</div>
<!--// 화면 영역 -->

<script type="text/javascript">
	$(function(){
		
		//main-tab
		$(document).on("click", ".main-tab .item",function(){
			var idx = $(this).parent().index();
			var _li = $(this).parent();
			var _li_s = $(this).parent().siblings();
			var _tabCont = $(".main-tab-cont");

			if(!_li.hasClass("on")){
				_li.addClass("on");
				_li_s.removeClass("on");
				_tabCont.removeClass("on");
				_tabCont.eq(idx).addClass("on");
				
				//슬라이드 1번이동
				if($('.swiper1').find('.swiper-slide').length > 1){
					swiper1.slideTo(0);
				}
				if($('.swiper2').find('.swiper-slide').length > 1){
					swiper2.slideTo(0);
				}
			}else{
				_li.removeClass("on");
				_tabCont.removeClass("on");
			}
		});
		
		/*
		$('.main-swiper').each(function(index, element){
				var _this =$(this)
				 _this.addClass('swiper'+index);

				if(_this.find('.swiper-slide').length > 1){
					//Initialize 
					

					
				}
			})
		*/
		if($('.swiper1').find('.swiper-slide').length > 1){
			swiper1 = new Swiper('.swiper1',{
				pagination : ".swiper1 .main-pagination",
				paginationClickable:true,
				paginationElement:'a href="#"',
				spaceBetween : 25,
				loop : false,
				observer:true,
				observeParents:true
			});
		}
		if($('.swiper2').find('.swiper-slide').length > 1){
			swiper2 = new Swiper('.swiper2',{
				pagination : ".swiper2 .main-pagination",
				paginationClickable:true,
				paginationElement:'a href="#"',
				spaceBetween : 25,
				loop : false,
				observer:true,
				observeParents:true
			});
		}
	});
</script>


</body>
</html>
