<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>지문인증 해지</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>지문인증 해지</h1>
			<button class="lbtn btn-back">이전</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="login-wrap bg-st01">
				<section class="loginBox">
					<div class="login-setup-txt cancel">
						<span class="ico-finger">지문인식</span>
						<p class="txt">한예슬 님의 지문 등록/재등록이<br>해지 되었습니다.</p>
					</div>
				</section>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// 화면 영역 -->
</body>
</html>