<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>인트로</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_intro.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div id="intro" class="intro-wrap">
	<header><h1>M<span>스마트</span></h1></header>

	<div class="percent">
		<div class="bar-bg">
			<p class="bar" style="width:70%" id="percentBar">70%</p>
			<p class="txt" id="percent">LOADING <strong>70%</strong></p>
		</div>
	</div>
	
	<footer><h2>DGB생명</h2></footer>
</div>
<!-- //화면 영역 -->

</body>
</html>
