<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>접근권한안내</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- 레이어팝업 영역 -->
<div class="dim-layer" style="display:block;">
	<div class="dimBg"></div>
	<div id="layer2" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>접근권한안내</h1>
				<button class="btn-pop-close">닫기</button>
			</div>
			<div class="dpop-conts">
				<p class="cont-txt01">DGB생명에서는 다음 권한들을 사용하오니, 허용해 주시기 바랍니다.</p>
				<ul class="cont-list01">
					<li class="pico pico-sms">SMS문자</li>
					<li class="pico pico-tel">전화</li>
					<li class="pico pico-camera">카메라</li>
					<li class="pico pico-media">사진,미디어,파일</li>
					<li class="pico pico-app">다른 앱 위에 표시되는 앱</li>
				</ul>
			</div>

			<div class="dpop-footer">
				<button class="mbtn-2 btn-st01">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// 레이어팝업 영역 -->


</body>
</html>
