<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<link rel="stylesheet" href="../../../css/d-lite_style.css" />
<title>android page loading</title>
</head>
<body>

<!-- loading 영역  -->
<div class="page_loading dim-layer">
	<div class="dimBg"></div>
	<div class="loading-layer">
		<img src="../../../img/double-ring-spinner.svg" alt="로딩중입니다."/>
		<p>좋은인생, 더 행복하도록</p>
		<p>Do Good Better</p>
	</div>
</div>
<!-- //loading 영역 -->


</body>
</html>
