<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전체메뉴</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>


<!-- 레이어팝업 영역 -->
<div class="dim-layer" style="display:block;">
	<div class="dimBg"></div>
	<div id="layer2" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>속도체크</h1>
				<button class="btn-pop-close">닫기</button>
			</div>
			<div class="dpop-conts speed">
				<div class="bad" style="display:none">Bad / 기준 50kbps이하</div>
				<div class="speed normal" style="display:none">Normal / 기준 50~100kbps이하</div>
				<div class="speed good" style="display:none">Good / 기준 100kbps이상</div>

				<p class="speed-txt" data-id="bad" style="display:none">전산망 속도체크결과는 나쁨(<em>30bps</em>)입니다.</p>
				<p class="speed-txt" data-id="normal" style="display:none">전산망 속도체크결과는 보통(<em>30bps</em>)입니다.</p>
				<p class="speed-txt" data-id="good" style="display:none">전산망 속도체크결과는 양호(<em>30bps</em>)입니다.</p>
			</div>
			<div class="dpop-footer">
				<button class="mbtn-2 btn-st01">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// 레이어팝업 영역 -->


</body>
</html>
