<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>공지사항알림</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>공지사항 알림</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div>
			<!-- toggle-list영역 -->
			<ul class="toggle border-b-st01" id="MA-0170L_resultList">
				<li>
					<div class="toggle-header">
						<div class="title">
							<h2 class="fc_000">제목</h2>
							<p class="w-date">2018.03.20</p>
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont1">
							Contents 영역<br />(이미지와 텍스트가 관리자에서 세팅된 대로 보여준다.)
						</div>
						<div>
							<dl class="file-down">
								<dt class="border-r">첨부<br />파일</dt>
								<dd>
									<ul>
										<li>
											ICE-Breaking 자료.pdf
											<button class="btn-gray">미리보기</button>
										</li>
										<li>
											ICE-Breaking 자료.pdf
											<button class="btn-gray">미리보기</button>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<div class="title">
							<h2 class="fc_000">제목</h2>
							<p class="w-date">2018.03.20</p>
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont1">
							Contents 영역<br />(이미지와 텍스트가 관리자에서 세팅된 대로 보여준다.)
						</div>
						<div>
							<dl class="file-down">
								<dt class="border-r">첨부<br />파일</dt>
								<dd>
									<ul>
										<li>
											ICE-Breaking 자료.pdf
											<button class="btn-gray">미리보기</button>
										</li>
										<li>
											ICE-Breaking 자료.pdf
											<button class="btn-gray">미리보기</button>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<div class="title">
							<h2 class="fc_000">제목</h2>
							<p class="w-date">2018.03.20</p>
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont1">
							Contents 영역<br />(이미지와 텍스트가 관리자에서 세팅된 대로 보여준다.)
						</div>
						<div>
							<dl class="file-down">
								<dt class="border-r">첨부<br />파일</dt>
								<dd>
									<ul>
										<li>
											ICE-Breaking 자료.pdf
											<button class="btn-gray">미리보기</button>
										</li>
										<li>
											ICE-Breaking 자료.pdf
											<button class="btn-gray">미리보기</button>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 2018-05-11 -->
	<footer>
		<div class="fullpop-footer">
			<div class="oneday-no dform square01">
				<label for="MA-0170L_notiClose"><input type="checkbox" id="MA-0170L_notiClose"/>오늘 하루동안 보지않기</label>
				<button id="MA-0170L_popClose">닫기</button>
			</div>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>