<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>로그인(패턴)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>로그인(패턴)</h1>
			<span class="lbtn logo">DGB생명</span>
			<button class="rbtn btn-txt">재설정</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st02">
		<div class="cont2">
			<section class="loginBox">
				<p class="login-txt1">로그인 버튼을 선택하면<br />패턴 인증화면으로 연결됩니다.</p>

				<div class="loginBtn_area">
					<button class="lbtn btn-st04" id="btnPatternLogin">로그인</button>
					<button class="lbtn btn-st08" id="btnPatternReg">패턴재설정</button>
				</div>

				<p class="login-link1"><a href="javascript:void(0)" class="circle_link2" id="btnPatternForgot">패턴을 잊어버리셨나요?</a></p>
			</section>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<div class="ico_siren">패턴 3번 이상 오류 시 잠금 설정됩니다.</div>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>