<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전체메뉴</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!--  화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>로그인 설정</h1>
			<button class="lbtn btn-back">이전</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
<!--side-menu-->
<div class="side-menu-wrap open"><!-- open -->
	<div class="side-menu-bg"></div>
	<div class="side-menu">
		<div class="side-menu-header">
				<button class="btn-home">홈으로</button>
				<a href="#"  class="fc-info"><span>홍길동 FC님</span></a>
			<div class="button-section">
				<button class="btn-speed">속도체크</button>
				<button class="btn-notice">알림</button>
				<button type="button" class="btn-close-side">닫기</button>
			</div>
			
		</div>

		<div class="side-menu-con">
			<ol class="depth-1">
				<li class="menu-1">
					<a data-in="#" class="sidebtn">고객/계약</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">고객관리</p>
							<ol class="depth-3">
								<li><a data-in="">고객등록</a></li>
								<li><a data-in="">고객조회</a></li>
								<li><a data-in="">고객동의 목록조회</a></li>
								<li><a data-in="">적합성 진단</a></li>
							</ol>
						</li>
						<li>
							<p class="depth-3-tit">계약관리</p>
							<ol class="depth-3">
								<li><a data-in="">계약조회</a></li>
								<li><a data-in="">신정원 계약 및 한도조회</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="menu-2">
					<a data-in="#" class="sidebtn">가입제안/<br>청약</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">가입제안</p>
							<ol class="depth-3">
								<li><a data-in="">가입제안 처리</a></li>
								<li><a data-in="">가입제안 이력조회</a></li>
								<li><a data-in="">실손보상 중복가입조회</a></li>
								<li><a data-in="">간편문의</a></li>
							</ol>
						</li>
						<li>
							<p class="depth-3-tit">청약</p>
							<ol class="depth-3">
								<li><a data-in="">청약진행현황</a></li>
								<li><a data-in="">청약서 작성(계약자)</a></li>
								<li><a data-in="">청약서 작성(피보험자)</a></li>
								<li><a data-in="">청약서 작성(수익자)</a></li>
								<li><a data-in="">모바일청약진행대상(FC)</a></li>
								<li><a data-in="">청약보완진행목록</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="menu-3">
					<a data-in="#" class="sidebtn">선심사<br>Self UW</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">선심사</p>
							<ol class="depth-3">
								<li><a data-in="">선심사 신청</a></li>
							</ol>
						</li>
						<li>
							<p class="depth-3-tit">Self UW</p>
							<ol class="depth-3">
								<li><a data-in="">Self UW 신청</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="menu-4">
					<a data-in="#" class="sidebtn">기타</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">보장분석</p>
							<ol class="depth-3">
								<li><a data-in="">상품안내장</a></li>
								<li><a data-in="">기타자료</a></li>
								<li><a data-in="">공지사항</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="menu-5">
					<a data-in="#" class="sidebtn">인증센터</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">인증센터</p>
							<ol class="depth-3">
								<li><a data-in="">카카오페이 인증관리</a></li>
								<li><a data-in="">간편인증(지문) 관리</a></li>
								<li><a data-in="">간편인증(비밀번호) 관리</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="menu-6"><!-- 11.02 추가 -->
					<a data-in="#" class="sidebtn">청약보완</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">청약보완</p>
							<ol class="depth-3">
								<li><a data-in="">청약보완</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li class="menu-7"><!-- 11.02 추가 -->
					<a data-in="#" class="sidebtn">설계지원</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">설계지원</p>
							<ol class="depth-3">
								<li><a data-in="">설계지원</a></li>
							</ol>
						</li>
					</ol>
				</li>
				
				<li class="menu-8"><!-- 11.02 추가 -->
					<a data-in="#" class="sidebtn">자료실</a>
					<ol class="depth-2">
						<li>
							<p class="depth-3-tit">자료실</p>
							<ol class="depth-3">
								<li><a data-in="">자료실</a></li>
							</ol>
						</li>
					</ol>
				</li>
			</ol>
			
			<div class="side-menu-btm">
				<button class="btn-logout"><span>로그아웃</span></button>
			</div>
		</div>
	</div>
</div>
<!--//side-menu-->
		</div>
	</header>
	<!-- //header -->

		<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll">
	</div>

</div>
<!--// 화면 영역 -->

</body>
</html>
