<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>은행선택</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>은행선택</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tab 고정영역 -->
	<div>
		<ul class="tab">
			<li class="on"><button>은행</button></li>
			<li><button>증권사</button></li>
		</ul>
	</div>

	<!-- body_tabcontents 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="cont1">
			<ul class="bank-list">
				<li><button>국민</button></li>
				<li><button>기업</button></li>
				<li><button>농협</button></li>
				<li><button>신한<br />(구조흥포함)</button></li>
				<li><button>우체국</button></li>
				<li><button>SC(스탠다드<br />차티드)</button></li>
				<li><button>KEB하나<br />(구외환포함)</button></li>
				<li><button>한국씨티<br />(구한미)</button></li>
				<li><button>우리</button></li>
				<li><button>경남</button></li>
				<li><button>광주</button></li>
				<li><button>대구</button></li>
				<li><button>도이치</button></li>
				<li><button>부산</button></li>
				<li><button>산업</button></li>
				<li><button>수협</button></li>
				<li><button>전북</button></li>
				<li><button>제주</button></li>
				<li><button>새마을금고</button></li>
				<li><button>신용협동조합</button></li>
				<li><button>홍콩상하이<br />(HSBC)</button></li>
				<li><button>상호저축은행<br />중앙회</button></li>
				<li><button>뱅크오브<br />아메리카</button></li>
				<li><button>케이뱅크</button></li>
				<li><button>카카오뱅크</button></li>
				<li><button>제이피<br />모간체이스</button></li>
				<li><button>비엔피파리바</button></li>
				<li class="border-bN"><button>산림조합</button></li>
				<li class="border-bN"><button>중국공상</button></li>
			</ul>
		</div>
	</div>

</div>
<!--// fullpopup 영역 -->

</body>
</html>