<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>사고보험금 청구 진행현황 상세조회</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>사고보험금 청구 진행현황 상세조회</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll">
		<h2 class="h2-st04">보험금 청구내용</h2><!-- 2018-04-24 -->
		<div class="cont1">
			<table class="tb-data ta-l">
				<thead>
					<tr>
						<th scope="cols" class="w40p">구분</th>
						<th scope="cols">내용</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="rows">증권번호</th>
						<td>2001020203</td>
					</tr>
					<tr>
						<th scope="rows">청구번호</th>
						<td>20171201-234</td>
					</tr>
					<tr>
						<th scope="rows">진행현황</th>
						<td class="fc-blue">청구 중</td>
					</tr>
					<tr>
						<th scope="rows">상품명</th>
						<td>프리미엄건강보험무배당</td>
					</tr>
					<tr>
						<th scope="rows">계약자</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th scope="rows">피보험자</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th scope="rows">사고일</th><!-- 2018-05-09 -->
						<td>2017.12.12 </td>
					</tr>
					<tr>
						<th scope="rows">접수일</th><!-- 2018-05-09 -->
						<td>2017.12.12 </td>
					</tr>
					<tr>
						<th scope="rows">일반</th>
						<td>데이터 확인 필요</td>
					</tr>
					<tr>
						<th scope="rows">실손</th>
						<td>데이터 확인 필요</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h2 class="h2-st04">보험금 지급현황</h2>
		<div class="cont1">
			<table class="tb-data ta-l">
				<thead>
					<tr>
						<th scope="cols" class="w40p">구분</th>
						<th scope="cols">내용</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="rows">지급일</th>
						<td>2017.12.25</td>
					</tr>
					<tr>
						<th scope="rows">지급보험금(원)</th>
						<td>150,000원</td>
					</tr>
					<tr>
						<th scope="rows">수령인</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th scope="rows">은행명</th>
						<td>국민은행</td>
					</tr>
					<tr>
						<th scope="rows">계좌번호</th>
						<td>854-21-2354-304</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st01" >확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>