<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>사고보험금 접수</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body class="etc-0022e">

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>사고보험금 접수</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역 -->
	<div>
		<div class="d-step">
			<h2>4. 신청내용확인 및 본인인중</h2>
			<p class="d-step-status">
				<span>1</span> / <span>2</span> / <span>3</span> / <span class="on">4</span> / <span>5</span>
			</p>
		</div>
	</div>

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<ul class="link-list-st01">
			<li>
				<ul class="line-list-st01">
					<li>
						<label>신청종류</label>
						<p>자녀보험금 접수</p>
					</li>
					<li>
						<label>피보험자</label>
						<p>홍만득(2016.12.12)</p>
					</li>
					<li>
						<label>수익자</label>
						<p>홍길동(1977.10.23)</p>
					</li>
					<li>
						<label>수익자 송금계좌</label>
						<p>국민은행/7788010418****</p>
					</li>
					<li>
						<label>발생원인</label>
						<p>일반재해</p>
					</li>
					<li>
						<label>청구내용</label>
						<p>골절진단,입원,수술,통원</p>
					</li>
					<li>
						<label>사고(발병)일시</label>
						<p>2018.02.02 09:30</p><!-- 2018-05-09 -->
					</li>
				</ul>
			</li>
		</ul>
		<div class="cont1">
			<h3 class="h2-st03">SMS 본인 인증</h3>
			<div class="certi-setting">
				<li><button class="sms">SMS 본인 인증</button></li>
			</div>
			<p class="cont1 fc-blue ta-c">본인 인증이 완료되었습니다.</p>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st02">이전</button>
			<button class="lbtn btn-st01">다음</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>