<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>상세</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1 data-id="title">제목일이삼사오육칠팔구십일이삼사</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="cont1" data-id="ctt">
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
			내용<br /><p></p>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<dl class="file-down" data-id="files">
			<dt>첨부<br />파일</dt>
			<dd>
				<ul>
					<li>
						ICE-Breaking 자료.pdf
						<button class="btn-gray">미리보기</button>
					</li>
					<li>
						ICE-Breaking 자료.pdf
						<button class="btn-gray">미리보기</button>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="fullpop-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01" data-id="close">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>