<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>사고보험금 접수</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body class="etc-0010e">

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>사고보험금 접수</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역 -->
	<div>
		<div class="d-step">
			<h2>1. 사고보험금접수안내</h2>
			<p class="d-step-status">
				<span class="on">1</span> / <span>2</span> / <span>3</span> / <span>4</span> / <span>5</span>
			</p>
		</div>
	</div>


	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<ul class="link-list-st01">
			<li>
				<div class="h-group">
					<h3 class="h2-st03">고객동의 정보확인</h3>
					<button class="sbtn-5 btn-st02 pos-ar">고객검색</button>
				</div>
				<ul class="line-list-st01">
					<li>
						<label>이름</label>
						<p>홍길동</p>
					</li>
					<li>
						<label>주소</label>
						<p>00000<br />서울시 영등포구 여의도동 20-21 한양아파트 <br />201동 202호</p>
					</li>
					<li>
						<label>휴대폰번호</label>
						<p>010-****-1234</p>
					</li>
					<li>
						<label>E-Mail</label>
						<p>dgblife****@gmail.com</p>
					</li>
				</ul>
				<div class="cont1"><!-- 2018-06-12 -->
					<ul class="bul-list-st01">
						<li class="fs-26">고객정보변경은 고객주소/연락처변경 메뉴에서 하실 수 있습니다.</li>
					</ul>
					<p class="ta-r"><button class="sbtn-3 btn-st03">고객주소/연락처 변경</button></p>
				</div>
			</li>
			<li>
				<div class="h-group">
					<h3 class="h2-st03">접수가능조건</h3>
				</div>
				<ul class="line-list-st01">
					<li>
						<label>본인보험금</label>
						<p>피보험자, 수익자 모두 본인</p>
					</li>
					<li>
						<label>자녀보험금</label>
						<p>피보험자가 미성년자녀일 때 수익자 본인(무보 중 1인)</p>
					</li>
					<li>
						<label>청구금액</label>
						<p>100만원이하</p>
					</li>
					<li>
						<label>청구사유</label>
						<p>입원/수술/통원/골절진단/실손의료비</p>
					</li>
				</ul>
				<ul class="cont1 bul-list-st01">
					<li>접수가능조건에 해당되지 않는 경우, 우편 또는 내방접수를 해 주시기 바랍니다.</li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st01">신청</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->


</body>
</html>