<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>안내페이지</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>안내페이지</h1>
		</div>
	</header>
	<!-- //header -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll etc-0170e-bg">
		<div class="cont1">

			<p><em>일시적인 장애</em>로<br />시스템이 정상 운영되지 못합니다.</p>
			<p>잠시 후에 진행하시기 바랍니다.</p>

			<div class="help-banner">
				<p class="tit">HELP DESK</p>
				<p class="tel-no">02-2087-9595</p>
			</div>

		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st01">App 종료하기</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>