<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>본인인증</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>본인인증</h1>
			<!-- 적합성 진단
			<button class="lbtn btn-back">이전페이지 이동</button>
			-->	
			<button class="rbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- 적합성 진단 10.26 위치이동
	<div class="d-step">
		<h2>고객 인증</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
		</p>
	</div>
	-->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="auth-way bg-st01">
				<div class="txt"><em>인증밥법</em>을 선택해 주세요.</div>
				<ul class="auth-way-list">
					<li class="on"><!-- 적합성 진단 -->
						<a href="#" class="way01">
							<span>휴대폰<br>인증</span>
						</a>
					</li>
					<li>
						<a href="#" class="way02">
							<span>카카오페이<br>인증</span>
						</a>
					</li>
					<li>
						<a href="#" class="way03">
							<span>바이오<br>인증</span>
						</a>
					</li>
					<!-- 적합성 진단
					<li>
						<a href="#" class="way04">
							<span>신용카드<br>인증</span>
						</a>
					</li>
					 -->
				</ul>
				
				<!-- 10.23 삭제
				<ul class="toggle">
					<li>
						<div class="">
							<div class="title">
								<span class="ico-txt-st02">공통 안내사항</span>
							</div>
							<button type="button" class="btn-toggle">더보기</button>
						</div>
						<div class="">
							<div class="cont">
								<ul class="bul-list-st02">
									<li>정확한 정보를 입력한 후에도 인증에 실패하였다면 시스템 및 통신에러가 발생하여 브라우저 또는 통신상의 일시적인 장애 현상일 수 있으니 잠시	후 재시도해주시기 바라며 문제가 지속될 경우 NICE신용평가 
									<span class="fc-orange">고객센터(1600-1522)</span>로 문의 바랍니다.</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				-->
			</div>
			<!-- 10.23 추가 -->
			<div class="notice_box">
				<dl>
					<dt>공통 안내사항</dt>
					<dd>
						<ul class="bul-list-st01">
							<li>정확한 정보를 입력한 후에도 인증에 실패하였다면 시스템 및 통신에러가 발생하여 브라우저 또는 통신상의 일시적인 장애 현상일 수 있으니 잠시	후 재시도해주시기 바라며 문제가 지속될 경우 NICE신용평가 
							<span class="fc-orange">고객센터(1600-1522)</span>로 문의 바랍니다</li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- 10.23 -->
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>