<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약보완 안내</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약보완 안내</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- 9.18 삭제 
			<div class="top-notice">
				<p class="txt">효력이 있는 보험 계약 체결을 위해<br><em>2020년 5월 3일</em>까지 청약보완이 가능합니다.</p>
			</div>
			-->
			<div class="cont3 mab-n">
				<h2 class="h3-tit-ico01">모바일 청약보완 서비스</h2>
				<div class="stxt02">보험계약 심사과정 중 추가 서류 제출이 필요한 경우, 영업지점 재방문없이 모바일로 간편하게 제출할 수 있습니다.</div><!-- 9.18 수정 -->
			
				<h2 class="h3-tit-ico01">모바일 청약보완 절차</h2>
				<ol class="process-step">
					<li>
						<div class="item">
							<span class="no">01</span>
							<div class="scon">본인확인(휴대폰인증 등)</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">02</span>
							<div class="scon">청약보완 내용 확인</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">03</span>
							<div class="scon">청약보완 내용 등록</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">04</span>
							<div class="scon">완료</div>
						</div>
					</li>
				</ol>

				<a href="#" class="btn-guide-link">
					<div>
						<strong class="stit">모바일 전자서명</strong>
						<span class="stxt">처음 이용 고객을 위한 이용가이드</span>
					</div>
				</a>
			</div>

			<ul class="toggle">
				<li>
					<div class="toggle-header">
						<div class="title rbtn">
							<h2 class="stit">진행 전 안내 사항</h2>
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont1 bg-st01">
							<div class="box-gray">
								<ul class="bul-list-st02">
									<li>개인정보보호 및 안전한 계약체결을 위해 계약자의 본인명의 휴대폰으로만 청약보완이 가능합니다.</li>
									<li>효력이 있는 보험 계약 체결을 위해 청약보완 사항은 0000년 00월 00까지 전자서명이 가능합니다.</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">청약보완 시작</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>