<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입내용 확인</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>가입내용 확인</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="notice-txt">
				<p class="icoTxt">보험상품의 가입 내용과 보완사유를 확인하세요.</p>
			</div>
			<div class="data-list">
				<div class="title">매월생활비 주는 암보험(무) 1511 [갱신형]</div>
				<ul class="list">
					<li>
						<span class="stit">증권번호</span>
						<span class="scon">219090001234</span>
					</li>
					<li>
						<span class="stit">계약자/피보험자</span>
						<span class="scon">홍길동/홍길동</span>
					</li>
					<li>
						<span class="stit">계약일자</span>
						<span class="scon">2020.03.21</span>
					</li>
					<li>
						<span class="stit">보험료</span>
						<span class="scon">200,000원</span>
					</li>
					<li>
						<span class="stit">지점/설계사</span>
						<span class="scon">종각지점/이서진</span>
					</li>
				</ul>
			</div>
			<div class="dl-list-cont">
				<dl class="dl-list">
					<dt>보완사유</dt>	
					<dd>
						<div>
							<span class="stit">수익자 지정동의서 첨부</span>
						</div>
						<a href="#"><span>상세내용</span></a>
						<!-- 레이어팝업 영역 -->
						<div class="dpop-layer2 none">
							<div class="dpop-container">
								<div class="info-box">
									<h2 class="info-tit">제목제목</h2><!-- 10.6 추가 -->
									<div class="info-con">보완사유 내용보완사유 내용보완사유 내용보완사유 내용보완사유 내용보완사유 내용보완사유 내용보완사유 내용보완사유 내용</div>
								</div>
								<button type="button" class="btn-pop-close">닫기</button>
							</div>
						</div>
						<!--// 레이어팝업 영역 -->
					</dd>
				</dl>
				<dl class="dl-list">
					<dt>보완서류 확인</dt>
					<dd>
						<button type="button" class="btn-confirm">
							<span class="flag flag-st08">미확인</span>
							<span class="stit">수익자 지정동의서</span><!-- 9.18 수정 -->
							<!--
								미확인 : flag-st08
								확인  : flag-st07
							-->
						</button>
					</dd>
					<dd>
						<button type="button" class="btn-confirm">
							<span class="flag flag-st07">확인</span>
							<span class="stit">보완문서 작성</span>
						</button>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">청약보완발송</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>