<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>설계사 서명(청약보완)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>설계사 서명(청약보완)</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="box-bg-st01"><!-- 9.18 수정 -->
				이 화면은 청약 심사 중 계약내용의 변경, 부담보 특약신청, 기타<br>
				서류제출이 필요할 때 설계사가 계약자(피보험자)에게 URL로 양식을<br>
				발송하고 계약자(피보험자)가 모바일 서명을 통해 해당 서류를 제출하는<br>
				서비스 입니다.<br>
				<p class="txt fc-blue">모바일 URL을 발송을 위해 사원 번호로 로그인하여<br> 자필서명 해주세요.</p>
			</div>
			
			<div class="login-box">
				<div class="tit-box">
					<h2 class="h2-tit-st01">설계사 로그인</h2>
				</div>
				<ul class="write-st02">
					<li>
						<label for="log-no">사원번호</label><input type="text" class="inp-wrap" id="log-no" placeholder="입력">
					</li>
					<li>
						<label for="log-pw">비밀번호</label><input type="text" class="inp-wrap" id="log-pw" placeholder="입력">
					</li>
				</ul>
				<div class="btnArea">
					<button type="button" class="mbtn btn-st11"><span>인증하기</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">로그인</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>