<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>보완문서 작성</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>보완문서 작성</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="notice-txt btm-line">
				<p class="icoTxt">반드시 피보험자 본인이 작성하시기 바랍니다.</p>
			</div>
			<div class="cont1 contract-info">
				<div class="tit-box mab-n">
					<h2 class="h3-tit-st01">수익자 지급비율을 입력해주세요.</h2><!-- 9.18 수정 -->
				</div>
				<ul class="write-st02 provide-per">
					<li>
						<label for="la1" class="label-txt">만기·생존시 수익자</label>
						<div class="dform">
							<input type="text" class="inp-wrap" value="홍길동" disabled>
							<input type="tel" class="inp-wrap ta-r" id="la1" value="100">
							<span class="per">%</span>
						</div>
					</li>
					<li>
						<label for="la2" class="label-txt w40p">입원·장해시 수익자</label>
						<div class="dform gapil-box">
							<input type="text" class="inp-wrap" value="홍길동" disabled>
							<span class="gapil inp-wrap ta-r"><!-- 정렬 : ta-r, ta-l 기본 센터 -->
								<label for="la2">100</label>
								<input type="tel" class=" ipt" id="la2">
							</span>
							<span class="per">%</span>
						</div>
					</li>
					<li>
						<label for="la3_1" class="label-txt w40p">사망시 수익자</label>
						<div class="dform">
							<input type="text" class="inp-wrap" value="홍길동" disabled>
							<input type="tel" class="inp-wrap ta-r" id="la3_1" value="60">
							<span class="per">%</span>
						</div>
						<div class="dform">
							<input type="text" class="inp-wrap" value="홍길즌" disabled>
							<input type="tel" class="inp-wrap ta-r" id="la3_2" value="30">
							<span class="per">%</span>
						</div>
						<div class="dform">
							<input type="text" class="inp-wrap" value="홍길석" disabled>
							<input type="tel" class="inp-wrap ta-r" id="la3_3" value="10">
							<span class="per">%</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>