<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>휴대폰 자필서명</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>휴대폰 자필서명</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="sign-cont">
				<ul class="bul-list-st02">
					<li>본인은 DGB생명과 체결한 보험계약에서 관련 보완사항이 있는 것을 설계사에게 들었습니다.</li>
					<li>이에 본인은 보완사항을 확인하고 변경된 내용으로 계약이 체결되는 것에동의하여 자필서명을 진행합니다.</li>
				</ul>
				<div class="sign-chk-btn">
					<input type="checkbox" id="sign-chk">
					<label for="sign-chk">확인</label>
				</div>
			</div>
			
			<div class="cont1 bg-st01">
				<div class="sign-area">
					<span class="sign-tit">(이름/NAME)</span>
					<div class="sign-box">
						<span class="bg-sign">이서진</span>
					</div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>

				<div class="sign-area">
					<span class="sign-tit">(서명/날인/SIGN)</span>
					<div class="sign-box"></div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>