<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입내용/보완사유 확인</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>가입내용/보완사유 확인</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="notice-txt">
				<p class="icoTxt">보험상품의 가입 내용과 보완사유를 확인하세요.</p>
			</div>
			<div class="data-list">
				<div class="title">매월생활비 주는 암보험(무) 1511 [갱신형]</div>
				<ul class="list">
					<li>
						<span class="stit">증권번호</span>
						<span class="scon">219090001234</span>
					</li>
					<li>
						<span class="stit">계약자/피보험자</span>
						<span class="scon">홍길동/홍길동</span>
					</li>
					<li>
						<span class="stit">계약일자</span>
						<span class="scon">2020.03.21</span>
					</li>
					<li>
						<span class="stit">보험료</span>
						<span class="scon">200,000원</span>
					</li>
					<li>
						<span class="stit">지점/설계사</span>
						<span class="scon">종각지점/이서진</span>
					</li>
				</ul>
			</div>
			<div class="dl-list-cont">
				<dl class="dl-list">
					<dt>보완사유</dt>	
					<dd>
						<div>
							<span class="stit">직업고지 불확실</span>
						</div>
						<a href="#"><span>상세내용</span></a>
					</dd>
				</dl>
				<dl class="dl-list">
					<dt>보완서류 확인</dt>
					<dd>
						<button type="button" class="btn-confirm">
							<span class="flag flag-st08">미확인</span>
							<span class="stit">청약서</span>
							<!--
								미확인 : flag-st08
								확인  : flag-st07
							-->
						</button>
					</dd>
					<dd>
						<button type="button" class="btn-confirm">
							<span class="flag flag-st07">확인</span>
							<span class="stit">보완문서 작성</span>
							<!--
								미확인 : flag-st08
								확인  : flag-st07
							-->
						</button>
					</dd>
				</dl>
				<!-- 추가서류 제출 -->
				<div class="tit-box">
					<div class="tit">추가체출 서류</div>
					<div class="r-box">
						<button type="button" class="sbtn-bdr-1 bdr-st02 w70"><span>첨부</span></button>
					</div>
				</div>
				<!-- 11.06 추가 -->
				<div class="file-list-wrap">
					<!-- 
					<p class="fc-blue mat_20">현재개수 : <strong>12</strong>/20,  현재용량 : <strong>19MB</strong>/20MB</p>
					-->
					<ol class="file-list">
						<li>
							<span class="file-name">201802040003abcd201802040003abcd20180ㅁㅇㄻㅇㄻㅇㄹ</span>
							<button class="del-list">파일삭제</button>
						</li>
						<li>
							<span class="file-name">201802040003abcd201802040003abcd20180ㅁㅇㄻㅇㄻㅇㄹ</span>
							<button class="del-list">파일삭제</button>
						</li>
						<li>
							<span class="file-name">201802040003abcd201802040003abcd20180ㅁㅇㄻㅇㄻㅇㄹ</span>
							<button class="del-list">파일삭제</button>
						</li>
					</ol>
				</div>
				<!-- //11.06 추가 -->
				<!-- //추가서류 제출 -->
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>