<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>보완문서 작성</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>보완문서 작성</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="notice-txt btm-line">
				<p class="icoTxt">변경 청약 안내사항에 답변해주세요.</p>
			</div>
			<div class="cont1">
				<ol class="qaBox">
					<li>
						<div class="qaBox-q"><span class="no">01</span>변경청약 관련하여 기본보험료 또는 보험가입금액이 감액되는 경우 해지환급금이 없거나 최초 가입시 안내한 해지환급금보다 적어질 수 있음을 모집인으로부터 설명들으셨으며 이에 동의하십니까?</div>
						<div class="qaBox-a checkBox-st01">
							<input type="radio" id="Q1-1" name="Q1"><label for="Q1-1">예</label>
							<input type="radio" id="Q1-2" name="Q1"><label for="Q1-2">아니오</label>
						</div>
					</li>

					<li>
						<div class="qaBox-q"><span class="no">02</span>최초 작성 후 제공받으신 상품설명서의 해지환급금 예시 등이 변경청약으로 인해 변경된다는 내용을 모집인으로부터 설명들으셨으며 이에 대해 동의하십니까?</div>
						<div class="qaBox-a checkBox-st01">
							<input type="radio" id="Q2-1" name="Q2"><label for="Q2-1">예</label>
							<input type="radio" id="Q2-2" name="Q2"><label for="Q2-2">아니오</label>
						</div>
					</li>

					<li>
						<div class="qaBox-q"><span class="no">03</span>감액되는 주계약 또는 특약으로 인해 변경되는 보장내역에 대해 모집인으로부터 설명들으셨으며 이에 대해 동의하십니까?</div>
						<div class="qaBox-a checkBox-st01">
							<input type="radio" id="Q3-1" name="Q3"><label for="Q3-1">예</label>
							<input type="radio" id="Q3-2" name="Q3"><label for="Q3-2">아니오</label>
						</div>
					</li>

					<li>
						<div class="qaBox-q"><span class="no">04</span>최초 교부된 상품설명서의 내용과 변경 청약된 사항의 차이에 대해 이의 제기하지 않을 것을 동의하십니까?</div>
						<div class="qaBox-a checkBox-st01">
							<input type="radio" id="Q4-1" name="Q4"><label for="Q4-1">예</label>
							<input type="radio" id="Q4-2" name="Q4"><label for="Q4-2">아니오</label>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>