<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입설계를 위한 개인(신용)정보 처리 동의서</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head ">
			<h1>동의서</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="consent-titBox">
			<h2>가입설계를 위한 개인(신용)정보 처리 동의서</h2>
			<p class="h-desc ta-r">동의서번호 <em class="fc-blue bold maL-5" id="CU0100P_agdcNum">2455904</em></p>
		</div>
		<div class="consent-titBox">
			<p class="dform square02">
				<label for="la0-1" class="fc_000 bold"><input id="la0-1" type="checkbox" checked />아래 사항에 대해 전체 동의함</label>
			</p>
		</div>

		<div class="cont1 border-t">
			<h3 class="h3-st04">1. 개인(신용)정보의 수집ㆍ이용에 관한 사항</h3>

			<ul class="consentBox-li">
				<li>
					<div class="chk-form">
						<label for="la1">당사 및 <u>당사 업무 수탁자</u>는 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>귀하의 개인(신용)정보를 다음과 같이 수집ㆍ이용하고자 합니다. 이에 대하여 동의하십니까?</em></label>
						<p class="dform square02">
							<label for="la1-1" class="fc_000 bold"><input id="la1-1" type="checkbox" checked />동의함</label>
						</p>
					</div>
					<div class="button-section mab-n">
						<button class="btn-openclose on">상세내용</button><!-- 2018-05-23 닫히는 경우 class="on" 삭제 -->
					</div>
					<div class="subBox-li"><!-- 닫히는 경우 class="none" 추가  -->
						<h4 class="tit-st01">개인(신용)정보 수집ㆍ이용 목적</h4>
						<ul>
							<li>보험계약상담, 보험계약 인수여부 결정을 위한 판단, 재무설계서비스, 실손의료비보험 중복확인을 위한 타사보험 가입조회</li>
						</ul>

						<h4 class="tit-st01">수집ㆍ이용할 개인(신용)정보의 내용</h4>
						<ul>
							<li>개인식별정보(성명, 주민(외국인)등록번호, 주소, 직업, (휴대)전화번호, 전자우편주소, 운전)</li>
							<li>질병 및 상해에 관한 정보</li>
							<li><u>당사, 신용정보집중기관 및 보험요율산출기관에서 수집ㆍ관리</u>하는 보험계약정보 및 보험금지급 관련 정보(사고정보 포함)</li>
						</ul>

						<h4 class="tit-st01">개인(신용)정보의 보유ㆍ이용 기간</h4>
						<ul>
							<li>이용기간 : 수집ㆍ이용 동의일로부터 3개월까지</li>
							<li>보유기간 : 수집ㆍ이용 동의일로부터 1년까지</li>
						</ul>
					</div>
				</li>
			</ul>

			<h3 class="h3-st04">2. 개인(신용)정보의 조회에 관한 사항</h3>
			<ul class="consentBox-li">
				<li>
					<div class="chk-form">
						<label for="la2">당사 및 당사 업무수탁자는 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>귀하의 개인(신용)정보를 다음과 같이 신용정보집중기관, 보험료율산출기관 등으로부터 조회하고자 합니다. 이에 대하여 동의하십니까?</em></label>
						<p class="dform square02">
							<label for="la2-1" class="fc_000 bold"><input id="la2-1" type="checkbox" checked />동의함</label>
						</p>
					</div>
					<div class="button-section mab-n">
						<button class="btn-openclose">상세내용</button><!-- 2018-05-23 열린 경우 class="on" 추가 -->
					</div>
					<div class="subBox-li none"><!-- 열린 경우 class="none" 삭제  -->
						<h4 class="tit-st01">개인(신용)정보의 조회목적</h4>
						<ul>
							<li>보험계약상담, 보험계약 인수여부 결정을 위한 판단(실손의료보험 중복가입여부 확인)</li>
						</ul>

						<h4 class="tit-st01">조회할 개인(신용)정보의 내용</h4>
						<ul>
							<li>신용정보집중기관 및 보험요율산출기관에서 수집ㆍ관리하는 정보(피보험자의 질병 및 상해에 관한 정보, 보험계약정보, 보험금지급정보)</li>
						</ul>

						<h4 class="tit-st01">조회동의 유효 기간 및 조회자(제공받은 자)의 개인(신용)정보의 보유ㆍ이용 기간</h4>
						<ul>
							<li>동의일로부터 보험계약의 청약시까지(최대 3개월)</li>
						</ul>
					</div>
				</li>
			</ul>

			<h3 class="h3-st04">3. 개인(신용)정보의 제공에 관한 사항(진단 및 계약적부 조사가 필요한 보험계약의 경우에 한함)</h3>
			<ul class="consentBox-li">
				<li>
					<div class="chk-form">
						<label for="la3">당사는 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>귀하의 개인(신용)정보를 다음과 같이 제3자에게 제공하고자 합니다. 이에 대하여 동의하십니까?</em></label>
						<p class="dform square02">
							<label for="la3-1" class="fc_000 bold"><input id="la3-1" type="checkbox" checked disabled/>동의함</label>
						</p>
					</div>
					<div class="button-section mab-n">
						<button class="btn-openclose">상세내용</button><!-- 2018-05-23 열린 경우 class="on" 추가 -->
					</div>
					<div class="subBox-li none"><!-- 열린 경우 class="none" 삭제  -->
						<h4 class="tit-st01">개인(신용)정보를 제공받는 자</h4>
						<ul>
							<li>병원, 의원 등 건강진단 관련 업무를 위탁받은자, 계약적부 조사를 위탁받은 자(진료 및 계약적부 조사가 필요한 보험계약의 경우에 한함)</li>
							<li>재보험사</li>
						</ul>

						<h4 class="tit-st01">개인(신용)정보를 제공받는 자의 이용목적</h4>
						<ul>
							<li>건강진단업무(지정의 또는 파라메딕업체), 고지사항 확인(적부조사회사), 의료자문(사의)인수가능여부 확인(재보험사)</li>
						</ul>

						<h4 class="tit-st01">제공할 개인(신용)정보의 내용</h4>
						<ul>
							<li>개인식별정보(성명, 주민등록번호, 외국인등록번호, 주소, 성별, 직업, 전화번호, 휴대전화번호, 전자우편주소)</li>
							<li>계약전 알릴의무사항</li>
							<li>당사, 신용정보집중기관(생명ㆍ손해보험협회) 및 보험요율산출기관에서 수집ㆍ관리하는 보험계약정보 및 보험금 지급 관련 정보(사고정보 포함)<br />(단, 각 제공받는 자의 이용 목적을 위해 필요한 정보에 한함)</li>
						</ul>

						<h4 class="tit-st01">제공받는 자의 개인(신용)정보 보유ㆍ이용기간</h4>
						<ul>
							<li>수집ㆍ이용 동의일로부터 3개월까지</li>
						</ul>

					</div>
				</li>
			</ul>

			<h3 class="h3-st04">4. 민감정보 및 고유식별정보의 처리에 관한 사항</h3>
			<ul class="consentBox-li">
				<li>
					<p class="tit-st01-desc2">당사 및 <u>당사 업무수탁자</u>는 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>상기의 개인(신용)정보에 대한 개별 동의사항에 대하여 다음과 같이 귀하의 민간정보(질병ㆍ상해정보) 및 고유식별정보(주민등록번호ㆍ외국인등록번호)를 처리(수집ㆍ이용ㆍ조회ㆍ제공)하고자 합니다. 이에 대하여 동의하십니까?</em></p>
					<div class="chk-form border-t pat_20">
						<label class="dform square02">질병ㆍ상해정보 처리
							<label for="la4-1" class="bold fc_000"><input id="la4-1" type="checkbox" checked />동의함</label>
						</label>
					</div>
					<div class="chk-form">
						<label class="dform square02">주민등록번호ㆍ외국인등록번호 처리
							<label for="la4-2" class="bold fc_000"><input id="la4-2" type="checkbox" checked />동의함</label>
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01" >확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</html>