<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>변액보험 보험계약자 정보확인서</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>변액보험 보험계약자 정보확인서</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_스크롤영역 -->
	<div class="fullpop-cont d-scroll">
		<div>
			<ol class="qa-list">
				<li>
					<dl>
						<dt>0. 취약금융소비자 해당여부</dt>
						<dd><label for="CU-0060P_chkAnsw0_1" class="dform square01"><input id="CU-0060P_chkAnsw0_1" type="radio" name="CU-0060P_chkAnsw0" value="2" />① 미해당</label></dd>
						<dd><label for="CU-0060P_chkAnsw0_2" class="dform square01"><input id="CU-0060P_chkAnsw0_2" type="radio" name="CU-0060P_chkAnsw0" value="1" />② 해당(65세 이상)</label></dd>
						<dd><label for="CU-0060P_chkAnsw0_3" class="dform square01"><input id="CU-0060P_chkAnsw0_3" type="radio" name="CU-0060P_chkAnsw0" value="0" />③ 해당(미성년자, 정신지체장애 등)</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>1. 귀하가 가입하고자 하는 금융상품은 어떤 것입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw1_1" class="dform square01"><input id="CU-0060P_chkAnsw1_1" type="radio" name="CU-0060P_chkAnsw1" value="3" />① 변액보험</label></dd>
						<dd><label for="CU-0060P_chkAnsw1_2" class="dform square01"><input id="CU-0060P_chkAnsw1_2" type="radio" name="CU-0060P_chkAnsw1" value="0" />② 일반보험</label></dd>
						<dd><label for="CU-0060P_chkAnsw1_3" class="dform square01"><input id="CU-0060P_chkAnsw1_3" type="radio" name="CU-0060P_chkAnsw1" value="0" />③ 주식∙채권 등 금융투자상품</label></dd>
						<dd><label for="CU-0060P_chkAnsw1_4" class="dform square01"><input id="CU-0060P_chkAnsw1_4" type="radio" name="CU-0060P_chkAnsw1" value="0" />④ 예금∙적금</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>2. 귀하가 변액보험을 가입하는 목적은 무엇입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw2_1" class="dform square01"><input id="CU-0060P_chkAnsw2_1" type="radio" name="CU-0060P_chkAnsw2" value="0" />① 장기저축을 통한 목돈마련</label></dd>
						<dd><label for="CU-0060P_chkAnsw2_2" class="dform square01"><input id="CU-0060P_chkAnsw2_2" type="radio" name="CU-0060P_chkAnsw2" value="0" />② 노후를 위한 연금마련</label></dd>
						<dd><label for="CU-0060P_chkAnsw2_3" class="dform square01"><input id="CU-0060P_chkAnsw2_3" type="radio" name="CU-0060P_chkAnsw2" value="0" />③ 위험에 대비한 가족의 보장자산 마련</label></dd>
						<dd><label for="CU-0060P_chkAnsw2_4" class="dform square01"><input id="CU-0060P_chkAnsw2_4" type="radio" name="CU-0060P_chkAnsw2" value="0" />④ 단기 재산 증식</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>3. 귀하의 월평균 소득은 어느 정도입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw3_1" class="dform square01"><input id="CU-0060P_chkAnsw3_1" type="radio" name="CU-0060P_chkAnsw3" value="4" />① 1000만원 초과</label></dd>
						<dd><label for="CU-0060P_chkAnsw3_2" class="dform square01"><input id="CU-0060P_chkAnsw3_2" type="radio" name="CU-0060P_chkAnsw3" value="3" />② 1000만원 이하</label></dd>
						<dd><label for="CU-0060P_chkAnsw3_3" class="dform square01"><input id="CU-0060P_chkAnsw3_3" type="radio" name="CU-0060P_chkAnsw3" value="2" />③ 500만원 초과</label></dd>
						<dd><label for="CU-0060P_chkAnsw3_4" class="dform square01"><input id="CU-0060P_chkAnsw3_4" type="radio" name="CU-0060P_chkAnsw3" value="1" />④ 200만원 이하</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>4. 귀하의 월평균 소득에서 보험료 지출이 차지하는 비중은 어느 정도입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw4_1" class="dform square01"><input id="CU-0060P_chkAnsw4_1" type="radio" name="CU-0060P_chkAnsw4" value="5" />① 10% 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw4_2" class="dform square01"><input id="CU-0060P_chkAnsw4_2" type="radio" name="CU-0060P_chkAnsw4" value="4" />② 10 ~ 20%</label></dd>
						<dd><label for="CU-0060P_chkAnsw4_3" class="dform square01"><input id="CU-0060P_chkAnsw4_3" type="radio" name="CU-0060P_chkAnsw4" value="3" />③ 20 ~ 30%</label></dd>
						<dd><label for="CU-0060P_chkAnsw4_4" class="dform square01"><input id="CU-0060P_chkAnsw4_4" type="radio" name="CU-0060P_chkAnsw4" value="2" />④ 30 ~ 50%</label></dd>
						<dd><label for="CU-0060P_chkAnsw4_5" class="dform square01"><input id="CU-0060P_chkAnsw4_5" type="radio" name="CU-0060P_chkAnsw4" value="1" />⑤ 50% 이상</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>5. 귀하가 보험료 재원으로 사용할 수 있는 순자산(자산-부채)은 어느 정도입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw5_1" class="dform square01"><input id="CU-0060P_chkAnsw5_1" type="radio" name="CU-0060P_chkAnsw5" value="5" />① 1억원 초과</label></dd>
						<dd><label for="CU-0060P_chkAnsw5_2" class="dform square01"><input id="CU-0060P_chkAnsw5_2" type="radio" name="CU-0060P_chkAnsw5" value="4" />② 1원원 이하</label></dd>
						<dd><label for="CU-0060P_chkAnsw5_3" class="dform square01"><input id="CU-0060P_chkAnsw5_3" type="radio" name="CU-0060P_chkAnsw5" value="3" />③ 5천만원 이하</label></dd>
						<dd><label for="CU-0060P_chkAnsw5_4" class="dform square01"><input id="CU-0060P_chkAnsw5_4" type="radio" name="CU-0060P_chkAnsw5" value="1" />④ 1천만원이하</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>6. 귀하의 현재 소득, 순자산 수준에서 보험료(월납 기준)로 추가 납부하실 수 있는 금액은 어느 정도입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw6_1" class="dform square01"><input id="CU-0060P_chkAnsw6_1" type="radio" name="CU-0060P_chkAnsw6" value="5" />① 100만원 초과</label></dd>
						<dd><label for="CU-0060P_chkAnsw6_2" class="dform square01"><input id="CU-0060P_chkAnsw6_2" type="radio" name="CU-0060P_chkAnsw6" value="4" />② 50~100만원</label></dd>
						<dd><label for="CU-0060P_chkAnsw6_3" class="dform square01"><input id="CU-0060P_chkAnsw6_3" type="radio" name="CU-0060P_chkAnsw6" value="3" />③ 30~50만원</label></dd>
						<dd><label for="CU-0060P_chkAnsw6_4" class="dform square01"><input id="CU-0060P_chkAnsw6_4" type="radio" name="CU-0060P_chkAnsw6" value="2" />④ 10~30만원</label></dd>
						<dd><label for="CU-0060P_chkAnsw6_5" class="dform square01"><input id="CU-0060P_chkAnsw6_5" type="radio" name="CU-0060P_chkAnsw6" value="1" />⑤ 10만원이하</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>7. 퇴직 등 향후 수입원 감소 등을 감안한 귀하의 보험료 납입 가능기간은 어느정도 입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw7_1" class="dform square01"><input id="CU-0060P_chkAnsw7_1" type="radio" name="CU-0060P_chkAnsw7" value="6" />① 20년 이상</label></dd>
						<dd><label for="CU-0060P_chkAnsw7_2" class="dform square01"><input id="CU-0060P_chkAnsw7_2" type="radio" name="CU-0060P_chkAnsw7" value="5" />② 20년 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw7_3" class="dform square01"><input id="CU-0060P_chkAnsw7_3" type="radio" name="CU-0060P_chkAnsw7" value="4" />③ 10년 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw7_4" class="dform square01"><input id="CU-0060P_chkAnsw7_4" type="radio" name="CU-0060P_chkAnsw7" value="1" />④ 7년 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw7_5" class="dform square01"><input id="CU-0060P_chkAnsw7_5" type="radio" name="CU-0060P_chkAnsw7" value="0" />⑤ 3년 미만</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>8. 귀하께서 생각하시는 보험계약의 유지기간은 어느 정도 입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw8_1" class="dform square01"><input id="CU-0060P_chkAnsw8_1" type="radio" name="CU-0060P_chkAnsw8" value="6" />① 30년 초과</label></dd>
						<dd><label for="CU-0060P_chkAnsw8_2" class="dform square01"><input id="CU-0060P_chkAnsw8_2" type="radio" name="CU-0060P_chkAnsw8" value="5" />② 20년~30년</label></dd>
						<dd><label for="CU-0060P_chkAnsw8_3" class="dform square01"><input id="CU-0060P_chkAnsw8_3" type="radio" name="CU-0060P_chkAnsw8" value="4" />③ 10년~20년</label></dd>
						<dd><label for="CU-0060P_chkAnsw8_4" class="dform square01"><input id="CU-0060P_chkAnsw8_4" type="radio" name="CU-0060P_chkAnsw8" value="1" />④ 7년~10년</label></dd>
						<dd><label for="CU-0060P_chkAnsw8_5" class="dform square01"><input id="CU-0060P_chkAnsw8_5" type="radio" name="CU-0060P_chkAnsw8" value="0" />⑤ 7년미만</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>9. 자녀결혼, 주택구입 등 자금수요로 보험계약을 10년이전에 중도해지할 가능성은 어느정도라고 예상합니까?</dt>
						<dd><label for="CU-0060P_chkAnsw9_1" class="dform square01"><input id="CU-0060P_chkAnsw9_1" type="radio" name="CU-0060P_chkAnsw9" value="5" />① 30% 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw9_2" class="dform square01"><input id="CU-0060P_chkAnsw9_2" type="radio" name="CU-0060P_chkAnsw9" value="4" />② 30%~50%</label></dd>
						<dd><label for="CU-0060P_chkAnsw9_3" class="dform square01"><input id="CU-0060P_chkAnsw9_3" type="radio" name="CU-0060P_chkAnsw9" value="3" />③ 50%~70%</label></dd>
						<dd><label for="CU-0060P_chkAnsw9_4" class="dform square01"><input id="CU-0060P_chkAnsw9_4" type="radio" name="CU-0060P_chkAnsw9" value="2" />④ 70%~90%</label></dd>
						<dd><label for="CU-0060P_chkAnsw9_5" class="dform square01"><input id="CU-0060P_chkAnsw9_5" type="radio" name="CU-0060P_chkAnsw9" value="1" />⑤ 90% 이상</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>10. 귀하의 펀드, 변액보험 등 금융투자상품 투자경험기간은 어느 정도 입니까?</dt>
						<dd><label for="CU-0060P_chkAnsw10_1" class="dform square01"><input id="CU-0060P_chkAnsw10_1" type="radio" name="CU-0060P_chkAnsw10" value="5" />① 2년 이상</label></dd>
						<dd><label for="CU-0060P_chkAnsw10_2" class="dform square01"><input id="CU-0060P_chkAnsw10_2" type="radio" name="CU-0060P_chkAnsw10" value="4" />② 2년 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw10_3" class="dform square01"><input id="CU-0060P_chkAnsw10_3" type="radio" name="CU-0060P_chkAnsw10" value="3" />③ 1년 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw10_4" class="dform square01"><input id="CU-0060P_chkAnsw10_4" type="radio" name="CU-0060P_chkAnsw10" value="2" />④ 6개월 미만</label></dd>
						<dd><label for="CU-0060P_chkAnsw10_5" class="dform square01"><input id="CU-0060P_chkAnsw10_5" type="radio" name="CU-0060P_chkAnsw10" value="1" />⑤ 투자경험 없음</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>11. 귀하께서 가입해보신 경험이 있는 상품을 모두 골라주세요(복수선택 가능)</dt>
						<!--  투자경험 없음을 체크시 모든 체크박스에 체크되어있는 체크박스를 해지해야함 -->
						<dd><label for="CU-0060P_chkAnsw11_1" class="dform square01"><input id="CU-0060P_chkAnsw11_1" type="checkbox" name="CU-0060P_chkAnsw11" value="6" />① 주식(관리종목, 투자위험종목), 주식형펀드(고수익추구), 선물옵션, ELW 등</label></dd>
						<dd><label for="CU-0060P_chkAnsw11_2" class="dform square01"><input id="CU-0060P_chkAnsw11_2" type="checkbox" name="CU-0060P_chkAnsw11" value="5" />② 주식(일반종목), 주식형 펀드(시장수익률추구), ELS/DLS(원금비보장), 채권(BBB-이하)등</label></dd>
						<dd><label for="CU-0060P_chkAnsw11_3" class="dform square01"><input id="CU-0060P_chkAnsw11_3" type="checkbox" name="CU-0060P_chkAnsw11" value="4" />③ 혼합형 펀드, CP/전단채(A4~A2), 채권(BBB0~BBB+), ELS(원금일부보장) 등</label></dd>
						<dd><label for="CU-0060P_chkAnsw11_4" class="dform square01"><input id="CU-0060P_chkAnsw11_4" type="checkbox" name="CU-0060P_chkAnsw11" value="3" />④ 채권형 펀드, 금융채, 채권(A-이상), ELB/DLB(원금보장), CP/전단채(A2+이상) 등</label></dd>
						<dd><label for="CU-0060P_chkAnsw11_5" class="dform square01"><input id="CU-0060P_chkAnsw11_5" type="checkbox" name="CU-0060P_chkAnsw11" value="2" />⑤ 변액보험</label></dd>
						<dd><label for="CU-0060P_chkAnsw11_6" class="dform square01"><input id="CU-0060P_chkAnsw11_6" type="checkbox" name="CU-0060P_chkAnsw11" value="1" />⑥ 투자경험 없음</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>12. 귀하께서는 투자하실 때 원금 보존과 투자수익률 중 어느 쪽을 중요하게 생각하십니까?</dt>
						<dd><label for="CU-0060P_chkAnsw12_1" class="dform square01"><input id="CU-0060P_chkAnsw12_1" type="radio" name="CU-0060P_chkAnsw12" value="8" />① 수익률을 중요시한다.</label></dd>
						<dd><label for="CU-0060P_chkAnsw12_2" class="dform square01"><input id="CU-0060P_chkAnsw12_2" type="radio" name="CU-0060P_chkAnsw12" value="5" />② 수익률이 어느 정도 되어야 한다.</label></dd>
						<dd><label for="CU-0060P_chkAnsw12_3" class="dform square01"><input id="CU-0060P_chkAnsw12_3" type="radio" name="CU-0060P_chkAnsw12" value="1" />③ 원금 보존을 중요하게 생각한다</label></dd>
						<dd><label for="CU-0060P_chkAnsw12_4" class="dform square01"><input id="CU-0060P_chkAnsw12_4" type="radio" name="CU-0060P_chkAnsw12" value="0" />④ 원금은 반드시 보존되어야 한다</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>13. 귀하께서는 투자상품을 가입 하실 때 어느 정도의 연간 수익률을 기대하십니까?</dt>
						<dd><label for="CU-0060P_chkAnsw13_1" class="dform square01"><input id="CU-0060P_chkAnsw13_1" type="radio" name="CU-0060P_chkAnsw13" value="8" />① 15% 초과</label></dd>
						<dd><label for="CU-0060P_chkAnsw13_2" class="dform square01"><input id="CU-0060P_chkAnsw13_2" type="radio" name="CU-0060P_chkAnsw13" value="6" />② 15% 이내</label></dd>
						<dd><label for="CU-0060P_chkAnsw13_3" class="dform square01"><input id="CU-0060P_chkAnsw13_3" type="radio" name="CU-0060P_chkAnsw13" value="5" />③ 10% 이내</label></dd>
						<dd><label for="CU-0060P_chkAnsw13_4" class="dform square01"><input id="CU-0060P_chkAnsw13_4" type="radio" name="CU-0060P_chkAnsw13" value="3" />④ 7% 이내</label></dd>
						<dd><label for="CU-0060P_chkAnsw13_5" class="dform square01"><input id="CU-0060P_chkAnsw13_5" type="radio" name="CU-0060P_chkAnsw13" value="1" />⑤ 3% 이내</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>14. 귀하께서는 투자 수익률을 얻기 위해 어느 정도의 손실을 감내할 수 있습니까?</dt>
						<dd><label for="CU-0060P_chkAnsw14_1" class="dform square01"><input id="CU-0060P_chkAnsw14_1" type="radio" name="CU-0060P_chkAnsw14" value="9" />① 원금 기준 50%이내는 감수할 수 있다</label></dd>
						<dd><label for="CU-0060P_chkAnsw14_2" class="dform square01"><input id="CU-0060P_chkAnsw14_2" type="radio" name="CU-0060P_chkAnsw14" value="7" />② 원금 기준 40%이내는 감수할 수 있다</label></dd>
						<dd><label for="CU-0060P_chkAnsw14_3" class="dform square01"><input id="CU-0060P_chkAnsw14_3" type="radio" name="CU-0060P_chkAnsw14" value="5" />③ 원금 기준 30%이내는 감수할 수 있다</label></dd>
						<dd><label for="CU-0060P_chkAnsw14_4" class="dform square01"><input id="CU-0060P_chkAnsw14_4" type="radio" name="CU-0060P_chkAnsw14" value="3" />④ 원금 기준 20%이내는 감수할 수 있다</label></dd>
						<dd><label for="CU-0060P_chkAnsw14_5" class="dform square01"><input id="CU-0060P_chkAnsw14_5" type="radio" name="CU-0060P_chkAnsw14" value="1" />⑤ 원금 기준 10%이내는 감수할 수 있다</label></dd>
						<dd><label for="CU-0060P_chkAnsw14_6" class="dform square01"><input id="CU-0060P_chkAnsw14_6" type="radio" name="CU-0060P_chkAnsw14" value="0" />⑥ 어떠한 경우에도 손실이 나면 안된다</label></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>15. 귀하께서는 특별계정 펀드내 주식이나 주식형 상품의 비중을 어느 정도로 구성하고 싶으십니까?</dt>
						<dd><label for="CU-0060P_chkAnsw15_1" class="dform square01"><input id="CU-0060P_chkAnsw15_1" type="radio" name="CU-0060P_chkAnsw15" value="9" />① 50% 이상</label></dd>
						<dd><label for="CU-0060P_chkAnsw15_2" class="dform square01"><input id="CU-0060P_chkAnsw15_2" type="radio" name="CU-0060P_chkAnsw15" value="7" />② 20%~50%</label></dd>
						<dd><label for="CU-0060P_chkAnsw15_3" class="dform square01"><input id="CU-0060P_chkAnsw15_3" type="radio" name="CU-0060P_chkAnsw15" value="5" />③ 10%~20%</label></dd>
						<dd><label for="CU-0060P_chkAnsw15_4" class="dform square01"><input id="CU-0060P_chkAnsw15_4" type="radio" name="CU-0060P_chkAnsw15" value="3" />④ 5%~10%</label></dd>
						<dd><label for="CU-0060P_chkAnsw15_5" class="dform square01"><input id="CU-0060P_chkAnsw15_5" type="radio" name="CU-0060P_chkAnsw15" value="1" />⑤ 5% 미만</label></dd>
					</dl>
				</li>
			</ol>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<input type="hidden" id="CU-0060P_getScore" />
		<div class="fullpop-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01"  id="CU-0060P_confirm">평가하기</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</html>