<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>개인(신용)정보 수집&middot;이용에 관한 동의</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head agree">
			<h1>개인(신용)정보 수집&middot;이용에 관한 동의</h1><!-- 9.23 -->
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="cont3">
				<h2 class="h3-st04">개인(신용)정보의 수집&middot;이용에 관한 사항</h2>

				<ul class="consentBox-li">
					<li>
						<div class="chk-form">
							<label for="la1">당사 및 당사 업무 수탁자가 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>귀하의 개인(신용)정보를 다음과 같이 수집&middot;이용하는데 동의하십니까?</em></label><!-- 9.23 수정 -->
							<p class="dform square02">
								<label for="la1-1" class="fc_000 bold"><input id="la1-1" type="checkbox" checked disabled>동의함</label>
							</p>
						</div>

						<div class="subBox-li"><!-- 9.23 전체 수정 -->
							<h3 class="tit-st01">수집&middot;이용 목적</h3>
							<ul>
								<li>보험계약 상담, 재무설계서비스, 보험계약 인수여부 판단</li>
							</ul>

							<h3 class="tit-st01">수집&middot;이용항목</h3>
							<ul>
								<li><u>개인식별정보 : 성명, 고유식별정보</u>, 성별, 주소, 직업(운전여부), 연락처, 이메일, 국내거소신고번호, 국적</li>
							</ul>

							<h3 class="tit-st01">보유&middot;이용기간</h3>
							<ul>
								<li>수집/이용 <em>동의일로부터 최대 1년</em></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">동의함</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>