<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>적합성진단 불원 대상안내</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>


<!-- 레이어팝업 영역: -->
<div class="dim-layer">
	<div class="dimBg"></div>

	<div id="layer1" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>적합성진단 불원 대상안내</h1>
				<button class="btn-pop-close">닫기</button>
			</div>

			<div class="dpop-conts d-scroll">
				<ul class="bul-list-st04 dot">
					<li>금융투자상품(변액보험 포함)을 1회 이상 거래한 경험이 있는 자</li>
					<li>전·현직 보험업 종사자(임직원,보험계리사,보험설계사,손해사정사 등)</li>
					<li>금융회사에서 5년 이상 근무한 자(보험업법 시행령 제 6조의2 제2조 제2항에서 규정하는 은행, 증권회사, 보험회사 등)
					</li>
					<li>비금융기관(일반기업)에서 재무 또는 회계분야에서 5년 이상 근무한 자</li>
				</ul>
			</div>
			<div class="dpop-footer">
				<button class="mbtn-2 btn-st02">불원유형 선택하기</button><!-- 9.25 수정 -->
			</div>
		</div>
	</div>
</div>
<!--// 레이어팝업 영역 -->

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>적합성 진단</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동  -->
	<div class="d-step">
		<h2>고객 조회</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span>2</span>
			<span>3</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">

			<div class="cont3">
				<ul class="write-st04 mab-n">
					<li>
						<label for="way-select">적합성 진단방법을 선택해주세요.</label>
						<div class="checkBox-st01 line-dot">
							<input type="radio" name="ra1" id="ra1_1" checked=""><label for="ra1_1">APP에서 진행</label>
							<input type="radio" name="ra1" id="ra1_2"><label for="ra1_2">옴니로 진행</label>
						</div>
					</li>
					<li>
						<label for="customer">적합성 진단을 실시할 고객을 선택해주세요.</label>
						<div class="search-box pdb-n">
							<input type="text" class="inp-wrap" readonly><!-- 조회 후 disabled 변경 -->
							<button class="sbtn-search-g">찾기</button>
						</div>
						<div>
							<input type="text" class="inp-wrap" value="010.1234.1234" readonly><!-- 조회 후 disabled 변경 -->
						</div>
					</li>
				</ul>
			</div>

			<ul class="toggle">
				<li>
					<div class="toggle-header">
						<div class="title rbtn">
							<h2 class="stit">적합성진단</h2>
							<button type="button" class="sbtn-bdr-1 bdr-st02"><span>위험성향 및 상품분류</span></button>
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont1 bg-st01">
							<div class="box-gray">
								<p class="stxt">적합성진단 설문을 하시면 고객님의 위험성향에 맞는 변액보험 가입상당 및 권유가 가능합니다.</p>
								<ul class="bul-list-st04">
									<li>변액보험가입을 희망하는 경우 적합성 진단을 해주셔야합니다.</li>
									<li>위험성향에 따라 가입 가능한 상품이 제한될 수있으며</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<div class="title">
							<h2 class="stit">위험성향 질문지란?</h2>
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont1 bg-st01">
							<div class="box-gray">
								<p class="stxt">보험엄법 제95조의 3항 및 생명보험협회 변액보험계약 권유준칙에 근거하고 있는 모든 생명보험회사가 시행하고 있는 제도입니다.</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22">적합성 진단 불원</button>
			<button class="lbtn btn-st04">적합성 진단 실시</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>