<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>고객진단이력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>고객진단이력</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="customer-info">
				홍길순 (37세/여자)
			</div>

			<div class="cont1">
				<ul class="bx-data-list">
					<li>
						<div class="item"><!-- 9.15 수정 -->
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-26">불원</span>
								<!-- 9.29 삭제
								<span class="score"><em>99</em> 점
									<span class="txt">진단결과</span>
								</span>
								-->
							</span>
						</div>
						<!--	상태값
								불원 : status-26
								위험회피형 : status-02
								안정추구형 : status-05
								위험중립형 : status-17
								적극투자형 : status-07
								위험선호형 : status-04
								부적합 : status-13
						-->
					</li>
					<li>
						<div class="item">
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-02">위험회피형</span>
								<span class="score"><em>70</em> 점</span><!-- 9.29 수정 -->
							</span>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-05">안정추구형</span>
								<span class="score"><em>52</em> 점</span><!-- 9.29 수정 -->
							</span>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-17">위험중립형</span>
								<span class="score"><em>52</em> 점</span><!-- 9.29 수정 -->
							</span>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-07">적극투자형</span>
								<span class="score"><em>52</em> 점</span><!-- 9.29 수정 -->
							</span>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-04">위험선호형</span>
								<span class="score"><em>52</em> 점</span><!-- 9.29 수정 -->
							</span>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="bx-top">
								<span class="stit">최근진단</span><span class="date">2019.07.12</span>
							</span>
							<span class="bx-info">
								<span class="status-13">부적합</span>
								<span class="score"><em>52</em> 점</span><!-- 9.29 수정 -->
							</span>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="bx-info">
								<span class="ico-txt-st02">진단 결과가 없습니다. </span>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st23">닫기</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// fullpopup 영역 -->

</body>
</html>