<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>적합성 진단</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>적합성 진단</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>불원유형 선택</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span>4</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">

			<div class="cont1 bg-st01">
				<h3 class="h3-tit-st01">적합성진단 불원확인<span>(유형확인)</span></h3>
				<ul class="label-list dform square02">
					<li>
						<div class="item">
							<input id="chk1_1" type="radio" name="type-select">
							<label for="chk1_1">금융투자상품(변액보험 포함)을 1회 이상 거래한 경험이 있는 자</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input id="chk1_2" type="radio" name="type-select">
							<label for="chk1_2">전·현직 보험업 종사자(임직원,보험거래사,보험설계사, 손해사정사 등)</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input id="chk1_3" type="radio" name="type-select">
							<label for="chk1_3">금융회사에서 5년 이상 근무한 자(보험업법 시행령 제6조의2 제2조 제2항에 규정하는 은행,증권회사,보험회사 등) </label>
						</div>
					</li>
					<li>
						<div class="item">
							<input id="chk1_4" type="radio" name="type-select">
							<label for="chk1_4">비금융기관(일반기업)에서 재무 또는 회계분야에서 5년 이상 근무한 자</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>