<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>적합성 진단</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>적합성 진단</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- d-step 10.26 위치 이동  -->
	<div class="d-step">
		<h2>고객동의</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="cont">
				<dl class="agree-cont">
					<dt>적합성 진단 고객확인<span>(동의)</span></dt>
					<dd><!-- 9.26 수정 -->
						본 확인서는 보험업법 제 95조의 3(적합성의 원칙), 자본시장과 금융투자
						업에 관한 법률 제 46조(적합성 원칙 등)에 따라 귀하의 연령,재상현황,
						보험가입의 목적 등을 파악하여 보험계약자에게 가장 적합한 보험계약체결을 권유하기 위한 기초자료로 활용됩니다.
						<br><br>
						<em>허위 또는 불성실한 답변</em>을 하시는 경우 부적합한 보험계약을 권유하게 될
						수 있으며 이로 인해 발생 하는 <em>모든 손해는 보험계약자 본인에게 귀속</em>되오니 유념하여 주시기 바랍니다.
						또한 귀하가 기대하는 특별계정(펀드)의 수익률이 높을수록 손실위험도 높아질 수 있으므로 유의하여 주시기 바랍니다.<br>
						보험설계사 등 <em>타인이 본 확인서를 대신 작성</em>하거나 귀하에게 <em>사실과 다른 내용의 답변을 기재하도록 유도</em>하는 것은
						불완전 판매에 해당합니다.
						<br><br>
						완전판매모니터링("해피콜")과정에서 불완전판매로 확인되는 경우, 보험가입이 거절될 수 있습니다.

					</dd>
				</dl>
				<div class="inp-btn-wrap">
					<div class="sign-chk-btn">
						<input type="checkbox" id="sign-chk">
						<label for="sign-chk">위 내용을 충분히 이해하였음을 확인함</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">확인(본인 인증)</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>