<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>선심사</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>선심사</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>추가서류 제출</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="notice-txt bg-st02 mab-n">
				<p class="txt">추가서류 제출은 사진 촬영 및 이미지파일 첨부로 진행이<br>
				가능합니다. 용량 문제로 서류 항목별 10장을 넘지 않도록<br>
				제출 부탁드립니다.
				<br>
				10장이 초과하는 경우 각 help desk를 통해 스캔바랍니다.
				</p>
			</div>
			
			<div class="cont3">
				<div class="tit-area">
					<h3 class="h3-tit-ico01">의적서류(메디컬)</h3>
					<div class="pos-ar">
						<button type="button" class="sbtn-bdr-1 bdr-st03 w60"><span>수정</span></button>
					</div>
				</div>

				<div class="box-line">
					<ul class="bul-list-st03"><!-- 9.17 수정 -->
						<li>
							의사소견서, 진단서, 의무기록지, 검사결과지, 검진결과지 등 병원에서 발급 받은 서류
						</li>
					</ul>
				</div>
			
				<div class="tit-area">
					<h3 class="h3-tit-ico01">재정서류</h3>
					<div class="pos-ar">
						<button type="button" class="sbtn-bdr-1 bdr-st06"><span>추가</span></button>
					</div>
				</div>

				<div class="box-line">
					<ul class="bul-list-st03"><!-- 9.17 수정 -->
						<li>
							근로소득원천징수 영수증, 사업자등록증,종합소득과세
							확정신고서, 대차대조표, 손익계산서 등
						</li>
					</ul>
				</div>

				<div class="tit-area">
					<h3 class="h3-tit-ico01">기타서류</h3>
					<div class="pos-ar">
						<button type="button" class="sbtn-bdr-1 bdr-st06"><span>추가</span></button>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>