<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>선심사</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>선심사</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="result-cont">
				<div class="result-top-txt">
					<strong class="fc-name">FC 홍길동 님,</strong>
					<p class="txt">이서진 고객님의 선심사 요청이 완료되었습니다.</p>
				</div>
				<div class="box-bg-st01">
					선심사 진행현황 및 상세내용은<br>
					선심사 진행 현황화면에서 확인이 가능합니다.
				</div>
				<div class="notice-txt">
					<span class="ico-txt-st02">하단 확인 버튼 선택시 이동</span>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>