<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>질병심사매뉴얼</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>질병심사매뉴얼</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->
	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="search">
				<ul>
					<li>
						<label for="log-no">질병코드/질병명</label><input type="text" class="inp-wrap" id="log-no" placeholder="입력">
					</li>
				</ul>
				<div class="btnArea">
					<button class="lbtn-search" type="submit">검색</button>
				</div>
			</div>
			<div>
				<h2 class="blind">검색결과 영역</h2>

				<!-- 검색 전 문구
				<div class="no-data dis align-c">질병을 검색하여<br/>사전 질병심사 인수결과를 확인해보세요.</div> -->
				<!-- 검색 후 문구
				<div class="no-data">검색결과가 없습니다.</div>-->

				<p class="result-txt">총 <span class="count">2</span>건이 검색되었습니다.</p>
				<div class="cont1">
					<ul class="bx-data-list">
						<li>
							<div class="box-line">
								<label class="bank-info dform circle01">
									<input type="radio" name="disRadio">
									<strong class="stit fc_000">[A00] 콜레라, 장티푸스 등 감염병 질환</strong>
								</label>
							</div>
						</li>
						<li>
							<div class="box-line">
								<label class="bank-info dform circle01">
									<input type="radio" name="disRadio">
									<strong class="stit fc_000">[A00] 콜레라, 장티푸스 등 감염병 질환</strong>
								</label>
							</div>
						</li>
						<li>
							<div class="box-line">
								<label class="bank-info dform circle01">
									<input type="radio" name="disRadio">
									<strong class="stit fc_000">[A00] 콜레라, 장티푸스 등 감염병 질환</strong>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04" >선택</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>