<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>Self UnderWriting</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>Self UnderWriting</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>질병 정보입력 - 고혈압</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span>4</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="contract-info">
				<div class="cont3">
					<div class="tit-box">
						<h3 class="h3-tit-st01">피보험자 정보</h3>
					</div>
					<ul class="write-st04 col-02 mab-n">
						<li>
							<label for="info1-1">키</label><!-- 9.17 수정 -->
							<div>
								<input type="text" class="inp-wrap" id="info1-1" value="180">
								<span class="dash">cm</span>
							</div>
						</li>
						<li>
							<label for="info1-2">몸무게</label>
							<div>
								<input type="text" class="inp-wrap" id="info1-2" value="75">
								<span class="dash">kg</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="cont3">
					<div class="tit-box">
						<h3 class="h3-tit-st01">최초 진단시기 및 사유</h3>
					</div>
					<ul class="write-st04">
						<li>
							<label for="info2-1">종류</label>
							<div class="checkBox-st01 flex-type">
								<input type="radio" name="info2-1" id="info2-1-1" checked=""><label for="info2-1-1">일차성<br>(본태성)</label>
								<input type="radio" name="info2-1" id="info2-1-2"><label for="info2-1-2">이차성</label>
								<input type="radio" name="info2-1" id="info2-1-3"><label for="info2-1-3">악성</label>
								<input type="radio" name="info2-1" id="info2-1-4"><label for="info2-1-4">임신성</label><!-- 9.17 -->
							</div>
						</li>
						<li>
							<label for="info2-2">진단시기</label>
							<div>
								<input type="number" class="inp-wrap" id="info2-2" value="2020.01">
								<input type="date" class="sbtn-calendar" title="달력보기">
							</div>
						</li>
						<li>
							<label for="info2-3">진단사유</label>
							<div>
								<ol class="label-list-st02">
									<li>
										<div class="item">
											<input type="radio" id="info2-3-1" name="info2-3">
											<label for="info2-3-1">정기검진</label>
										</div>
									</li>
									<li>
										<div class="item">
											<input type="radio" id="info2-3-2" name="info2-3">
											<label for="info2-3-2">증상이 있어서</label>
										</div>
									</li>
									<li>
										<div class="item">
											<input type="radio" id="info2-3-3" name="info2-3">
											<label for="info2-3-3">원인질환(신질환,심질환,종양,갑상선질환 등)이 있어서</label>
										</div>
									</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
				<div class="cont3">
					<div class="tit-box">
						<h3 class="h3-tit-st01">치료내용</h3>
					</div>
					<ul class="write-st04">
						<li>
							<label for="info3-1">현재 혈압</label>
							<div>
								<ul class="write-st04 col-02">
									<li>
										<label for="info3-1-1">수축기(최고)</label>
										<div>
											<input type="text" class="inp-wrap" id="info3-1-1" value="180">
										</div>
									</li>
									<li>
										<label for="info3-1-2">이완기(최저)</label>
										<div>
											<input type="text" class="inp-wrap" id="info3-1-2" value="75">
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<label for="info3-2">약물치료</label>
							<div class="checkBox-st01 col-02">
								<ul>
									<li><input type="radio" name="info3-2" id="info3-2-1"><label for="info3-2-1">매일 투약</label></li>
									<li><input type="radio" name="info3-2" id="info3-2-2"><label for="info3-2-2">가끔 투약</label></li>
									<li><input type="radio" name="info3-2" id="info3-2-3"><label for="info3-2-3">투약 안 함(의사 처방)</label></li>
									<li><input type="radio" name="info3-2" id="info3-2-4"><label for="info3-2-4">투약 안 함(자의)</label></li>
								</ul>
							</div>
						</li>
						<li>
							<label for="info3-3">입원 치료력</label>
							<div class="checkBox-st01">
								<input type="radio" name="info3-3" id="info3-3-1" checked=""><label for="info3-3-1">있음</label>
								<input type="radio" name="info3-3" id="info3-3-2"><label for="info3-3-2">없음</label>
							</div>
						</li>
					</ul>
				</div>
				<div class="cont3">
					<h3 class="h3-tit-st01">동반질환</h3>
					<div class="checkBox-st01 flex-type">
						<input type="radio" name="info4-1" id="info4-1-1" checked=""><label for="info4-1-1">있음</label>
						<input type="radio" name="info4-1" id="info4-1-2"><label for="info4-1-2">없음</label>
					</div>
					<ul class="write-st04 low-dep"><!-- 있음시 노출, 비노출(class=none) -->
						<li class="flex-none">
							<div class="dform square01 pdt-n">
								<label for="info4-2-1"><input type="checkbox" id="info4-2-1" name="info4-2">고지혈증</label>
								<label for="info4-2-2"><input type="checkbox" id="info4-2-2" name="info4-2">당뇨</label>
								<label for="info4-2-3"><input type="checkbox" id="info4-2-3" name="info4-2">심장질환</label>
								<label for="info4-2-4"><input type="checkbox" id="info4-2-4" name="info4-2">신장질환</label>
								<label for="info4-2-5"><input type="checkbox" id="info4-2-5" name="info4-2">안질환</label>
							</div>
						</li>
					</ul>
				</div>
				<div class="cont3">
					<div class="tit-box">
						<h3 class="h3-tit-st01">표적장기의 검사이상 여부</h3>
					</div>
					<ul class="write-st04">
						<li>
							<label for="info5-1">심혈관질환 검사결과 이상</label>
							<div class="checkBox-st01">
								<input type="radio" name="info5-1" id="info5-1-1" checked=""><label for="info5-1-1">예</label>
								<input type="radio" name="info5-1" id="info5-1-2"><label for="info5-1-2">아니오</label>
							</div>
						</li>
						<li>
							<label for="info5-2">고혈압망막증 검사결과 이상</label>
							<div class="checkBox-st01">
								<input type="radio" name="info5-2" id="info5-2-1" checked=""><label for="info5-2-1">예</label>
								<input type="radio" name="info5-2" id="info5-2-2"><label for="info5-2-2">아니오</label>
							</div>
						</li>
						<li>
							<label for="info5-3">신장질환 검사결과 이상</label>
							<div class="checkBox-st01">
								<input type="radio" name="info5-3" id="info5-3-1" checked=""><label for="info5-3-1">예</label>
								<input type="radio" name="info5-3" id="info5-3-2"><label for="info5-3-2">아니오</label>
							</div>
						</li>
						<li>
							<label for="info5-4">요검사결과 이상</label>
							<div class="checkBox-st01">
								<input type="radio" name="info5-4" id="info5-4-1" checked=""><label for="info5-4-1">예</label>
								<input type="radio" name="info5-4" id="info5-4-2"><label for="info5-4-2">아니오</label>
							</div>
						</li>
						<li>
							<label for="info5-5">말초동맥질환 검사결과 이상</label>
							<div class="checkBox-st01">
								<input type="radio" name="info5-5" id="info5-5-1" checked=""><label for="info5-5-1">예</label>
								<input type="radio" name="info5-5" id="info5-5-2"><label for="info5-5-2">아니오</label>
							</div>
						</li>
					</ul>
				</div>

				<div class="sign-cont align-c bg-st02"><!-- 9.17 -->
					<ul class="bul-list-st02">
						<li>가입제한 후 진행한 셀프심사는 청약과 연계되어 고지정보 이미지가 생성됩니다.</li>
						<li>상기 각 항에 대한 사항은 사실과 다름 없으며, 보험 대상자(피보험자) <em>본인이 직접 입력</em>하였음을 확인하였습니다. 또한 사실대로 알리지 않을 경우 <em>보험금 지급이 제한</em>될 수 있다는 사실도 확인하였습니다.</li>
					</ul>
					<div class="sign-chk-btn w240">
						<input type="checkbox" id="sign-chk">
						<label for="sign-chk">네,확인하였습니다.</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>