<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>연체계약 조회 상세</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>연체계약 조회 상세</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="cont1">
			<table class="tb-data ta-l">
				<caption>연체계약 구분 및 내용</caption>
				<thead>
					<tr>
						<th scope="cols" class=" w30p">구분</th>
						<th scope="cols">내용</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="rows">증권번호</th>
						<td id="CM-0160L_PLYNO">2001020208</td>
					</tr>
					<tr>
						<th scope="rows">설계사명</th>
						<td id="CM-0160L_FC_NAM">홍길동</td>
					</tr>
					<tr>
						<th scope="rows">상품명</th>
						<td id="CM-0160L_PRDCD">리치플랜S유니버셜종신보험(무)</td>
					</tr>
					<tr>
						<th scope="rows">고객명</th>
						<td id="CM-0160L_CS_NAM">김배우</td>
					</tr>
					<tr>
						<th scope="rows">주민등록번호</th>
						<td id="CM-0160L_RRN">770916-1*******</td>
					</tr>
					<tr>
						<th scope="rows">계약일</th>
						<td id="CM-0160L_CTYMD">2017.12.12</td>
					</tr>
					<tr>
						<th scope="rows">보험료</th>
						<td id="CM-0160L_GSPRE">100,000,000원</td>
					</tr>
					<tr>
						<th scope="rows">최종월도</th>
						<td id="CM-0160L_LAST_PYM_YYMM">2029.09</td>
					</tr>
					<tr>
						<th scope="rows">최종횟수</th>
						<td id="CM-0160L_LAST_PYM_NUMTM">50</td>
					</tr>
					<tr>
						<th scope="rows">납입방법</th>
						<td id="CM-0160L_PYPYC">계좌이체</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st01" id="CM-0160L_closePop">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>