<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>계약관계 상세보기</title><!-- 2018-05-09 -->
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>계약관계 상세보기</h1><!-- 2018-05-09 -->
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02"><!-- 2018-05-02 -->
		<div class="cont1">
			<table class="tb-data ">
				<caption>고객역할 및 이름</caption>
				<thead>
					<tr>
						<th scope="cols" class="w40p">고객역할</th>
						<th scope="cols">고객명</td>
					</tr>
				</thead>
				<tbody id="result_csRelation">
					<tr>
						<th scope="rows">계약자</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th scope="rows">피보험자</th>
						<td>김배우</td>
					</tr>
					<tr>
						<th scope="rows">종피보험자</th>
						<td>김배우</td>
					</tr>
					<tr>
						<th scope="rows">만기수익자</th>
						<td>김배우</td>
					</tr>
					<tr>
						<th scope="rows">장해수익자</th>
						<td>김배우</td>
					</tr>
					<tr>
						<th scope="rows">사망수익자1</th>
						<td>김배우</td>
					</tr>
					<tr>
						<th scope="rows">사망수익자2</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th scope="rows">사망수익자3</th>
						<td>홍길동</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st01" id="CM-0020L_btnCfrm">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>