<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>수금대상 건별조회</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>수금대상 건별 조회</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역 2018-05-15 -->
	<div class="search">
		<ul>
			<li class="cols-2">
				<select class="select" id="pymntMthd">
					<option>수금방법 선택</option>
					<option>전체</option>
					<option>자동이체</option>
					<option>방문</option>
					<option>직납</option>
					<option>카드</option>
					<option>급여이체</option>
					<option>지로</option>
				</select>
				<input class="inp-wrap" id="getDate" type="tel" placeholder="해당년월 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" />
			</li>
			<li class="cols-2">
				<select class="select" id="slctDate" disabled>
					<option>납입일 선택</option>
					<option>전체</option>
				</select>
				<select class="select" id="pySus">
					<option value="3">전체</option>
					<option value="4">해당</option>
					<option value="5">연체</option>
				</select>
			</li>
		</ul>
	</div>
	<div class="btnArea">
		<button class="lbtn-search" id="searchBtn">검색</button>
	</div>

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll" id="scroll">
		<h2 class="ui-hidden-accessible">검색결과 영역</h2>

	<!-- 검색 전 문구 -->
		<div class="no-data none" id="beforeSearch">검색조건을 입력하고 검색을 진행해 주세요.</div>
	<!-- 검색 후 문구 -->
		<div class="no-data none" id="afterSearch">검색결과가 없습니다.</div> 

		<div>
			<p class="result-txt none" id="resultCnt"></p>
			<ul class="link-list-st01" id="resultList">
				<li>
					<div class="tit-h2">
						<a class="link-go" href="#">
							<span class="pro-num">5160100021</span>
							<span class="pro-stit">프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당</span>
						</a>
						<p class="tit-h2-con"><!-- 2018-05-09 -->
							<span class="status-02">연체</span><!-- 연체, 입금완료 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01 col-02"><!-- 2018-05-09 -->
							<li>
								<span class="stit">계약일</span>
								<span class="scon">2018.03.05</span>
							</li>
							<li>
								<span class="stit">계약자</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">보험료</span>
								<span class="scon">150,000원</span>
							</li>
							<li>
								<span class="stit">최종납입월</span>
								<span class="scon">2018.03</span>
							</li>
						</ul>
					<article>
				</li>
				<li>
					<div class="tit-h2">
						<a class="link-go" href="#">
							<span class="pro-num">5160100021</span>
							<span class="pro-stit">프리미엄건강보험 무배당</span>
						</a>
						<p class="tit-h2-con"><!-- 2018-05-09 -->
							<span class="status-02">입금완료</span><!-- 연체, 입금완료 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01 col-02"><!-- 2018-05-09 -->
							<li>
								<span class="stit">계약일</span>
								<span class="scon">2018.03.05</span>
							</li>
							<li>
								<span class="stit">계약자</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">보험료</span>
								<span class="scon">150,000원</span>
							</li>
							<li>
								<span class="stit">최종납입월</span>
								<span class="scon">2018.03</span>
							</li>
						</ul>
					<article>
				</li>
			</ul>
		</div>
	</div> <!-- // #scroll -->

</div>
<!--// fullpop 영역 -->

</body>
</html>