<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>계약조회</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>계약조회</h1><!--  -->
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역  -->
	<div class="search">
		<ul>
			<li><!-- 2018-05-15 -->
				<label class="label-txt">고객명</label>
				<input class="inp-wrap" type="text" placeholder="고객명을 입력하세요." />
				<button class="sbtn-search" id="serachFundNum">검색</button>
			</li>
		</ul>
	</div>

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<h2 class="ui-hidden-accessible">검색결과 영역</h2>

		<!-- 검색 전 문구 -->
		<div class="no-data none" id="beforeSearch">검색조건을 입력하고 검색을 진행해 주세요.</div>
		<!-- 검색 후 문구 -->
		<div class="no-data none" id="afterSearch">검색결과가 없습니다.</div>

		<div>
			<p class="result-txt" id="totCnt">총 5건이 검색되었습니다.</p>
			<ul class="link-list-st01" id="resultList">
				<li>
					<div class="tit-h2">
						<a class="link-go" href='#'>
							<span class="pro-num">5160100021</span>
							<span class="pro-stit">프리미엄건강보험 무배당</span>
						</a>
						<p class="tit-h2-con">
							<span class="status-02"></em>유지</span>
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01 col-02">
							<li>
								<span class="stit">계약일</span>
								<span class="scon">2018.02.12</span>
							</li>
							<li>
								<span class="stit">계약자</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">보험료</span>
								<span class="scon">999,990,000원</span>
							</li>
							<li>
								<span class="stit">피보험자</span>
								<span class="scon">홍길동</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</div>
	</div>

</div>
<!--// 화면 영역 -->

</body>
</html>