<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>콜센터 전자문서 접수서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>콜센터 전자문서 접수서비스</h1>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- d-step  -->
			<div class="d-step">
				<h2>정보동의 및 본인인증</h2>
				<p class="d-step-status">
					<span class="on">1</span>
					<span class="on">2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
					<span>6</span>
				</p>
			</div>
			<!-- //d-step  -->

			<div class="agree-chk-list">
				<ul class="list dform square02">
					<li class="all">
						<div class="item">
							<input  type="checkbox" id="chk_all">
							<label for="chk_all">전체 동의</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input type="checkbox" id="chk1">
							<label for="chk1">전자금융거래 기본약관</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input type="checkbox" id="chk2">
							<label for="chk2">전자금융서비스 이용약관</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input type="checkbox" id="chk3">
							<label for="chk3">개인(신용)정보 수집 및 이용동의</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input type="checkbox" id="chk4">
							<label for="chk4">고유식별정보 처리 동의</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>