<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>DGB생명 위촉서류 전송서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>DGB생명 위촉서류 전송서비스</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- d-step  -->
			<div class="d-step">
				<h2>위촉서류 확인</h2>
				<p class="d-step-status">
					<span class="on">1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
				</p>
			</div>
			<!-- //d-step  -->

			<div class="agree-chk-list">
				<div class="title-box">
					<h3 class="tit">동의 및 서약서</h3>
				</div>
				<ul class="list dform square02">
					<li>
						<div class="item">
							<input id="chk1" type="checkbox">
							<label for="chk1"><em class="nece">(필수)</em>개인[신용]정보의 수집·이용, 제공, 조회 동의서</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input id="chk2" type="checkbox">
							<label for="chk2"><em class="nece">(필수)</em>모집경력 수집·이용, 제공 조회 동의서</label>
						</div>
					</li>
					<li>
						<div class="item">
							<input id="chk3" type="checkbox">
							<label for="chk3"><em class="nece">(필수)</em>전산권한 부여 신청 및 보안서약서</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>