<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>DGB생명 위촉서류 전송서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>DGB생명 위촉서류 전송서비스</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- d-step  -->
			<div class="d-step">
				<h2>위촉서류 확인</h2>
				<p class="d-step-status">
					<span class="on">1</span>
					<span class="on">2</span>
					<span>3</span>
					<span>4</span>
				</p>
			</div>
			<!-- //d-step  -->
			
			<div class="title-step">
				<h3 class="tit">생명보험협회 보험설계사 등록신청인 고지사항</h3>
			</div>

			<div class="subscribe-wrap">
				<div class="subscribe-cont">
					<ol class="qaBox">
						<li>
							<div class="qaBox-q"><span class="no">01</span>보험입법 제84조 제2항에 의거 다음 각호에 해당하는 사항이 있습니까?</div>
							<div class="qaBox-a">
								<ul class="write-st04">
									<li>
										<span class="tit-num"><span class="no">1)</span> 피성년 후견인 또는 피한정후견인</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-1-1" name="Q1-1"><label for="Q1-1-1">예</label>
											<input type="radio" id="Q1-1-2" name="Q1-1"><label for="Q1-1-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">2)</span> 파산선고를 받은 자로서 복권되지 아니한 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-2-1" name="Q1-2"><label for="Q1-2-1">예</label>
											<input type="radio" id="Q1-2-2" name="Q1-2"><label for="Q1-2-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">3)</span> 보험업법에 따라서 벌급 이상의 형을 선고받고 그 집행이 끝나거나(집행이 끝난 것으로 보는 경우를 포함한다) 집행이 면제된 날부터 2년이 지나지 아니한 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-3-1" name="Q1-3"><label for="Q1-3-1">예</label>
											<input type="radio" id="Q1-3-2" name="Q1-3"><label for="Q1-3-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">4)</span> 보험업법에 따라 금고 이상의 형의 집행유예를 선고받고 그 유예기간 중에 있는 자
</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-4-1" name="Q1-4"><label for="Q1-4-1">예</label>
											<input type="radio" id="Q1-4-2" name="Q1-4"><label for="Q1-4-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">5)</span> 보험업법에 따라 보험설계사, 보험대리점 또는 보험중개사의 등록이 취소(제1호 또는 제2호에 해당하여 등록이 취소된 경우는 제외한다.) 된 후 2년이 지나지 아니한 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-5-1" name="Q1-5"><label for="Q1-5-1">예</label>
											<input type="radio" id="Q1-5-2" name="Q1-5"><label for="Q1-5-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">6)</span> 보험업법에 따라서 보험설계사, 보험대리점 또는 보험중개사 등록취소 처분을 2회 이상 받은 경우 최종 등록취소 처분을 받을 날부터 3년이 지나지 아니한 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-6-1" name="Q1-6"><label for="Q1-6-1">예</label>
											<input type="radio" id="Q1-6-2" name="Q1-6"><label for="Q1-6-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">7)</span> 보험업법에 따라 과태료 또는 과징금 처분을 받고 이를 납부하지 아니하거나 업무정지 및 등록취소 처분을 받은 보험대리점, 보험중개사 소속의 임직원이었던 자로서 과태료, 과징금, 업무정지 및 등록취소 처분이 있었던 날부터 2년이 지나지 아니한 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-7-1" name="Q1-7"><label for="Q1-7-1">예</label>
											<input type="radio" id="Q1-7-2" name="Q1-7"><label for="Q1-7-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">8)</span> 영업에 관하여 성년자와 같은 능력을 가지지 아니한 미성년 자로서 그 법정대리인이 제1호부터 제7호까지의 규정 중 어느 하나에 해당하는 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-8-1" name="Q1-8"><label for="Q1-8-1">예</label>
											<input type="radio" id="Q1-8-2" name="Q1-8"><label for="Q1-8-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">9)</span> 법인 또는 법인이 아닌 사단이나 재단으로서 그 임원이나 관리인 중에 제1호부터 제7호까지의 규정 중 어느 하나에 해당하는 자가 있는 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-9-1" name="Q1-9"><label for="Q1-9-1">예</label>
											<input type="radio" id="Q1-9-2" name="Q1-9"><label for="Q1-9-2">아니오</label>
										</div>
									</li>
									<li>
										<span class="tit-num"><span class="no">10)</span> 이전에 모집과 관련하여 받은 보험료, 대출금 또는 보험금을 다른 용도에 유용(流用)한 후 3년이 지나지 아니한 자</span>
										<div class="checkBox-st01">
											<input type="radio" id="Q1-10-1" name="Q1-10"><label for="Q1-10-1">예</label>
											<input type="radio" id="Q1-10-2" name="Q1-10"><label for="Q1-10-2">아니오</label>
										</div>
									</li>
								</ul>
							</div>
						</li>

						<li>
							<div class="qaBox-q"><span class="no">02</span> 현재 보험대리점․보험중개사·보험설계사로 등록되어 있거나 다른 보험회사․보험중개사․보험대리점의 보험설계사로 등록되어 있습니까?</div>
							<div class="qaBox-a checkBox-st01">
								<input type="radio" id="Q2-1" name="Q2"><label for="Q2-1">예</label>
								<input type="radio" id="Q2-2" name="Q2"><label for="Q2-2">아니오</label>
							</div>
							<div class="qaBox-ex">
								<ul class="write-st02">
									<li>
										<label for="la-02">해당사유</label>
										<div>
											<input type="text" class="inp-wrap" id="la-02" placeholder="사유를 입력해주세요.">
										</div>
									</li>
								</ul>
							</div>
						</li>

						<li>
							<div class="qaBox-q"><span class="no">03</span> 보험업감독규정 제4-20조제1항에 의거 보험회사 임직원, 다른 보험대리점․보험중개사의 임직원을 겸직하고 있습니까?<br><span class="stxt">(법인보험중개사 소속 보험설계사만 작성하십시오)</span></div>
							<div class="qaBox-a">
								<ul class="write-st02">
									<li>
										<label for="la-03" class="label-txt">해당사유</label>
										<div>
											<input type="text" class="inp-wrap" id="la-03" placeholder="사유를 입력해주세요.">
										</div>
									</li>
								</ul>
							</div>
						</li>

					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>