<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>DGB생명 위촉서류 전송서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>DGB생명 위촉서류 전송서비스</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- d-step  -->
			<div class="d-step">
				<h2>인사서류 자필서명</h2>
				<p class="d-step-status">
					<span class="on">1</span>
					<span class="on">2</span>
					<span class="on">3</span>
					<span class="on">4</span>
					<span>5</span>
				</p>
			</div>
			<!-- //d-step  -->

			<div class="sign-cont">
				<ul class="bul-list-st02">
					<li>DGB생명 위촉을 위한 위촉 서류 내용을 본인이 직접 확인하였으며, 전산권한 부여 신청도 진행합니다.<br>이를 확약하기 위하여 자필서명을 진행합니다.</li>
				</ul>
				<div class="sign-chk-btn">
					<input type="checkbox" id="sign-chk">
					<label for="sign-chk">확인</label>
				</div>
			</div>

			<div class="cont1 bg-st01">
				<div class="sign-area">
					<span class="sign-tit">(성명/이름/NAME)</span>
					<div class="sign-box">
						<span class="bg-sign">이서진</span>
					</div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>

				<div class="sign-area">
					<span class="sign-tit">(서명/날인/SIGN)</span>
					<div class="sign-box"></div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>