<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>콜센터 전자문서 접수서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>콜센터 전자문서 접수서비스</h1>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- d-step  -->
			<div class="d-step">
				<h2>서명하기</h2>
			</div>
			<!-- //d-step  -->

			<div class="sign-cont">
				<ul class="bul-list-st02">
					<li>본인은 DGB생명과 체결한 <em>보험 계약과 관련한 업무처리에 대하여 콜센터
						를 통하여 신청하였고, 상담원으로부터 설명을 들었습니다.</em>
						이에 본인은 관련 내용을 확인하고 전자문서로 해당내용을 처리하는 것에
						동의하여 자필서명을 진행합니다.</li>
				</ul>
				<div class="sign-chk-btn">
					<input type="checkbox" id="sign-chk">
					<label for="sign-chk">확인</label>
				</div>
			</div>

			<div class="cont1 bg-st01">
				<div class="sign-area">
					<span class="sign-tit">(성명/이름/NAME)</span>
					<div class="sign-box">
						<span class="bg-sign">이서진</span>
					</div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>

				<div class="sign-area">
					<span class="sign-tit">(서명/날인/SIGN)</span>
					<div class="sign-box"></div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>