<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>DGB생명 위촉서류 전송서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>DGB생명 위촉서류 전송서비스</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="top-notice">
				<p class="txt">DGB생명 위촉서류 전송서비스에 오신 것을<br>환영합니다.</p>
			</div>
			<div class="cont3 mab-n">
				<div class="top-guide">
					<div class="stxt02">본인확인을 진행하신 후에, 위촉서류를 작성하실 수 있습니다.</div>
				</div>
			
				<h2 class="h3-tit-ico01">위촉서류 작성안내</h2>
				<ol class="process-step">
					<li>
						<div class="item">
							<span class="no">01</span>
							<div class="scon">본인확인</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">02</span>
							<div class="scon">위촉서류 확인</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">03</span>
							<div class="scon">서명하기</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">04</span>
							<div class="scon">추가서류 등록(첨부)</div>
						</div>
					</li>
				</ol>

				<div class="box-gray mat_15">
					<p class="stxt">본인인증은 휴대폰인증,신용카드인증,카카오페이 인증이 가능합니다.</p>
					<ul class="bul-list-st04">
						<li>본인인증이 불가할 경우, 담당지점 또는 인사담당자에게 문의해 주시기 바랍니다.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">위촉서류 작성하기</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>