<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>콜센터 전자문서 접수서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>콜센터 전자문서 접수서비스</h1>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="result-cont ico-chk">
				<div class="result-top-txt02">
					<em>이서진님</em> 신청접수가 완료되었습니다.
					<p>담당자가 확인 후, 처리될 예정입니다.<br>
					문의사항은 콜센터(1588-4770)로 문의해주시기<br>
					바랍니다.</p>
				</div>
				<div class="box-bg-st01 malr_20">
					<p class="txt02 ico-chk02"><span class="stit">완료일시 :</span><span class="scon">2019.03.31 10:48:50</span></p>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>