<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>모집경력 수집·이용, 제공, 조회 동의서</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head agree">
			<h1>모집경력 수집·이용, 제공, 조회 동의서</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="cont3">
				<p class="consent-txt">귀하는 아래의 모집경력 수집․이용, 제공, 조회에 대한 동의를 거부할 수 있습니다. 다만, 이에 대한 동의가 없을 경우 위촉계약 체결(판매코드 부여)이 불가능할 수 있음을 알려드립니다.</p>

				<h2 class="h3-st04">1. 모집경력 수집․이용에 관한 동의</h2>
				<div class="dform square02 ta-r mat_10">
					<label for="la1-1" class="fc_000 bold"><input id="la1-1" type="checkbox" checked="" disabled="">동의함</label>
					<label for="la1-2" class="fc_000 bold maL-5"><input id="la1-2" type="checkbox" disabled="">동의안함</label>
				</div>
				
				<ul class="consentBox-li mat_20">
					<li class="pdt-n">
						<div class="subBox-li">
							<h3 class="tit-st01">모집경력 수집․이용 목적</h3>
							<ul>
								<li>위촉계약 체결(판매코드 부여)여부 판단, 모집경력의 체계적인 관리 및 제3자 제공</li>
							</ul>

							<h3 class="tit-st01">수집․이용하는 모집정보</h3>
							<ul>
								<li>모집경력 수집·이용, 제공, 조회 동의일로부터 과거 3년 및 장래 발생할 ➀부터 ➉까지의 모집경력<br>

									 ① 개인식별정보(성명, 주소, 휴대전화번호, 전자우편주소), ② 보험업계 고유번호, ③ 보험회사, 보험대리점, 소속별 보험설계사 등록기간, ➃ 모집한 보험계약 건수, ➄ 보험업감독업무 시행세칙 별표 1의1(보험영업 및 보험금 지급 관련 비교․공시항목별 산출기준)에 따른 품질보증해지건수, 민원해지건수, 무효건수, 청약철회건수 및 불완전판매율 ➅ 보험업감독업무 시행세칙 별지 제26호의 산출기준에 따른 13회차/25회차 계약유지율 및 계약유지율 산출을 위한 기초자료, ➆ 보험업감독규정 제9-4조의2 제9호에 따른 우수 보험설계사 해당 여부, ➇ 보험업감독규정 제4-5조에 따른 집합․보수교육 대상 및 이수여부, ➈ 보험업법에따라 영업정지, 등록취소 또는 과태료 처분을 받은 이력,  수당환수 내역, ➉ 보증보험 가입 및 청구 유무 
								</li>
							</ul>

							<h3 class="tit-st01">모집경력의 보유․이용기간</h3>
							<ul>
								<li>미위촉자 : 위촉계약이 체결되지 않은 경우 그 시점까지</li>
								<li>위 촉 자 : 수집․이용 동의일로부터 보험설계사 등록말소 후 3년까지</li>
							</ul>
						 </div>
				 	</li>
				</ul>

				<h2 class="h3-st04">2. 모집경력 조회에 관한 동의</h2>
				<div class="dform square02 ta-r mat_10">
					<label for="la2-1" class="fc_000 bold"><input id="la2-1" type="checkbox" checked="" disabled="">동의함</label>
					<label for="la2-2" class="fc_000 bold maL-5"><input id="la2-2" type="checkbox" disabled="">동의안함</label>
				</div>

				<ul class="consentBox-li mat_20">
					<li class="pdt-n">
						<div class="subBox-li">
							<h3 class="tit-st01">조회할 모집경력의 내용</h3>
							<ul>
								<li>모집경력 수집·이용, 제공, 조회 동의일로부터 과거 3년 및 장래 발생할 ➀부터 ➉까지의 모집경력<br>

								 ① 개인식별정보(성명, 주소, 휴대전화번호, 전자우편주소), ② 보험업계 고유번호, ③ 보험회사, 보험대리점, 소속별 보험설계사 등록기간, ➃ 모집한 보험계약 건수, ➄ 보험업감독업무 시행세칙 별표 1의1(보험영업 및 보험금 지급 관련 비교․공시항목별 산출기준)에 따른 품질보증해지건수, 민원해지건수, 무효건수, 청약철회건수 및 불완전판매율 ➅ 보험업감독업무 시행세칙 별지 제26호의 산출기준에 따른 13회차/25회차 계약유지율 및 계약유지율 산출을 위한 기초자료, ➆ 보험업감독규정 제9-4조의2 제9호에 따른 우수 보험설계사 해당 여부, ➇ 보험업감독규정 제4-5조에 따른 집합․보수교육 대상 및 이수여부, ➈ 보험업법에따라 영업정지, 등록취소 또는 과태료 처분을 받은 이력,  수당환수 내역, ➉ 보증보험 가입 및 청구 유무 
								</li>
							</ul>

							<h3 class="tit-st01">모집경력 조회목적 : 위촉계약 체결(판매코드 부여)여부 판단 및 모집경력의 체계적 관리</h3>

							<h3 class="tit-st01">조회자의 모집경력의 조회․보유․이용기간</h3>
							<ul>
								<li>미위촉자 : 위촉계약이 체결되지 않은 경우 그 시점까지</li>
								<li>위 촉 자 : 조회 동의일로부터 보험설계사 등록말소후 3년까지</li>
							</ul>
						</div>
					</li>
				</ul>


				<h2 class="h3-st04">3. 모집경력 제공에 관한 동의</h2>
				<div class="dform square02 ta-r mat_10">
					<label for="la3-1" class="fc_000 bold"><input id="la3-1" type="checkbox" checked="" disabled="">동의함</label>
					<label for="la3-2" class="fc_000 bold maL-5"><input id="la3-2" type="checkbox" disabled="">동의안함</label>
				</div>

				<ul class="consentBox-li mat_20">
					<li class="pdt-n">
						<div class="subBox-li">
							<h3 class="tit-st01">모집경력을 제공받는 자 : 보험업법에 따른 생명보험협회, 손해보험협회, 생명보험회사, 손해보험회사, 보험대리점 등 보험업법에 따라 보험판매가 허가된 기관, 보험연수원, 보험소비자</h3>
							<p>* 모집경력을 제공받는 자의 상호 및 제공하는 모집경력은 생명보험협회(www.klia.or.kr), 손해보험협회(www.knia.or.kr)에 게재되어 있으며, 상호는 향후 변동될 수 있음</p>
							<p>** 본 동의는 보험협회, 보험회사, 보험대리점 등 보험업법에 따라 보험판매가 허가된 기관, 보험연수원, 보험소비자에게 제공하는 것에 대한 동의를 모두 포함</p>

							<h3 class="tit-st01">제공받는자의 이용목적</h3>
							<ul>
								<li>생명보험협회, 손해보험협회 : 생명보험회사, 손해보험회사, 보험대리점이 위촉계약 체결여부를 판단하기 위한 기초자료로 활용할 수 있도록 모집경력의 수집․관리․제공</li>
								<li>생명보험회사, 손해보험회사, 보험대리점 등 보험업법에 따라 보험판매가 허가된 기관 : 위촉계약 체결여부 판단 및 모집경력의 체계적 관리, 생명보험협회 또는 손해보험협회 제공</li>
								<li>생명보험회사, 손해보험회사 : 보험업법감독규정 제7-45조에 따른 보험계약청약서 상 모집종사자의 불완전판매율 산출 및 기재</li>
								<li>보험연수원 : 집합·보수교육 대상 및 교육이수여부 정보 관리·제공</li>
								<li>보험소비자 : 보험 상품을 판매하는 보험설계사, 대리점에 대한 경력정보 조회 및 확인</li>
							</ul>

							<h3 class="tit-st01">제공할 모집경력</h3>
							<ul>
								<li>모집경력 수집·이용, 제공, 조회 동의일로부터 과거 3년 및 장래 발생할 ➀부터 ➉까지의 모집경력<br>

								 ① 개인식별정보(성명, 주소, 휴대전화번호, 전자우편주소), ② 보험업계 고유번호, ③ 보험회사, 보험대리점, 소속별 보험설계사 등록기간, ➃ 모집한 보험계약 건수, ➄ 보험업감독업무 시행세칙 별표 1의1(보험영업 및 보험금 지급 관련 비교․공시항목별 산출기준)에 따른 품질보증해지건수, 민원해지건수, 무효건수, 청약철회건수 및 불완전판매율 ➅ 보험업감독업무 시행세칙 별지 제26호의 산출기준에 따른 13회차/25회차 계약유지율 및 계약유지율 산출을 위한 기초자료, ➆ 보험업감독규정 제9-4조의2 제9호에 따른 우수 보험설계사 해당 여부, ➇ 보험업감독규정 제4-5조에 따른 집합․보수교육 대상 및 이수여부, ➈ 보험업법에따라 영업정지, 등록취소 또는 과태료 처분을 받은 이력,  수당환수 내역, ➉ 보증보험 가입 및 청구 유무 
								</li>
							</ul>

							<h3 class="tit-st01">제공받는자의 모집경력 보유 및 이용기간</h3>
							<ul>
								<li>공 동의일로부터 보험설계사 등록 말소 후 3년까지</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st22 flex0 w120">동의 안함</button>
			<button class="lbtn btn-st04">동의함</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>