<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>콜센터 전자문서 접수서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>콜센터 전자문서 접수서비스</h1>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<!-- d-step  -->
			<div class="d-step">
				<h2>신청업무 확인</h2>
				<p class="d-step-status">
					<span class="on">1</span>
					<span class="on">2</span>
					<span class="on">3</span>
					<span class="on">4</span>
					<span>5</span>
					<span>6</span>
					<span>7</span>
				</p>
			</div>
			<!-- //d-step  -->
			
			<div class="contract-info">
				<div class="cont3">
					<div class="tit-box">
						<h3 class="h3-tit-st01">고객님이 신청하신 업무를 확인해주세요.</h3>	
					</div>
					<ul class="write-st04 mab-20">
						<li>
							<label for="work">신청업무</label>
							<div>
								<input type="text" class="inp-wrap" id="work" value="태아등재 남아" disabled>
							</div>
						</li>
					</ul>

					<h4 class="list-tit pab_5">태아 정보 입력</h4>
					<ul class="write-st02">
						<li>
							<label for="name" class="label-txt">성명</label>
							<div>
								<input type="text" class="inp-wrap" id="name" value="홍길동">
							</div>
						</li>
						<li>
							<label for="jumin-num" class="label-txt">주민번호</label>
							<div>
								<input type="text" class="inp-wrap" id="jumin-num" value="080201-3******">
							</div>
						</li>
					</ul>	
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>