<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>콜센터 전자문서 접수서비스</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>콜센터 전자문서 접수서비스</h1>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="top-notice">
				<p class="txt">콜센터를 통해 접수하신 업무처리에 대하여,<br>창구 재방문없이 <em>모바일로 간편하게 제출</em>할 수 있습니다.</p>
			</div>
			<div class="cont3 mab-n">
				<h2 class="h3-tit-ico01">전자문서 접수서비스 절차</h2>
				<ol class="process-step">
					<li>
						<div class="item">
							<span class="no">01</span>
							<div class="scon">실명정보 확인</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">02</span>
							<div class="scon">정보동의 및 본인인증</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">03</span>
							<div class="scon">신청업무 입력 및 서류첨부</div>
						</div>
					</li>
					<li>
						<div class="item">
							<span class="no">04</span>
							<div class="scon">완료</div>
						</div>
					</li>
				</ol>
			</div>

			<ul class="toggle">
				<li>
					<div class="toggle-header">
						<div class="title">
							진행 전 안내사항
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<ul class="bul-list-st02">
								<li>본인확인을 위해 본인명의 휴대폰과 신분증을 준비해주세요.
									<ol class="mat_10">
										<li>
											<dl>
												<dt>① 휴대폰 본인인증</dt>
												<dd>휴대폰 본인 인증 시, 통신사(SKT, KT, U+, 알뜰폰)로 본인명의 확인이 필요합니다.</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>② 신분증 촬영제출</dt>
												<dd>주민등록증이나 운전면허증을 촬영하여 본인여부를 확인합니다.</dd>
											</dl>
										</li>
									</ol>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			
			<div class="cont1 bg-st01">
				<div class="box-gray">
					<p class="txt">모든 업무는 본인이 직접 처리하고 있으며, 사전 상담을<br> 통해 충분히 주요 내용을 설명들었기에 업무를 진행합니다.</p>
					<div class="sign-chk-btn w80p">
						<input type="checkbox" id="sign-chk">
						<label for="sign-chk">동의합니다.</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">시작하기</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>