<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약서류 작성</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="title-step">
				<h3 class="tit">청약서<span class="step">(<em>1</em>/5)</span></h3>
			</div>
			<div class="subscribe-wrap">
				<div class="notice-txt ta-l"><!-- 9.17 수정 -->
					<p class="icoTxt">다음 각 항목의 질문사항에 대하여 구체적으로 기재해 주시기 바랍니다.</p>
				</div>
				
				<div class="gray-box">
					<ol class="write-st07">
						<li>
							<label for="la-1"><span class="no">01</span>근무처/근무지역<em>(직장명)</em></label>
							<div>
								<input type="text" id="la-1" class="inp-wrap">
							</div>
						</li>
						<li>
							<label for="la-2"><span class="no">02</span>취급하는 업무<em>(하시는 일)</em></label>
							<div>
								<input type="text" id="la-2" class="inp-wrap">
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>