<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="result-cont">
				<div class="result-top-txt ico-result">
					<strong class="fc-name">이서진 고객님,</strong>
					<p class="txt">마음든든 유니버셜 종신보험의<br>청약문서 작성이 완료되었습니다.</p>
				</div>
				<div class="box-bg-st01">
					<p class="txt02">9월 18일, 청약 시 입력하신 계좌(대구은행 333-444-555-******)
					를 통해 <span>초회보험료(107,400원)</span>가 인출될 예정입니다.<br>
					감사합니다.</p>
					<!-- 10.31 피보험자 추가 -->
					<p class="txt02">
					고객과 함께하는 <span>DGB생명</span>이 되겠습니다.
					<br>
					감사합니다.</p>
					<!-- //피보험자 -->
				</div>
				
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>