<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>계좌변경 처리완료</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>계좌변경 처리완료</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont bg-st01">
			<div class="cont3 bg-st02">
				<div class="box-cont">
					<div class="title-box">
						<div class="stit ico-chk">519070001357</div>
						<span class="status-08">옴니청약</span>
					</div>
					<div class="info-cont">
						<div class="in-title">마음든든 유니버셜종신보험(무)1904 (보증비용부과형)가산형_기본형 </div>
					</div>
				</div>
			</div>
			
			<div class="result-message mat_15">
				<strong class="u-name">이서진 고객님</strong>
				<p class="txt">신청하신 계좌변경 처리가 완료되었습니다.</p>

				<table class="board-st02 mat_40">
					<caption>계좌변경 전후</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
						<tr>
							<th>변경전</th>
							<th>변경후</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="bank-acc">
									<strong class="bank">우리은행</strong>
									<span class="acc">111-222-444-3333</span>
								</div>
							</td>
							<td>
								<div class="bank-acc after">
									<strong class="bank">대구은행</strong>
									<span class="acc">111-222-444-3333</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="box-bg-st01">
					<p class="txt02">담당FC를 통해 <em>'초회보험료 납입'</em>을<br>진행하시기 바랍니다.</p>
				</div>
			</div>

			
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04" >확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>