<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>모바일청약(FC)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>모바일청약(FC)</h1><!-- 9.18 수정 -->
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약확정</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="result-message">
				<strong class="u-name">홍길동 설계사님</strong>
				<p class="txt">청약이 확정되었습니다.</p>
			
				<div class="box-bg-st01">
					<p class="txt02">화면 하단의 <span>‘초회보험료 입금’</span> 버튼을 클릭하여<br>
					보험료 납입을 진행하시기 바랍니다.</p>
				</div>
			</div>

			<div class="data-list02 in-prod"><!-- 9.18 수정 -->
				<ul class="list">
					<li>
						<span class="stit">증권번호</span>
						<span class="scon">519070001357</span>
					</li>
					<li>
						<span class="stit">상품명</span>
						<span class="scon">마음든든유니버셜종신보험(무)1904<br>(보증비용부과형)_가산형_기본형</span>
					</li>
					<li>
						<span class="stit">계약자/피보험자</span>
						<span class="scon">이서진/홍길동</span>
					</li>
					<li>
						<span class="stit">보험료</span>
						<span class="scon">107,050 원</span>
					</li>
					<li>
						<span class="stit">초회보혐료 인출계좌</span>
						<span class="scon">164-111-111-*****<br>(대구은행)</span>
					</li>
				</ul>

				<div class="btnArea mat_15">
					<button type="button" class="mbtn-bdr-2 btn-st10"><span>옴니 계좌변경 발송</span></button>
					<button type="button" class="mbtn-bdr-2 btn-st23"><span>계좌변경</span></button>
				</div>

				<div class="notice-txt ta-l">
					<p class="icoTxt">보험료 납입계좌 변경을 원하실 경우, 계좌변경 버튼을 클릭하여 계좌정보 변경을 진행하시기 바랍니다.(1회에 한함)</p><!-- 9.18 수정 -->
				</div>
			</div>
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">확정취소</button>
			<button class="lbtn btn-st04" >초회보험료 입금</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>