<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자적 방식에 의한 보험계약 체결 동의서</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head agree">
			<h1>전자적 방식에 의한 보험계약자료<br> 작성 및 제공에 대한 사전 동의서</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="consent-titBox">
				<h2>소비자 권익보호에 관한 사항</h2>
				<p class="h-desc">고객님의 청약사항에 대하여 전자서명을 포함한 전자적 방식에 의한 보험계약자료를 작성하여 계약체결을 진행하고자 하오니 <u>『전자적 방식에 의한 보험계약자료 작성 및 제공에 대한 사전 동의서』</u>의 아래 내용을 모두 확인하시고 동의해 주시기 바랍니다.</p>
			</div>

			<div class="cont1 border-t">
				<h3 class="h3-st04">1. 보험계약자료(전자문서)작성</h3>
				<ol class="consentBox-li">
					<li class="pd-n border-tn">
						<div class="subBox-li">
							<ol>
								<li>전자적 방식에 의한 보험계약자료 작성 전 대리서명 및 자기부인 방지를 위한 본인여부 확인</li>
								<li>전자서명을 포함한 전자적 방식에 의한 보험계약 자료의 작성 및 제공에 대한 사전동의</li>
								<li>전자문서로 제공된 청약서, 상품설명서 등 보험계약 자료의 확인 및 이에 대한 전자서명</li>
								<li>미리보기를 통해 전자적 방식에 따라 작성한 모든 보험계약자료 확인</li>
							</ol>
						</div>
					</li>
				</ol>

				<h3 class="h3-st04">2. 보험계약체결의 효력</h3>
				<ol class="consentBox-li">
					<li>
						<div class="chk-form"><!-- 2018-05-14 -->
							<p class="subtxt">전자서명을 포함한 전자적 방식에 의한 보험계약자료 작성을 통한 보험계약체결은 서면에 의한 보험계약체결과 동일한 효력을 가지며 관련 법령은 아래와 같습니다.</p>
						</div>
						<div class="subBox-li">
							<ul><!-- 2018-05-14 -->
								<li>보험업법 제 95조의 2(설명의무)<br />- 보험회사 또는 보험의 모집에 종사하는 자는 제1항에 따라 설명한 내용을 일반보험계약자가 이해하였음을 서명, 기명날인, 녹취, 그 밖의 대통령령으로 정하는 방법으로 확인을 받아야 한다.</li>
								<li>전자서명법 제2조<br />- 전자서명이라 함은 서명자를 확인하고 서명자가 당해 전자문서에 서명을 하였음을 나타내는 데 이용하기 위하여 당해 전자문서에 첨부되거나 논리적으로 결합된 전자적 형태의 정보를 말한다.</li>
							</ul>
						</div>
					</li>
				</ol>

				<h3 class="h3-st04">3. 보험계약체결의 계약자 권리에 관한 사항</h3><!-- 2018-05-14 -->
				<ol class="consentBox-li">
					<li class="pd-n border-tn">
						<div class="subBox-li">
							<ol><!-- 9.15 오타수정 -->
								<li>계약자는 청약서 부본, 상품설명서 및 약관의 서면교부를 요청할 수 있으며, 보험회사는 청약한 날로부터 5영업일 이내에 보험계약자에게 청약서부본, 상품설명서 및 약관을 직접 제공합니다.</li>
								<li>계약자는 전자적 방식에 의한 보험계약 체결 후 당사 홈페이지에서 전자문서, 계약처리단계 및 담당자정보를 조회 또는 출력할 수 있습니다.</li>
							</ol>
						</div>
					</li>
				</ol>

				<h3 class="h3-st04">4. 보험계약자료(전자문서) 부본 전달 및 사후 열람에 관한 사항</h3>
				<ol class="consentBox-li">
					<li>
						<!-- 9.15 chk-form 삭제 -->
						<div class="subBox-li">
							<ul><!-- 2018-05-14 -->
								<li>전자적 방식에 의해 보험계약자료를 작성한 후에는 고객의 이메일 또는 모바일을 통해 해당 부본이 전달됩니다.</li>
								<li>계약자는 이메일 또는 모바일을 통해 전달받은 보험계약자료를 계약체결 이후 즉시 열람 혹은 저장받아야 합니다.<br />(이메일 또는 모바일로 보내드린 보험계약자료(청약서 부본)는 계약체결 90일 이후에는 당사 홈페이지 인터넷창구에서 소멸됩니다. 이후에는 콜센터를 통해서 요청할 수 있습니다.)</li>
							</ul>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>