<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>계좌변경 이력확인</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>계좌변경 이력확인</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont bg-st01">
			<div class="cont3 bg-st02">
				<div class="box-cont">
					<div class="title-box">
						<div class="stit ico-chk">519070001357</div>
						<span class="status-08">옴니청약</span>
						<span class="status-07">계좌변경</span>
					</div>
					<div class="info-cont">
						<div class="in-title">마음든든 유니버셜종신보험(무)1904 (보증비용부과형)가산형_기본형 </div>
						<ul class="data-list-st01 col-02">
							<li>
								<span class="stit">계약일</span>
								<span class="scon">2019.07.12 16:11</span>
							</li>
							<li>
								<span class="stit">보험료</span><!-- 9.18 수정 -->
								<span class="scon">433,980 원</span>
							</li>
							<li>
								<span class="stit">계약자</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">피보험자</span>
								<span class="scon">홍길동</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<div class="data-list02 back-acc-chg">
				<ul class="list">
					<li>
						<div class="stit">신청일시</div>
						<div class="scon">2019.09.11 10:51:55</div>
					</li>
					<li>
						<div class="stit">신청방법</div><!-- 9.18 수정 -->
						<div class="scon">전자</div>
					</li>
					<li>
						<div class="stit">신청내용</div>
						<div class="scon">
							<table class="tb-view">
								<caption>계좌 변경 내용</caption>
								<colgroup>
									<col style="width:20%">
									<col style="width:80%">
								</colgroup>
								<tbody>
									<tr class="after">
										<th>변경 후</th>
										<td><span class="bank">대구은행</span> 164-222-333-444-555</td>
									</tr>
									<tr>
										<th>변경 전</th>
										<td><span class="bank">우리은행</span> 111-222-333-444</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li>
						<div class="stit">처리결과</div>
						<div class="scon">2019.09.11 10:54:55<span class="maL-10">변경 처리완료</span></div><!-- 9.18 수정 -->
					</li>
				</ul>

				
				<div class="btnArea">
					<button type="button" class="mbtn-bdr-2 btn-st10"><span>계좌변경 신청서 확인</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04" >확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>