<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약서류 작성</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="title-step">
				<h3 class="tit">보험계약 이동에 따른 비교안내확인서<span class="step">(<em>2</em>/3)</span></h3>
			</div>
			<div class="subscribe-wrap">
				<div class="top-info">
					<p class="ico-txt-st01">대상 항목을 클릭하여 덧쓰기 작성을 진행해주세요.</p><!-- 9.18 수정 --><!-- 9.25 수정 -->
				</div>
				<div class="subscribe-cont">
					<div class="gapil-box">	<!-- 9.25 수정 -->
						본인 계약자(<span class="gapil"><label>이서진</label><input type="text" class="ipt"></span>)은(는) 기존계약 및 신규계약의 주요내용에 대하여
						모집종사자(<span class="gapil"><label>김태희</label><input type="text" class="ipt"></span>)(으)로부터 상기와 같이 충분히 (<span class="gapil"><label>비교 설명</label><input type="text" class="ipt"></span>)받았으며 보험계약 이동에 따른 (<span class="gapil"><label>손해발생 가능성</label><input type="text" class="ipt"></span>)을 충분히
						(<span class="gapil"><label>설명듣고 이해</label><input type="text" class="ipt"></span>)한 후 동 계약을 청약합니다.
					</div>
				</div>
				<!-- 타사 보험계약 비교설명표 앞에 붙는 주의사항 
				<p class="desc-txt">각 상품의 장단점을 정확히 설명하시기 바랍니다.<br>(계약자에게 유리한 내용만 설명하는 행위 금지)</p>
				-->
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>