<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>모바일청약(FC)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>모바일청약(FC)</h1><!-- 9.18 수정 -->
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>모집경위확인서 작성</h2><!-- 9.18 수정 -->
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span>3</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<ul class="toggle gap-list">
				<li><!-- 9.18 수정 -->
					<div class="toggle-header on"><!-- 9.18 수정 -->
						<div class="title">모집경로</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con" style="display:block;"><!-- 9.18 수정 -->
						<div class="cont3">
							<ul class="write-st04">
								<li>
									<label for="la1-1" class="label-txt">보험계약자와 어떻게 알게 되었습니까?</label>
									<div>
										<select class="select" id="la1-1">
											<option value="">선택</option>
										</select>
									</div>
								</li>
								<li>
									<label for="la1-2" class="label-txt">피보험자와 어떻게 알게 되었습니까?</label>
									<div>
										<select class="select" id="la1-2">
											<option value="">선택</option>
										</select>
									</div>
								</li>
								<li>
									<label for="la1-3" class="label-txt">고객면담장소는 어디입니까?</label>
									<div class="checkBox-st01">
										<input type="radio" id="la1-3-1" name="la1-3"><label for="la1-3-1">고객자택</label>
										<input type="radio" id="la1-3-2" name="la1-3"><label for="la1-3-2">고객직장</label>
										<input type="radio" id="la1-3-3" name="la1-3"><label for="la1-3-3">모집점포</label>
										<input type="radio" id="la1-3-4" name="la1-3"><label for="la1-3-4">기타</label>
									</div>
									<div class="etc-box none"><!-- 기타시 노출 none 삭제 -->
										<input type="text" class="inp-wrap" id="la1-3-5">
									</div>
								</li>
								<li>
									<label for="la1-4" class="label-txt">보험계약자가 보험을 가입하게 된 동기는 무엇입니까?</label>
									<div class="checkBox-st01">
										<input type="radio" id="la1-4-1" name="la1-4"><label for="la1-4-1">모집인 권유</label>
										<input type="radio" id="la1-4-2" name="la1-4"><label for="la1-4-2">고객의 자발적 요청</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<div class="title">완전판매</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<ul class="write-st04">
								<li>
									<label for="la2-1" class="label-txt">계약관계자가 직접 각각 자필서명을 하셨습니까?</label><!-- 9.18 수정 -->
									<div class="checkBox-st01">
										<input type="radio" id="la2-1-1" name="la2-1"><label for="la2-1-1">예</label>
										<input type="radio" id="la2-1-2" name="la2-1"><label for="la2-1-2">아니오</label>
									</div>
								</li>
								<li>
									<label for="la2-2" class="label-txt">청약서 부본 및 약관을 전달하고, 약관의 주요내용을 설명하셨습니까?</label>
									<div class="checkBox-st01">
										<input type="radio" id="la2-2-1" name="la2-2"><label for="la2-2-1">예</label>
										<input type="radio" id="la2-2-2" name="la2-2"><label for="la2-2-2">아니오</label>
									</div>
								</li>
								<li>
									<label for="la2-3" class="label-txt">상품설명서를 고객에게 설명하고 전달하였으며 자필서명을 받으셨습니까?</label>
									<div class="checkBox-st01">
										<input type="radio" id="la2-3-1" name="la2-3"><label for="la2-3-1">예</label>
										<input type="radio" id="la2-3-2" name="la2-3"><label for="la2-3-2">아니오</label>
									</div>
								</li>
								<li>
									<label for="la2-4" class="label-txt">계약전알릴의무사항은 보험대상자가 직접 작성하였으며, 사실과 다를 경우 계약이 해지되거나 보장이 제한될 수 있음을 설명하셨습니까?</label><!-- 9.18 수정 -->
									<div class="checkBox-st01">
										<input type="radio" id="la2-4-1" name="la2-4"><label for="la2-4-1">예</label>
										<input type="radio" id="la2-4-2" name="la2-4"><label for="la2-4-2">아니오</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<div class="title">계약자 관련</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<ul class="write-st02">
								<li><!-- 9.18 수정 -->
									<label for="la3-1" class="label-txt va-t">실제생년월일</label>
									<div class="checkBox-st01">
										<input type="radio" id="la3-1-1" name="la3-1"><label for="la3-1-1">양력</label>
										<input type="radio" id="la3-1-2" name="la3-1"><label for="la3-1-2">음력</label>
									</div>
									<div>
										<input type="text" class="inp-wrap" id="la3-1" placeholder="YYYY.MM.DD">
									</div>
								</li>
								<li>
									<label for="la3-2" class="label-txt">결혼여부</label>
									<div class="checkBox-st01">
										<input type="radio" id="la3-2-1" name="la3-2"><label for="la3-2-1">미혼</label>
										<input type="radio" id="la3-2-2" name="la3-2"><label for="la3-2-2">기혼</label>
									</div>
								</li>
								<li class=""><!-- 기혼시 노출 -->
									<label for="la3-4" class="label-txt">결혼기념일</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-4" placeholder="YYYY.MM.DD"><!-- 9.18 수정 -->
									</div>
								</li>
								<li>
									<label for="la3-5" class="label-txt">연소득<br>(부부합산)</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-5"><span class="won">만원</span>
									</div>
								</li>
								<li>
									<label for="la3-6" class="label-txt">월저축액</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-6"><span class="won">만원</span>
									</div>
								</li>
								<li><!-- 9.18 수정 -->
									<label for="la3-7" class="label-txt va-t">자녀수</label>
									<div>
										<select class="select flex" id="la3-7">
											<option value="">선택</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
											<option value="">직접입력</option>
										</select>
										<span class="won">명</span>
									</div>
									<div><!-- 9.25 수정 -->
										<input type="text" class="inp-wrap" id="la3-6"><span class="won">명</span>
									</div>
								</li>
								<li>
									<label for="la3-8" class="label-txt">막내출생년도</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-8"><span class="won">년</span>
									</div>
								</li>
								<li>
									<label for="la3-9" class="label-txt va-t">주거형태</label>
									<div>
										<select class="select" id="la3-9">
											<option value="">선택</option>
										</select>
									</div>
									<div class="etc-box none"><!-- 기타시 노출 none 삭제 -->
										<input type="text" class="inp-wrap" id="la3-9-1">
									</div>
								</li>
								<li>
									<label for="la3-10" class="label-txt">주택종류</label>
									<div>
										<select class="select" id="la3-9">
											<option value="">선택</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li><!-- 9.18 수정 -->
					<div class="toggle-header">
						<div class="title">모집인 확인</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<ul class="bul-list-st02">
								<li>보험계약 체결과 관련하여 계약자와 직접 대면하여 상품 및 계약내용에 대해 충실히 설명하였고, 이에 대한 고객의 동의를 확인하였습니다.</li>
								<li>회사에 알릴사항 및 약관·상품내용에 대하여 자세히 설명하였으며, 자필서명을 확인하였고 면담한 내용에 대하여 정확히 보고서를 작성하였습니다.</li>
							</ul>
							
							<ul class="write-st02">
								<li>
									<label for="la3-6" class="label-txt">면담일자</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-6" value="2019년 7월 1일" disabled>
									</div>
								</li>
								<li>
									<label for="la3-7" class="label-txt">면담대상자<br>(계약자)</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-7">
									</div>
								</li>
								<li>
									<label for="la3-8" class="label-txt">피보험자와의<br> 관계(계약자 기준)</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-8">
									</div>
								</li>
								<!-- 9.18 삭제
								<li>
									<label for="la3-9" class="label-txt">면담장소</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-9">
									</div>
								</li>
								-->
								<li>
									<label for="la3-10" class="label-txt">면담자(모집인)</label>
									<div>
										<input type="text" class="inp-wrap" id="la3-10">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<div class="cont3 align-c"><!-- 9.18 추가 -->
				<button type="button" class="mbtn-2 btn-st10 w240" disabled>작성문서 확인</button><!-- 9.25 수정 -->
			</div>
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04" >청약확정</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>