<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(피보험자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(피보험자)</h1><!-- 9.25 수정-->
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약서류 작성</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="title-step">
				<h3 class="tit">계약전 알릴의무 사항<span class="step">(<em>1</em>/3)</span></h3><!-- 9.16 수정 -->
			</div>
			<div class="subscribe-wrap">
				<div class="top-info">
					<p class="ico-txt-st01">다음 각 항목의 질문사항에 대하여 해당란에 (v)표시를 하시기 바랍니다.</p>
				</div>
				<div class="subscribe-cont">
					<ol class="qaBox">
						<li>
							<p class="qaBox-q"><span class="no">07</span>현재 운전을 하고 있습니까 ?</p>
							<p class="qaBox-a checkBox-st01">
								<input type="radio" id="Q7-1" name="Q7"><label for="Q7-1">예</label>
								<input type="radio" id="Q7-2" name="Q7"><label for="Q7-2">아니오</label>
							</p>
							<div class="qaBox-ex"><!-- 히든 class="none" -->
								<ul class="write-st02 d-half">
									<li>
										<label for="la7-0">차종</label>
										<div class="dform square02 etc">
											<input type="text" id="la7-0" class="inp-wrap">
										</div>
									</li>
									<li>
										<label for="la7-1">승용차</label>
										<div class="dform square02">
											<label for="la7-1-1"><input type="radio" id="la7-1-1" name="la7-1">영업용</label>
											<label for="la7-1-2"><input type="radio" id="la7-1-2" name="la7-1">자가용</label>
										</div>
									</li>
									<li>
										<label for="la7-2">승합차</label>
										<div class="dform square02">
											<label for="la7-2-1"><input type="radio" id="la7-2-1" name="la7-2">영업용</label>
											<label for="la7-2-2"><input type="radio" id="la7-2-2" name="la7-2">자가용</label>
										</div>
									</li>
									<li>
										<label for="la7-3">화물차</label>
										<div class="dform square02">
											<label for="la7-3-1"><input type="radio" id="la7-3-1" name="la7-3">영업용</label>
											<label for="la7-3-2"><input type="radio" id="la7-3-2" name="la7-3">자가용</label>
										</div>
									</li>
									<li>
										<label for="la7-4">오토바이<br><span class="stxt">(50cc미만포함)</span></label>
										<div class="dform square02">
											<label for="la7-4-1"><input type="radio" id="la7-4-1" name="la7-4">영업용</label>
											<label for="la7-4-2"><input type="radio" id="la7-4-2" name="la7-4">자가용</label>
										</div>
									</li>
									<li>
										<label for="la7-5">기계</label>
										<div class="dform square02">
											<label for="la7-5-1"><input type="radio" id="la7-5-1" name="la7-5">건설기계</label>
											<label for="la7-5-2"><input type="radio" id="la7-5-2" name="la7-5">농기계</label>
										</div>
									</li>
									<li>
										<label for="la7-6">기타</label>
										<div class="dform square02 etc">
											<label for="la7-6-1"><input type="checkbox" id="la7-6-1" name="la7-6">기타</label>
											<input type="text" id="la7-7" class="inp-wrap maL-10">
										</div>
									</li>
								</ul>
								<p class="desc-txt"><em class="fc-orange">기타에 해당하는 경우 차종을 구체적으로 기재</em>하고, 둘 이상의 차량을 운전하거나 하나의 차량을 둘 이상의 목적으로 사용하는 경우 <em class="fc-orange">해당하는 사항을 모두 기재</em>하십시오.</p><!-- 9.18 수정 -->
							</div>
						</li>
		 
						<li>
							<p class="qaBox-q"><span class="no">08</span>최근 1년 이내에 다음과 같은 취미를 자주 반복적으로 하고 있거나 관련 자격증을 가지고 있습니까 ?</p>
							<p class="qaBox-a checkBox-st01">
								<input  type="radio" id="Q8-1" name="Q8"><label for="Q8-1">예</label>
								<input  type="radio" id="Q8-2" name="Q8"><label for="Q8-2">아니오</label>
							</p>
							<div class="qaBox-ex">
								<ul class="dform square01 full">
									<li>
										<input type="checkbox" id="Q8-chk1" name="Q8-chk1"><label for="Q8-chk1">스쿠버다이빙</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-1-1">빈도</label>
												<div>
													<input type="tel" id="Q8-1-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-1-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-1-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-1-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-1-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk2" name="Q8-chk1"><label for="Q8-chk2">행글라이딩, 패러글라이딩</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-2-1">빈도</label>
												<div>
													<input type="tel" id="Q8-2-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-2-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-2-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-2-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-2-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk3" name="Q8-chk1"><label for="Q8-chk3">스카이다이빙</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-3-1">빈도</label>
												<div>
													<input type="tel" id="Q8-3-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-3-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-3-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-3-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-3-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk4" name="Q8-chk1"><label for="Q8-chk4">수상스키</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-4-1">빈도</label>
												<div>
													<input type="tel" id="Q8-4-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-4-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-4-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-4-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-4-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk5" name="Q8-chk1"><label for="Q8-chk5">자동차, 오토바이 경주</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-5-1">빈도</label>
												<div>
													<input type="tel" id="Q8-5-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-5-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-5-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-5-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-5-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk6" name="Q8-chk1"><label for="Q8-chk6">번지점프</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-6-1">빈도</label>
												<div>
													<input type="tel" id="Q8-6-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-6-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-6-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-6-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-6-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk7" name="Q8-chk1"><label for="Q8-chk7">빙벽 , 암벽등반</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-7-1">빈도</label>
												<div>
													<input type="tel" id="Q8-7-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-7-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-7-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-7-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-7-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk8" name="Q8-chk1"><label for="Q8-chk8">제트스키</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-8-1">빈도</label>
												<div>
													<input type="tel" id="Q8-8-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-8-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-8-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-8-3">자격증 명칭</label>
												<div>
													<input type="text" id="Q8-8-3" class="inp-wrap">
												</div>
											</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" id="Q8-chk9" name="Q8-chk1"><label for="Q8-chk9">래프팅</label>
										<ul class="write-st02 low-dep">
											<li>
												<label for="Q8-9-1">빈도</label>
												<div>
													<input type="tel" id="Q8-9-1" class="inp-wrap ta-r w70"><span class="won">년간</span>
												</div>
												<label for="Q8-9-2" class="dash ta-r">월</label>
												<div>
													<input type="tel"id="Q8-9-2" class="inp-wrap ta-r w70"><span class="won">회</span>
												</div>
											</li>
											<li>
												<label for="Q8-9-3">자격증 명칭</label>
												<div>
													<input id="Q8-9-3" class="inp-wrap" type="text">
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>

						<li>
							<p class="qaBox-q"><span class="no">09</span>부업 또는 겸업, 계절적으로 종사하는 업무가 있습니까?</p>
							<p class="qaBox-a checkBox-st01">
								<input type="radio" id="Q9-1" name="Q9"><label for="Q9-1">예</label>
								<input type="radio" id="Q9-2" name="Q9"><label for="Q9-2">아니오</label>
							</p>
							<div class="qaBox-ex">
								<ul class="write-st02">
									<li>
										<label for="la9-1">업무명</label>
										<div>
											<input type="text" id="la9-1" class="inp-wrap">
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>