<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약서류 작성</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="title-step">
				<h3 class="tit">계약전 알릴의무 사항<span class="step">(<em>2</em>/3)</span></h3>
			</div>
			<div class="subscribe-wrap">
				<div class="top-info">
					<p class="ico-txt-st01">대상 항목을 클릭하여 덧쓰기 작성을 진행해주세요.</p><!-- 9.25 수정 -->
				</div>
				<div class="subscribe-cont">
					<div class="gapil-box">
						보험설계사는 계약전 (<span class="gapil"><label>알릴의무</label><input type="text" class="ipt"></span>) 사항에 대한 수령 권한이 없으므로 
						과거의 진단 또는 치료 사실 등 중요한 내용을 (<span class="gapil"><label>구두</label><input type="text" class="ipt"></span>)로만
						알릴 경우 계약전 알릴의무를 이행한 것으로 인정되지 않아,
						향후 계약이 (<span class="gapil"><label>해지</label><input type="text" class="ipt"></span>) 되거나 보험금을 지급받지 못할 수 있습니다.
					</div>
				</div>
				<div class="subscribe-cont">
					<div class="gapil-box">
						보험계약자(<span class="gapil"><label>홍길동</label><input type="text" class="ipt"></span>)는 보험설계사(<span class="gapil"><label>홍길동</label><input type="text" class="ipt"></span>)로부터 계약전 알릴의무 위반시의 효과(계약해지, 보장제한, 보험금 미지급 등)에 대해 설명을 들었으며, 계약전 알릴의무 사항에 대해 청약서에 사실대로 기재하였음을 확인합니다.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>