<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>초회보험료 납입완료</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>초회보험료 납입실패</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			
			<div class="result-message fail"><!-- 완료 : success, 실패 : fail -->
				<strong class="u-name">홍길동 설계사님</strong>
				<p class="txt">아래 계약의 초회보험료 납입이 실패했습니다.</p><!-- 실패 -->
				<!-- 완료
				<p class="txt">아래 계약의 초회보험료 납입이 완료되었습니다.</p>  
				-->
			
				<div class="box-bg-st01">
					<p class="txt02"><em>계좌 상태를 확인해주시기 바랍니다.</em></p><!-- 실패 -->
					<!-- 완료 -
					<p class="txt02"><em>수고하셨습니다.</em></p>
					-->
				</div>
			</div>

			<div class="data-list02 in-prod">
				<ul class="list">
					<li>
						<span class="stit">증권번호</span>
						<span class="scon">519070001357</span>
					</li>
					<li>
						<span class="stit">상품명</span>
						<span class="scon">마음든든유니버셜종신보험(무)1904<br>(보증비용부과형)_가산형_기본형</span>
					</li>
					<li>
						<span class="stit">계약자/피보험자</span>
						<span class="scon">이서진/홍길동</span>
					</li>
					<li>
						<span class="stit">보험료</span>
						<span class="scon">107,050 원</span>
					</li>
					<li>
						<span class="stit">초회보혐료 인출계좌</span>
						<span class="scon">164-111-111-*****<br>(대구은행)</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04" >초회보험료 납입(재시도)</button><!-- 실패 -->
			<!-- 완료
			<button class="lbtn btn-st04" >확인</button> 
			-->
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>