<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>최종문서 확인</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span class="on">5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="proceeding-way">
				<h3 class="h3-tit-ico01"><span>진행방법</span></h3>
				<ol class="ol-list-st01"><!-- 9.18 수정 -->
					<li>
						<div>1. 약관 다운로드가 완료된 후에 최종문서확인을 진행할 수 있습니다.</div>
						<p class="fc-orange">(약관이 다운로드되지 않으면 다음단계로의 이동이 불가능합니다.)</p><!-- 9.22 수정 -->
					</li>
					<li>
						<div>2. 최종문서확인을 통해 작성된 청약문서의 내용을 한번 더 확인해주세요.</div>
					</li>
				</ol>
			</div>

			<div class="cont3">
				<a href="#" class="mbtn bdr-st06 ico-down full"><span>약관다운로드</span></a>
				<button type="button" class="mbtn btn-st02 ico-chk full mat_15"><span>최종문서확인</span></button>
			</div> 

			
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>