<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>계약의 체결ㆍ이행 등을 위한 필수 동의서서</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head agree">
			<h1>계약 체결ㆍ이행 등을 위한<br> 개인(신용)정보 처리 동의서</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="consent-titBox">
				<h2>소비자 권익보호에 관한 사항</h2>
				<p class="h-desc">본 동의를 거부하시는 경우에는 보험계약 체결ㆍ이행 등이 불가능하며 본 동의서에 의한 개인(신용)정보 조회는 귀하의 신용등급에 영향을 주지 않습니다.</p>
			</div>

			<div class="cont1 border-t">
				<h3 class="h3-st04">1. 개인(신용)정보의 수집ㆍ이용에 관한 사항</h3>

				<ul class="consentBox-li">
					<li>
						<div class="chk-form">
							<label for="la1">당사 및 <u>당사 업무 수탁자</u>는 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>본 계약과 관련하여 귀하의 개인(신용)정보를 다음과 같이 수집ㆍ이용하고자 합니다. 이에 대하여 동의하십니까?</em></label>
							<p class="dform square02">
								<label for="la1-1" class="fc_000 bold"><input id="la1-1" type="checkbox" checked disabled/>동의함</label>
							</p>
						</div>
						<div class="subBox-li"><!-- 9.15 오타수정 -->
							<h4 class="tit-st01">개인(신용)정보의 수집ㆍ이용 목적</h4>
							<ul>
								<li>보험계약의 인수심사ㆍ체결ㆍ유지ㆍ관리(부활 및 갱신 포함)</li>
								<li>보험금 등 지급ㆍ심사</li>
								<li>순보험요율의 산출ㆍ검증</li>
								<li>민원 처리 및 분쟁 대응</li>
								<li><u>적부</u> 및 사고조사(보험사기 조사 포함)</li>
								<li>보험모집질서의 유지</li>
								<li><u>기존 계약자에 대한 보험계약 상담(당사 및 당사 설계사에 한함)</u></li>
								<li><u>금융거래 관련 업무(금융거래 신청, 자동이체 등)</u></li>
							</ul>

							<h4 class="tit-st01">수집ㆍ이용할 개인(신용)정보의 내용</h4>
							<ul>
								<li>개인식별정보(성명, 주민등록번호, 외국인등록번호, 주소, 성별, 직업, 전화번호, 휴대전화번호, 전자우편주소)</li>
								<li><u>당사, 신용정보집중기관 및 보험요율산출기관에서 수집ㆍ관리</u>하는 보험계약정보, 피보험자의 질병 및 상해에 관한 정보, 보험금지급 관련 정보(사고정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등)</li>
								<li><u>계약전 알릴의무 사항, 소득 및 재산사항</u></li>
								<li><u>법률 및 국제협약 등의 의무이행을 위한 정보</u></li>
								<li><u>금융거래 업무(보험료 및 보험금 등 출ㆍ수납) 관련 정보</u></li>
							</ul>

							<h4 class="tit-st01"><u>개인(신용)정보의 보유ㆍ이용 기간</u></h4><!-- 9.15 수정 -->
							<ul>
								<li><u>수집ㆍ이용 동의일로부터 거래종료 후 5년 까지</u><br />(단, 거래종료 후 5년이 경과한 후에는 보험금 지급, 금융사고 조사, 보험사기 방지ㆍ적발, 민원처리, 법령상 의무 이행을 위한 경우에 한하여 보유ㆍ이용하며, 별도 보관)</li>
								<li>거래종료일은 1)보험계약 만기, 해지, 취소, 철회일 또는 소멸일 및 2)보험금청구권 소멸시효 완성일(상법 제 662조 등), 채권ㆍ채무관계 소멸일 중 가장 나중에 도래한 사유를 기준으로 판단합니다.</li>
							</ul>
							<p>※ 다만, 만기 등 사유발생일 이후라도 만기환급금 또는 해지환급금 등을 수령하지 않았거나 상환할 금액이 남아있는 경우, 보험금지급 또는 수사ㆍ소송이 진행중인 경우 거래종료에 해당하지 않습니다.</p>
						</div>
					</li>
				</ul>

				<h3 class="h3-st04">2. 개인(신용)정보의 조회에 관한 사항</h3>
				<ul class="consentBox-li">
					<li>
						<div class="chk-form">
							<label for="la2">당사 및 당사 업무수탁자는 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>귀하의 개인(신용)정보를 다음과 같이 신용정보집중기관 등으로부터 조회하고자 합니다. 이에 대하여 동의하십니까?</em></label>
							<p class="dform square02">
								<label for="la2-1" class="fc_000 bold"><input id="la2-1" type="checkbox" checked disabled/>동의함</label>
							</p>
						</div>
						<div class="subBox-li">
							<h4 class="tit-st01">개인(신용)정보의 조회목적</h4>
							<ul><!-- 9.15 오타수정 -->
								<li>보험계약의 인수심사ㆍ체결ㆍ유지ㆍ관리(부활 및 갱신 포함)/ 보험금 등 지급ㆍ심사, 보험사고조사(보험사기조사 포함)</li>
							</ul>

							<h4 class="tit-st01">조회할 개인(신용)정보</h4>
							<ul><!-- 9.15 수정 -->
								<li><u>신용정보집중기관 및 보험요율산출기관에서 수집ㆍ관리</u>하는 보험계약정보, 보험금지급 관련 정보(사고정보 포함), 피보험자의 질병 및 상해 관련 정보</li>
								<li><u>신용정보회사 및 통신사의 실명인증 및 본인인증을 위한 정보</u></li>
								<li>신용정보회사(코리아크레딧뷰로(주))가 수집ㆍ가공한 정보</li>
							</ul>

							<h4 class="tit-st01"><u>조회동의 유효 기간 및 조회자(제공받은 자)의 개인(신용)정보의 보유ㆍ이용 기간</u></h4>
							<ul><!-- 9.15 수정 -->
								<li><u>수집ㆍ이용 동의일로부터 거래종료 후 5년까지<br />(단, 거래종료 후 5년이 경과한 후에는 보험금 지급, 금융사고 조사, 보험사기 방지ㆍ적발, 민원처리, 법령상 의무 이행을 위한 경우에 한하여 보유ㆍ이용하며, 별도 보관)</u></li>
								<li>거래종료일은 1)보험계약 만기, 해지, 취소, 철회일 또는 소멸일 및 2)보험금청구권 소멸시효 완성일(상법 제 662조 등), 채권ㆍ채무관계 소멸일 중 가장 나중에 도래한 사유를 기준으로 판단합니다.</li>
							</ul>
							<p>※ 다만, 만기 등 사유발생일 이후라도 만기환급금 또는 해지환급금 등을 수령하지 않았거나 상환할 금액이 남아있는 경우, 보험금지급 또는 수사ㆍ소송이 진행중인 경우 거래종료에 해당하지 않습니다.</p>
						</div>
					</li>
				</ul>

				<h3 class="h3-st04">3. 개인(신용)정보의 제공에 관한 사항</h3>
				<ul class="consentBox-li">
					<li>
						<div class="chk-form">
							<label for="la3">당사는 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>귀하의 개인(신용)정보를 다음과 같이 제3자에게 제공하고자 합니다. 이에 대하여 동의하십니까?</em></label>
							<p class="dform square02">
								<label for="la3-1" class="fc_000 bold"><input id="la3-1" type="checkbox" checked disabled/>동의함</label>
							</p>
						</div>
						<div class="subBox-li">
							<h4 class="tit-st01"><u>개인(신용)정보를 제공받는 자</u></h4><!-- 9.15  수정 -->
							<ul>
								<li>신용정보집중기관 : 한국신용정보원</li>
								<li>공공기관 등 : 금융위원회, 금융감독원, 보험요율산출기관 등 공공기관, 법령상 업무 수행기관(위탁사업자 포함)</li>
								<li>보험회사 등 : 생명보험회사, 손해보험회사, 국내ㆍ국외 재보험사, 공제사업자, 체신관서(우체국보험), <u>금융거래 관련 계좌개설 금융기관, 금융결제원</u></li><!-- 9.15 오타수정 -->
								<li>업무수탁자 등 : 당사와 모집위탁계약을 체결한 자(설계사ㆍ대리점 등), 보험증개사, 계약 체결 및 이행 등에 필요한 업무를 위탁받은 자(보험사고조사업체, 손해사정업체, 의료기관ㆍ의사, 변호사, 위탁 콜센터, 건강보험심사평가원, 건강진단업체, 계약적부조사업체 등)</li><!-- 2018-05-15 -->
								<li>신용정보회사 : 코리아크레딧뷰로(주)</li>
							</ul>

							<h4 class="tit-st01"><u>개인(신용)정보를 제공받는 자의 이용목적</u></h4><!-- 9.15 오타수정 -->
							<ul>
								<li>신용정보집중기관 : 보험계약 및 보험금지급 관련 정보의 집중관리 및 활용 등 신용정보집중기관의 업무</li>
								<li>공공기관 등 : 보험업법 및 자동차손해배상보장법 등 법령에 따른 업무수행(위탁업무 포함)</li>
								<li>보험회사 등 : 중복보험 확인 및 비례보상, 재보험 가입 및 재보험금 청구, 보험계약 공동인수, <u>금융거래 업무(보험료 및 보험금 등 출ㆍ수납)</u></li><!-- 9.15 수정 -->
								<li>업무수탁자 등 :  본 계약의 체결ㆍ이행 관련 위탁업무 수행, 진료비심사, 의료심사 및 자문업무</li>
								<li>신용정보회사 : 당사 요청 정보 제공을 위한 대상자 식별</li>
							</ul>

							<h4 class="tit-st01">제공할 개인(신용)정보의 내용</h4>
							<ul>
								<li>『1.개인(신용)정보의 수집ㆍ이용에 관한 사항』의 정보내용(단, 각 제공받는 자의 이용목적을 위해 필요한 정보에 한함)</li>
							</ul>

							<h4 class="tit-st01"><u>제공받는 자의 개인(신용)정보 보유ㆍ이용기간</u></h4><!-- 9.15 수정 -->
							<ul><!-- 9.15 수정 -->
								<li><u>개인(신용)정보를 제공받는 자의 이용목적을 달성할 때까지(최대 거래종료 후 5년까지)</u>
								<p>※ 각 제공대상기관 및 이용목적의 구체적인 정보는 당사 홈페이지 [<a href="http://www.dgbfnlife.com" target="blank">www.dgbfnlife.com</a>]에서 확인할 수 있습니다.</p></li>
								<li>거래종료일은 1)보험계약 만기, 해지, 취소, 철회일 또는 소멸일 및 2)보험금청구권 소멸시효 완성일(상법 제 662조 등), 채권ㆍ채무관계 소멸일 중 가장 나중에 도래한 사유를 기준으로 판단합니다.
								<p>※ 다만, 만기 등 사유발생일 이후라도 만기환급금 또는 해지환급금 등을 수령하지 않았거나 상환할 금액이 남아있는 경우, 보험금지급 또는 수사ㆍ소송이 진행중인 경우 거래종료에 해당하지 않습니다.</p></li>
							</ul>
						</div>
					</li>
				</ul>

				<h3 class="h3-st04">4. 민감정보 및 고유식별정보의 처리에 관한 사항</h3>
				<ul class="consentBox-li">
					<li><!-- 9.15 수정 -->
						<p class="tit-st01-desc2">당사 및 <u>당사 업무수탁자</u>는 『개인정보보호법』 및 『신용정보의 이용 및 보호에 관한 법률』에 따라 <em>상기의 개인(신용)정보에 대한 개별 동의사항에 대하여 다음과 같이 귀하의 민감정보(질병ㆍ상해정보) 및 고유식별정보(주민등록번호ㆍ외국인등록번호)를 처리(수집ㆍ이용, 조회, 제공)하고자 합니다. 이에 동의하십니까?</em></p>
						<div class="chk-form border-t pat_20">
							<label class="dform square02">질병ㆍ상해정보 처리
								<label for="la4-1" class="bold fc_000"><input id="la4-1" type="checkbox" checked disabled/>동의함</label>
							</label>
						</div>
						<div class="chk-form">
							<label class="dform square02">주민등록번호ㆍ외국인등록번호 처리
								<label for="la4-2" class="bold fc_000"><input id="la4-2" type="checkbox" checked disabled/>동의함</label>
							</label>
						</div>
					</li>
				</ul>
			</div>
			<div class="consent pdt-n"><!-- 9.15 추가 -->
				<ul class="bul-list-st01">
					<li>금융지주회사법 제48조의 2에 근거하여 DGB금융그룹내 자회사간에는 고객정보의 제공 및 이용이 가능하며, 고객정보 취급방침에 대한 설명을 받았습니다.</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>