<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약정보 확인</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span>4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<dl class="data-info-dl">
				<dt>
					<span class="stit">계약자/피보험자</span>
					<em class="stxt">이서진</em>
					<!-- 
					<span class="stit">계약자</span>
					<em class="stxt">이서진</em>
					<span class="stit">피보험자</span>
					<em class="stxt">이서진</em>
					-->
				</dt>
				<dd><!-- 9.17 수정-->
					<span class="no">519090001234</span>
					<p class="in-name">매월 생활비주는 암보험 갱신형 무해지 환급금주는 무배당암보험 플러스(무)1511</p>
					<ul class="data-list-st01 col-02"><!-- 10.16 수정 :  여러개 나올때 col-02 -->
						<li>
							<div class="stit">보험료</div>
							<div class="scon"><strong>1,000,000</strong>원</div>
						</li>
						<li><span class="stit">환산율</span><span class="scon">00%</span></li>
						<li><span class="stit">기준일</span><span class="scon">2020년 10월10일</span></li>
						<li><span class="stit">원화환산보험료</span><span class="scon">1,000$</span></li>
					</ul>
				</dd>
			</dl>

			<ul class="toggle">
				<li>
					<div class="toggle-header on"><!-- 9.16 수정 -->
						<h3 class="title">청약내용</h3>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con" style="display:block"><!-- 9.16 수정-->
						<div class="cont3">
							<ul class="insure-list-st02">
								<li>
									<div class="item">
										<div class="in-top">
											<span class="flag-c flag-b-st03">주</span><strong class="in-name">소액암진단특약(무)_순수보장</strong>
										</div>
										<div class="in-info">
											<div class="info">
												<span class="stit">보험료</span>
												<span class="val">30,800원<span>(상령일 후 31,800원)</span></span>
											</div>
											<div class="detail">
												<div>
													<span>2,000만원</span><span>월납</span>
												</div>
												<div>
													<span>99년보장</span><span>80세 납입</span>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item">
										<div class="in-top">
											<span class="flag-c flag-b-st02">특약</span><strong class="in-name">마음든든 유니버셜종신보험(무)1904(보증비용부과형보증비용부과형)</strong>
										</div>
										<div class="in-info">
											<div class="info">
												<span class="stit">보험료</span>
												<span class="val">30,800원<span>(상령일 후 31,800원)</span></span>
											</div>
											<div class="detail">
												<div>
													<span>2,000만원</span><span>월납</span>
												</div>
												<div>
													<span>99년보장</span><span>80세 납입</span>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<h3 class="title">계약관계자</h3>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<h4 class="h3-tit-st01">계약관계자</h4><!-- 9.18 추가 -->
							<table class="tb-view ta-l">
								<caption>계약관계자</caption>
								<colgroup>
									<col style="width:28%">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th scope="rows">계약자</th>
										<td>이서진</td>
									</tr>
									<tr>
										<th scope="rows">피보험자</th>
										<td>이서진</td>
									</tr>
									<tr>
										<th scope="rows">만기수익자</th>
										<td>이서진</td>
									</tr>
									<tr>
										<th scope="rows">장해수익자</th>
										<td>이서진</td>
									</tr>
									<tr>
										<th scope="rows">사망수익자</th>
										<td>이서진</td>
									</tr>
								</tbody>
							</table>
							
							<h4 class="h3-tit-st01">지정대리청구인</h4>	<!-- 9.18 추가 -->
							<table class="tb-view ta-l">
								<caption>지정대리청구인</caption>
								<colgroup>
									<col style="width:28%">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th scope="rows">만기수익자</th>
										<td>이서진</td>
									</tr>
									<tr>
										<th scope="rows">장해수익자</th>
										<td>이서진</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<h3 class="title">우편물/증권/약관/부본 수령정보</h3>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<table class="tb-view ta-l">
								<caption>우편물/증권/약관/부본 수령정보</caption>
								<colgroup>
									<col style="width:28%">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th scope="rows">우편물 수령</th>
										<td>자택</td>
									</tr>
									<tr>
										<th scope="rows">주소</th>
										<td>04521<br>서울 중구 남대문로 125<br> 4층(다동)</td>
									</tr>
									<tr>
										<th scope="rows">증권수령</th>
										<td>모바일</td>
									</tr>
									<tr>
										<th scope="rows">약관수령</th>
										<td>모바일</td>
									</tr>
									<tr>
										<th scope="rows">부본수령</th>
										<td>모바일</td>
									</tr>
									<tr><!-- 등록된 고객만 노출 -->
										<th scope="rows">이메일</th>
										<td>email:test@test.com</td>
									</tr>
								</tbody>
							</table>
							<div class="notice-txt ta-l pat_5"><!-- 등록된 고객만 노출 -->
								<p class="icoTxt">등록된 주소로 이메일 자료(약관, 부본)도 함께 받아보실 수 있습니다.</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="toggle-header">
						<h3 class="title">해피콜정보</h3>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="toggle-con">
						<div class="cont3">
							<table class="tb-view ta-l">
								<caption>우편물/증권/약관/부본 수령정보</caption>
								<colgroup>
									<col style="width:28%">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th scope="rows">해피콜종류</th>
										<td>전화</td>
									</tr>
									<tr>
										<th scope="rows">휴대폰</th>
										<td>010-3658-2996</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
			</ul>
			
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>