<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>DGB생명</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1 class="logo">DGB생명</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st04">
		<div class="guide-wrap">
			<div class="top-txt"><!-- 9.25 수정 -->
				고객님께 DGB생명 FC가 드리는<br>
				맞춤형 <em>모바일청약</em>입니다.
				<p class="stxt">언제, 어디서나 편리하게 청약을 진행해보세요.</p>
			</div>
			<div class="guide-box">
				<div class="d-step">
					<p class="ico-txt-st01">진행전 알아 두실 사항</p>
					<p class="d-step-status"><!-- 9.25수정 -->
						<span class="on">1</span>
						<span>2</span>
					</p>
				</div>
				<div class="guide-txt">
					<p class="txt">DGB생명 옴니청약은<br> 고객님 <em>본인명의의 휴대폰</em>에서만<br> 청약진행이 가능합니다.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">다음</button><!-- 9.25수정 -->
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>