<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(계약자)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(계약자)</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>청약서류 작성</h2>
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span>5</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="title-step">
				<h3 class="tit">FATCA 본인확인서<span class="step">(<em>2</em>/2)</span></h3>
				<button type="button" class="sbtn-bdr-1 bdr-st01"><span>서명위치</span></button>
			</div>
			
			
			<div class="cont1 bg-st01">
				<div class="sign-area">
					<span class="sign-tit">(서명/날인/SIGN)</span>
					<div class="sign-box">
						
					</div>
					<button type="button" class="btn-reset"><span>초기화</span></button>
				</div>
				
				<!-- 10.5 추가 -->
				<ul class="bul-list-st02 mat_40">
					<li>본인은 확인서를 작성함에 있어 기재 내용에 오류나 허위가 없음을 확인하며, 기재 내용에 변경이 있을 경우 30일 이내에 귀사에 통지 하겠습니다.</li>
					<li>본인은 확인서에 기재한 내용이 해당 법률에 따라 관련 당국의 요구 및 금융회사의 의무이행을 위해 관련 당국에 제공될 수 있음을 충분히 이해하였습니다.</li>
				</ul>
				<p class="desc-txt">본 확인서에 기재한 내용에 변경이 있을 경우 반드시 금융회사에 통보하여야 하며, 기재사항 중 일부 또는 전체사항을 미 기재하거나 요청서류를 제출하지 않을 경우 비우호적 고객으로 국세청에 보고될 수 있습니다.</p>
				<p class="desc-txt">본 확인서 작성제출의 근거가 되는 「정기 금융정보 교환을 위한 조세조약 이행규정」은 법제처(<a href="http://www.moleg.go.kr" target="_blank">http://www.moleg.go.kr</a>) 및 금융위원회(<a href="http://www.fsc.go.kr" target="_blank">http://www.fsc.go.kr</a>)에서 검색 확인 하실 수 있습니다.</p>
				<!-- 10.5 추가 -->
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04" disabled>다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>