<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약서작성(지정대리청구인)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>청약서작성(지정대리청구인)</h1>
			<!--
			<button class="lbtn btn-back">이전페이지 이동</button>
			-->
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- d-step -->
	<div class="d-step">
		<h2>청약서류 작성</h2>
		<!--
		<p class="d-step-status">
			<span class="on">1</span>
			<span class="on">2</span>
			<span class="on">3</span>
			<span class="on">4</span>
			<span>5</span>
		</p>
		-->
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="title-step">
				<h3 class="tit">지정대리청구인지정신청서</h3>
			</div>

			<div class="subscribe-wrap">
				<div class="subscribe-cont">
					<ol class="no-list-st01">
						<li>
							<div class="dep-tit1"><span class="no">01</span>피보험자와 지정대리인청구인과의 관계는 배우자 또는 3촌이내 친족입니다.</div>
							<div class="checkBox-st01">
								<input type="radio" name="sort1" id="sort1-1" checked=""><label for="sort1-1">예</label>
								<input type="radio" name="sort1" id="sort1-2"><label for="sort1-2">아니오</label>
							</div>
						</li>
						<li>
							<div class="dep-tit1"><span class="no">02</span>피보험자와 지정대리청구인은 동거하거나 생계를 같이 하고 있습니다.</div>
							<div class="checkBox-st01">
								<input type="radio" name="sort2" id="sort2-1" checked=""><label for="sort2-1">예</label>
								<input type="radio" name="sort2" id="sort2-2"><label for="sort2-2">아니오</label>
							</div>
						</li>
					</ol>
				</div>
			</div>

		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>