<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>모바일청약(FC)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>모바일청약(FC)</h1><!-- 9.25 수정 -->
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>추가서류 등록</h2><!-- 9.25 수정 -->
		<p class="d-step-status">
			<span class="on">1</span>
			<span>2</span>
			<span>3</span>
		</p>
	</div>
	<!-- //d-step  -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="box-gray">
				<p class="stxt02">아래 목록의 추가서류 등록(촬영 또는 첨부)를 진행해주세요.</p><!-- 9.25 수정 --><!-- 10.6 수정 -->
			</div>
			
			<!-- 9.25 전체수정 -->
			<div class="cont3">
				<div class="tit-area">
					<h3 class="h3-tit-ico01">피보험자서면동의서</h3>
					<div class="pos-ar">
						<button type="button" class="sbtn-bdr-1 bdr-st03"><span>수정</span></button>
					</div>
				</div>
				<div class="box-line"><!-- 10.6 수정 -->
					<p class="add-txt"><em class="count">1</em>건이 첨부되었습니다.</p>
					<p class="desc-txt">원본 문서는 지점에 제출하여 편철보관해 주시기 바랍니다.</p>
				</div>
				
				<div class="tit-area">
					<h3 class="h3-tit-ico01">외국인등록증</h3>
					<div class="pos-ar">
						<button type="button" class="sbtn-bdr-1 bdr-st06"><span>등록</span></button>
					</div>
				</div>
				<div class="box-line none"><!-- 10.6 수정 -->
					<p class="add-txt"><em class="count">1</em>건이 첨부되었습니다.</p>
				</div>
				
				<div class="tit-area">
					<h3 class="h3-tit-ico01">관계확인서류</h3>
					<div class="pos-ar">
						<button type="button" class="sbtn-bdr-1 bdr-st03"><span>수정</span></button>
					</div>
				</div>
				<div class="box-line"><!-- 10.6 수정 -->
					<p class="add-txt"><em class="count">1</em>건이 첨부되었습니다.</p>
					<p class="desc-txt">원본 문서는 지점에 제출하여 편철보관해 주시기 바랍니다.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st22 flex0 w120">이전</button>
			<button class="lbtn btn-st04" >모집경위확인서 작성</button><!-- 9.25 수정 -->
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>