<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>간편보장분석</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body class="in-0010e">

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>간편보장분석</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<div class="con-st01">
			<div class="con-auto">
				<h2>My 보장진단</h2>
				<div class="h-desc">간단한조회만으로 나의 보장상태를 점검해 보세요.<br />고객의 연령/성별을 고려한 주요 보장항목 분석 및<br />상세 보장항목 분석 등으로 구성되어 있습니다.</div>
				<div class="button-section">
					<button class="btn-st01" id="IN-0011P_searchCs">시작하기</button>
				</div>
			</div>
		</div>
		<div class="con-st01 bg-st01">
			<div class="con-auto">
				<h2>My 위험클리닉</h2>
				<div class="h-desc">한국신용정보원 정보를 기반으로 검사-진단-입원-<br />수술-사망/재해 순으로 사람의 질병 발견 이후 치료 과정별<br /> 보장현황을 분석해 드립니다. </div>
				<div class="button-section">
					<button class="btn-st08" id="IN-0039P_searchCs">시작하기</button>
				</div>
			</div>
		</div>
	</div>

</div>
<!--// 화면 영역 -->
		
</body>
</html>