<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>한국신용정보원 계약 및 한도조회</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>한국신용정보원 계약 및 한도조회</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			<div class="search-cont">
				<div class="search-box">
					<input type="text" class="inp-wrap" placeholder="고객명을 입력하세요.">
					<button class="sbtn-search" id="searchCustNm">검색</button>
				</div>
			</div>
			<div class="cont1 bg-st01"><!-- 9.17 전체 수정 -->
				<p class="ico-txt-st03 mab-10">진행하기 전에 유의사항을 꼭 확인해주세요!</p>

				<ol class="ol-list-st01 mab-20">
					<li>
						<dl>
							<dt>1. 보험 조회</dt>
							<dd>
								<ul class="bul-list-st04">
									<li>본 서비스는 <em>한국신용정보원(내보험다보여)에서 제공하는 보험계약 정보를 기준으로 조회</em>됩니다.</li>
									<li><em>서비스 이용자(본인)가 피보험자인 보험계약정보를 조회</em>하실 수 있으며, 조회시점에 <em>정상유지 중</em>인 보험 계약 정보만 제공합니다.</li>
								</ul>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>2. 보이지 않는 보험</dt>
							<dd>
								<p class="txt">아래와 같은 보험 정보는 한국신용정보원(내보험다보여)에서 제공하지 않습니다.</p>
								<ul class="bul-list-st04">
									<li>2006년 6월 이전에 가입한 생명보험, 손해보험</li>
									<li>2009년 10월 이전에 가입한 공제 및 체신관서의 계약</li>
									<li>제3자(신용정보집중기관)정보제공 동의를 하지 않은 보험</li>
									<li>보장성 급부가 없는 저축성 상품 등</li>
								</ul>
							</dd>
						</dl>
					</li>
				</ol>

				<div class="box-bg-st01 ta-l">
					<p class="txt03">본 서비스는 한국신용정보원(내보험다보여)의 정보를 제공받아 그대로 보여주는 것으로 고객님의 생각과 달리 보여질 수 있습니다.<br>
					(당사는 별도의 자료 수정 권한은 가지지 않습니다.)</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->
	
	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">다음</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->

</div>
<!--//화면 영역 -->
</body>
</html>