<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>모바일청약승인</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- 레이어팝업 영역 -->
<div class="dim-layer ">
	<div class="dimBg"></div>
	<div id="layer2" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>지연사유 입력</h1>
				<button class="btn-pop-close">닫기</button>
			</div>
			<div class="dpop-conts d-scroll">
<textarea placeholder="지연사유를 입력해주세요. (100자이내)">
</textarea>
			</div>
			<div class="dpop-footer">
				<button class="mbtn-2 btn-st01">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// 레이어팝업 영역 -->

<!-- 레이어팝업 영역 -->
<div class="dim-layer none">
	<div class="dimBg"></div>
	<div id="layer2" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>속도체크</h1>
				<button class="btn-pop-close">닫기</button>
			</div>
			<div class="dpop-conts speed">
				<div class="bad">Bad / 기준 50bps이하</div>
				<!-- <div class="speed normal">Normal / 기준 50~100bps이하</div>
				<div class="speed good">Good / 기준 100bps이상</div> -->

				<p class="speed-txt">전산망 속도체크결과는 나쁨(<em>30bps</em>)입니다.</p>
			</div>
			<div class="dpop-footer">
				<button class="mbtn-2 btn-st01">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// 레이어팝업 영역 -->


</body>
</html>