<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입내역상세</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>가입내역상세</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="fullpop-cont dc-0100e">
		<div class="pro-title"><!-- 2018-05-16 -->
			<button class="btn-edit">라이프 파트너 플러스 변액 유니버셜 종신보험(무) 1701 할인형 1종 (기본형)</button>
			<div class="wonbox">
				<label>보험료(월납)</label>
				<p class="won"><em>99,999,999,000</em>원</p>
			</div>
		</div>

		<div class="d-scroll">
			<div class="cont1">
				<article class="pro-covenant ">
					<div class="header">
						<h3 class="bulet01">라이프파트너변액유니버셜종신보험(무)1804_1종(기본형)</h3><!-- 주계약: bulet01 -->
						<button class="btn-gray">수정</button>
						<button class="btn-gray">삭제</button>
					</div>
					<ul class="list">
						<li>
							<label>가입금액</label>
							<span class="fc-blue">2,000만원</span>
						</li>
						<li>
							<label>보험기간</label>
							<span>99년</span>
						</li>
						<li>
							<label>납입기간</label>
							<span>80세</span>
						</li>
					</ul>
					<div class="premium">
						<label>보험료</label>
						<div>
							<p class="fs-point02">35,200원</p>
						</div>
					</div>
				</article>

				<article class="pro-covenant ">
					<div class="header">
						<h3 class="bulet03">정기특약(무)_순수보장형</h3><!-- 2018-05-16 선택: bulet03, bulet05 -->
						<button class="btn-gray">수정</button>
						<button class="btn-gray">삭제</button>
					</div>
					<ul class="list">
						<li>
							<label>가입금액</label>
							<span class="fc-blue">500만원</span>
						</li>
						<li>
							<label>보험기간</label>
							<span>100세</span>
						</li>
						<li>
							<label>납입기간</label>
							<span>30년</span>
						</li>
					</ul>
					<div class="premium">
						<label>보험료</label>
						<div>
							<p class="fs-point02">13,100원</p>
						</div>
					</div>
				</article>

				<article class="pro-covenant ">
					<div class="header">
						<h3 class="bulet02">재해사망특약(무)_순수보장형</h3><!-- 2018-05-16 의무: bulet02, bulet04 -->
						<button class="btn-gray">수정</button>
						<button class="btn-gray">삭제</button>
					</div>
					<ul class="list">
						<li>
							<label>가입금액</label>
							<span class="fc-blue">500만원</span>
						</li>
						<li>
							<label>보험기간</label>
							<span>80세</span>
						</li>
						<li>
							<label>납입기간</label>
							<span>80세</span>
						</li>
					</ul>
					<div class="premium">
						<label>보험료</label>
						<div>
							<p class="fs-point02">485원</p>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st01" >확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>