<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>펀드/연금정보</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>펀드/연금정보</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tab 고정영역 -->
	<div>
		<ul class="tab">
			<li><button>펀드비율</button></li>
			<li class="on"><button>연금사항</button></li>
		</ul>
	</div>

	<!-- body_tabcontents 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="cont1">
			<!-- tab2_연금사항 contents 2018-04-04 -->
			<ul class="write-st02">
				<li>
					<label for="sel1">연금유형</label>
					<div>
						<select id="sel1" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel2">연금비율</label>
					<div>
						<input id="sel2" class="inp-wrap" type="tel" /><span class="dash">%</span>
					</div>
				</li>
				<li>
					<label for="sel3">지급주기</label>
					<div>
						<select id="sel3" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel4">체증형태</label>
					<div>
						<select id="sel4" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel5">체증기간</label>
					<div>
						<select id="sel5" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel6">체증률</label>
					<div>
						<select id="sel6" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel7">확정기간</label>
					<div>
						<select id="sel7" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel8">보증기간</label>
					<div>
						<select id="sel8" class="select flex">
							<option>선택하세요.<option>
						</select>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01" disabled>확인</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// fullpopup 영역 -->

</body>
</html>