<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>추가납입</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>추가납입</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tab 고정영역 선택시 "on"추가  -->
	<div>
		<ul class="tab">
			<li class="on"><button>정기</button></li>
			<li><button>수시</button></li>
		</ul>
	</div>

	<!-- body_resultBox 스크롤영역 -->
	<div class="fullpop-cont bg-st02">
		<div class="ps-tbtn">
			<span>* 납입주기는 1개월</span>
			<p class="pos-ar">
				<button class="sbtn-3 btn-st09">삭제</button>
				<button class="sbtn-3 btn-st02">추가</button>
			</p>
		</div>

		<div class="d-scroll">
			<article class=""><!-- 비활성시 class="none" 추가 -->
				<h2 class="ui-hidden-accessible">정기 추가납입 목록</h2>
				<ul class="write-st06">
					<li>
						<span class="pro-no">1</span>
						<div class="cols-2">
							<label class="stit" for="la1-1">납입시작</label>
							<p class="scon">
								<input id="la1-1" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
							<label class="stit" for="la1-2">납입기간</label>
							<p class="scon">
								<input id="la1-2" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
						</div>
						<div>
							<label class="stit" for="la1-3">금액</label>
							<p class="scon">
								<input id="la1-3" class="inp-wrap ta-r" type="tel" value="999,000,000"/>
								<span class="stxt">원</span>
							</p>
						</div>
					</li>
					<li>
						<span class="pro-no">2</span>
						<div class="cols-2">
							<label class="stit" for="la2-1">납입시작</label>
							<p class="scon">
								<input id="la2-1" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
							<label class="stit" for="la2-2">납입기간</label>
							<p class="scon">
								<input id="la2-2" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
						</div>
						<div>
							<label class="stit" for="la2-3">금액</label>
							<p class="scon">
								<input id="la2-3" class="inp-wrap ta-r" type="tel" value="999,000,000"/>
								<span class="stxt">원</span>
							</p>
						</div>
					</li>
					<li>
						<span class="pro-no">:</span>
						<div class="cols-2">
							<label class="stit" for="la3-1">납입시작</label>
							<p class="scon">
								<input id="la3-1" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
							<label class="stit" for="la3-2">납입기간</label>
							<p class="scon">
								<input id="la3-2" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
						</div>
						<div>
							<label class="stit" for="la3-3">금액</label>
							<p class="scon">
								<input id="la3-3" class="inp-wrap ta-r" type="tel" value="999,000,000"/>
								<span class="stxt">원</span>
							</p>
						</div>
					</li>
					<li>
						<span class="pro-no">10</span>
						<div class="cols-2">
							<label class="stit" for="la10-1">납입시작</label>
							<p class="scon">
								<input id="la10-1" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
							<label class="stit" for="la10-2">납입기간</label>
							<p class="scon">
								<input id="la10-2" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
						</div>
						<div>
							<label class="stit" for="la10-3">금액</label>
							<p class="scon">
								<input id="la10-3" class="inp-wrap ta-r" type="tel" value="999,000,000"/>
								<span class="stxt">원</span>
							</p>
						</div>
					</li>
				</ul>
			</article>

			<article><!-- 비활성시 class="none" 추가 -->
				<h2 class="ui-hidden-accessible">수시 추가납입 목록</h2>
				<ul class="write-st06">
					<li>
						<span class="pro-no">1</span>
						<div class="cols-2">
							<label class="stit" for="la101-1">납입시작</label>
							<p class="scon">
								<input id="la101-1" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
							<label class="stit" for="la101-2">납입기간</label>
							<p class="scon">
								<input id="la101-2" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
						</div>
						<div>
							<label class="stit" for="la101-3">납입주기</label>
							<p class="scon par_3_5"><!-- 2018-05-11 -->
								<select for="la101-3" class="select">
									<option>1개월</option>
								</select>
							</p>
						</div>
						<div>
							<label class="stit" for="la101-4">금액</label>
							<p class="scon">
								<input id="la101-4" class="inp-wrap ta-r" type="tel" value="999,000,000"/>
								<span class="stxt">원</span>
							</p>
						</div>
					</li>
					<li>
						<span class="pro-no">2</span>
						<div class="cols-2">
							<label class="stit" for="la103-1">납입시작</label>
							<p class="scon">
								<input id="la103-1" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
							<label class="stit" for="la103-2">납입기간</label>
							<p class="scon">
								<input id="la103-2" class="inp-wrap ta-r" type="tel" value="999"/>
								<span class="stxt">년</span>
							</p>
						</div>
						<div>
							<label class="stit" for="la103-3">납입주기</label>
							<p class="scon par_3_5"><!-- 2018-05-11 -->
								<select for="la103-3" class="select">
									<option>01개월</option>
								</select>
							</p>
						</div>
						<div>
							<label class="stit" for="la103-4">금액</label>
							<p class="scon">
								<input id="la103-4" class="inp-wrap ta-r" type="tel" value="999,000,000"/>
								<span class="stxt">원</span>
							</p>
						</div>
					</li>
				</ul>
			</article>
		</div>
	
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer"><!-- 2018-05-11 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st03" >한도체크</button>
			<button class="lbtn btn-st01" >저장하기</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>