<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>모바일청약승인</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 레이어팝업 영역 -->
<div class="dim-layer none">
	<div class="dimBg"></div>
	<div id="layer2" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>지원사유 입력</h1>
				<button class="btn-pop-close">닫기</button>
			</div>
			<div class="dpop-conts d-scroll">
<textarea placeholder="지연사유를 입력해주세요. (100자이내)">
</textarea>
			</div>
			<div class="dpop-footer">
				<button class="mbtn-2 btn-st01">확인</button>
			</div>
		</div>
	</div>
</div>
<!--// 레이어팝업 영역 -->

<!-- 화면 영역 -->
<div class="d-wrap">

	<!-- header 고정영역  -->
	<header>
		<div class="d-head">
			<h1>모바일청약승인</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역  2018-05-03 / 2018-05-04 -->
	<div class="search">
		<ul>
			<li class="dform circle01">
				<label for="la1-1" class="label-txt w70">계약일</label>
				<label for="ra-01"><input id="ra-01" type="radio" name="ra" />1주</label>
				<label for="ra-02"><input id="ra-02" type="radio" name="ra" />2주</label>
				<label for="ra-03"><input id="ra-03" type="radio" name="ra" />한달</label>
				<label for="ra-04"><input id="ra-04" type="radio" name="ra" checked />기간</label>
			</li>
			<li class=""><!-- 기간 라디오버튼 선택되었을 경우 노출 -->
				<label for="la1-2" class="label-txt w70">기간입력</label>
				<input id="la1-2" class="inp-wrap" type="tel" placeholder="시작일 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" /><span class="dash">~</span>
				<input class="inp-wrap" type="tel" placeholder="종료일 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" />
			<li>
				<select class="select " title="지점">
					<option>지점 선택</option>
				</select>
				<select class="select " title="팀">
					<option>팀 선택</option>
				</select>
			</li>
			<li>
				<select class="select " title="선택">
					<option>전체 선택</option>
				</select>
				<select class="select " title="상태">
					<option>청약상태</option>
					<option>전체</option>
					<option>일반청약</option>
					<option>전자청약</option>
					<option>옴니청약</option>
				</select>
			</li>
		</ul>
	</div>
	<div class="btnArea">
		<button class="lbtn-search" type="submit">검색</button>
	</div>

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<h2 class="blind">검색결과 영역</h2>

		<!-- 검색 전 문구
		<div class="no-data">검색조건을 입력하고 검색을 진행해 주세요.</div>-->
		<!-- 검색 후 문구
		<div class="no-data">검색결과가 없습니다.</div>-->

		<div>
			<p class="result-txt">총 5건이 검색되었습니다.</p>
			<ul class="link-list-st01 dform circle01">
				<li>
					<div class="tit-h2">
						<input id="chk1" type="checkbox" />
						<label for="chk1">
							<span class="pro-num">234034020</span>
							<span class="pro-stit">프리미엄건강보험 무배당</span>
						</label>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01 col-02"><!-- 2018-05-09 -->
							<li>
								<span class="stit">계약일</span>
								<span class="scon">2017.11.01</span>
							</li>
							<li>
								<span class="stit">계약자</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">보험료</span>
								<span class="scon">160,000원</span>
							</li>
							<li class="fl_none">
								<span class="stit">피보험자</span>
								<span class="scon">홍길동</span>
							</li>
						</ul>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<input id="chk2" type="checkbox" />
						<label for="chk2">
							<span class="pro-num">234034020</span>
							<span class="pro-stit">프리미엄건강보험 무배당</span>
						</label>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01 col-02"><!-- 2018-05-09 -->
							<li>
								<span class="stit">계약일</span>
								<span class="scon">2017.11.01</span>
							</li>
							<li>
								<span class="stit">계약자</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">보험료</span>
								<span class="scon">160,000원</span>
							</li>
							<li class="fl_none">
								<span class="stit">피보험자</span>
								<span class="scon">홍길동</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st10"  >미리보기</button>
			<button class="lbtn btn-st01"  >승인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>