<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자서류 진행이력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>전자서류 진행이력</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_resultBox 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div>
			<ul class="link-list-st01">
				<li>
					<div class="tit-h2">
						<span class="pro-stit">설계사 방송</span>
						<p class="tit-h2-con">
							<span class="status-02">진행완료</span>
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01">
							<li>
								<span class="stit w120">발송내용</span>
								<span class="scon">청약보완-질병부담보</span>
							</li>
							<li>
								<span class="stit w120">발송일시</span>
								<span class="scon">2018.04.19 00:00</span>
							</li>
							<li>
								<span class="stit w120">고객휴대폰번호</span>
								<span class="scon">010-0000-0000</span>
							</li>
							<li>
								<span class="stit w120">발송종류</span>
								<span class="scon">알림톡</span>
							</li>
						</ul>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<span class="pro-stit">고객 수신(다운로드 포함)</span>
						<p class="tit-h2-con">
							<span class="status-02">미진행</span><!-- 2018-05-09 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01">
							<li>
								<span class="stit w120">수신내용</span>
								<span class="scon">청약보완-질병부담보</span>
							</li>
							<li>
								<span class="stit w120">수신(다운로드)일시</span>
								<span class="scon">-</span>
							</li>
						</ul>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<span class="pro-stit">고객발송(작성완료)</span>
						<p class="tit-h2-con">
							<span class="status-02">미진행</span><!-- 2018-05-09 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01">
							<li>
								<span class="stit w120">발송내용</span>
								<span class="scon">청약보완-질병부담보</span>
							</li>
							<li>
								<span class="stit w120">작성완료일자</span>
								<span class="scon">-</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>