<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자청약 입력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>전자청약 입력</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<div>
		<div class="d-step">
			<h2>6. 전자청약 입력 완료</h2>
			<p class="d-step-status">
				<span>1</span> / <span>2</span> / <span>3</span> / <span>4</span> / <span>5</span> / <span class="on">6</span>
			</p>
		</div>
	</div>

	<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st01">
		<div class="cont1">
			<div class="dc-0225e-bg">
				<p class="customer">홍길동 고객님</p>
				<p class="mtxt">보험가입이 완료되었습니다.<br />감사합니다.</p>
				<p class="stxt">초회보험료 납입시점부터<br />보험가입 효력이 발생합니다.</p>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01">청약확정</button>
			<button class="lbtn btn-st02">확정취소</button>
			<button class="lbtn btn-st03">초회보험료 납입</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// 화면 영역 -->

</body>
</html>