<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>계좌정보관리</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>계좌정보관리</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div>
			<div class="h-group">
				<h2>계좌정보</h2>
				<p class="pos-ar">
					<button class="sbtn-3 btn-st09">삭제</button>
					<button class="sbtn-3 btn-st02">추가</button>
				</p>
			</div>

			<div class="cont1"><!-- 2018-05-21 -->
				<ul class="write-st02"><!-- 2018-05-08 -->
					<li>
						<label for="label2">은행명</label>
						<div class="hbox jc">
							<select id="label2" class="select flex w100p">
								<option>국민은행</option>
							</select>
						</div>
					</li>
					<li>
						<label for="label1">계좌번호</label>
						<div>
							<input id="label1" class="inp-wrap" type="tel" placeholder="-없이 입력해주세요." />
						</div>
					</li>
				</ul>
				<div class="button-section"><!-- 2018-05-08 -->
					<button class="lbtn btn-st21" >취소</button>
					<button class="lbtn btn-st01" >저장</button>
				</div>
			</div>

			<ul class="link-list-st01 dform circle01">
				<li>
					<label for="ra1">
						<div class="tit-h2">
							<input id="ra1" name="ra" type="radio" />
							<p>
								<span class="pro-stit">우리은행 304-08-5******</span>
							</p>
						</div>
						<article class="link-list-con">
							<ul class="bul-list-st01 col-02">
								<li>
									<span class="stit">출금동의</span>
									<span class="scon">비동의</span>
								</li>
								<li>
									<span class="stit">계좌상태</span>
									<span class="scon">정상</span>
								</li>
								<li class="fl-none">
									<span class="stit">상태확인일자</span>
									<span class="scon">2018.03.02</span>
								</li>
							</ul>
						</article>
					</label>
				</li>
				<li>
					<label for="ra2">
						<div class="tit-h2">
							<input id="ra2" name="ra" type="radio" />
							<p>
								<span class="pro-stit">우리은행 304-08-5******</span>
							</p>
						</div>
						<article class="link-list-con">
							<ul class="bul-list-st01 col-02">
								<li>
									<span class="stit">출금동의</span>
									<span class="scon">비동의</span>
								</li>
								<li>
									<span class="stit">계좌상태</span>
									<span class="scon">정상</span>
								</li>
								<li class="fl-none">
									<span class="stit">상태확인일자</span>
									<span class="scon">2018.03.02</span>
								</li>
							</ul>
						</article>
					</label>
				</li>
				<li>
					<label for="ra3">
						<div class="tit-h2">
							<input id="ra3" name="ra" type="radio" />
							<p>
								<span class="pro-stit">우리은행 304-08-5******</span>
							</p>
						</div>
						<article class="link-list-con">
							<ul class="bul-list-st01 col-02">
								<li>
									<span class="stit">출금동의</span>
									<span class="scon">동의</span>
								</li>
								<li>
									<span class="stit">계좌상태</span>
									<span class="scon">정상</span>
								</li>
								<li class="fl-none">
									<span class="stit">상태확인일자</span>
									<span class="scon">2018.03.02</span>
								</li>
							</ul>
						</article>
					</label>
				</li>
			</ul>

		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st02" >계좌확인</button>
			<button class="lbtn btn-st01" >선택</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>