<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안 비교</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>가입제안 비교</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_고정영역 -->
	<div style="margin-bottom:1rem;">
		<ul class="cus-box03">
			<li>
				<div class="tit-h2">
					<label class="stxt">계약자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
			<li>
				<div class="tit-h2">
					<label class="stxt">피보험자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
		</ul>
		<ul class="tab col-3">
			<li><button>상품비교</button></li>
			<li><button>보장내역</button></li>
			<li class="on"><button>해지환급금</button></li>
		</ul>
	</div>


	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st01">
		<div class="cont1">
			<div class="body-search">
				<label>조회시점</label>
				<input type="tel" class="flex ta-r" /><span class="stxt">년후</span>
				<button class="sbtn-05 btn-st02">조회</button>
			</div>
			<div class="box-st02 dform circle01">
				<label for="ra1_1"><input type="radio"  id="ra1_1" name="ra"/>공시이율</label>
				<label for="ra1_2"><input type="radio"  id="ra1_2" name="ra"/>평균공시이율</label>
				<label for="ra1_3"><input type="radio"  id="ra1_3" name="ra"/>최저보증이율</label>
			</div>
		</div>
		<div class="cont1" id="graphArea">
			<h2>해지환급금</h2>
			<div class="graphArea"><!-- 2018-05-10 -->
				<ol>
					<li>
						<h3>1안</h3>
						<div class="barbg">
							<span class="graph-bar1" style="width:5%;"><em class="graph-txt">7000만원</em></span>
						</div>
					</li>
					<li>
						<h3>2안</h3>
						<div class="barbg">
							<span class="graph-bar2" style="width:120%;"><em class="graph-txt">7000만원</em></span>
						</div>
					</li>
					<li>
						<h3>3안</h3>
						<div class="barbg">
							<span class="graph-bar3" style="width:90%;"><em class="graph-txt">7000만원</em></span>
						</div>
					</li>
				</ol>
			</div>

			<h2>환급률</h2>
			<div class="graphArea"><!-- 2018-05-10 -->
				<ol>
					<li>
						<h3>1안</h3>
						<div class="barbg">
							<span class="graph-bar1" style="width:80%;"><em class="graph-txt">80%</em></span>
						</div>
					</li>
					<li>
						<h3>2안</h3>
						<div class="barbg">
							<span class="graph-bar2" style="width:100%;"><em class="graph-txt">100%</em></span>
						</div>
					</li>
					<li>
						<h3>3안</h3>
						<div class="barbg">
							<span class="graph-bar3" style="width:50%;"><em class="graph-txt">50%</em></span>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>

</div>
<!--// fullpopup 영역 -->

</body>
</html>