<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>중도인출</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>중도인출</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->


	<!-- body_resultBox 스크롤영역 -->
	<div class="fullpop-cont bg-st02">
		<div class="ps-tbtn">
			<p class="pos-ar">
				<button class="sbtn-3 btn-st09">삭제</button>
				<button class="sbtn-3 btn-st02">추가</button>
			</p>
		</div>

		<div class="d-scroll">
			<ul class="write-st06 stit-40p"><!-- 2018-03-16 -->
				<li>
					<span class="pro-no">1</span>
					<div>
						<label class="stit" for="la1-1">인출시작시점(월)</label>
						<p class="scon">
							<input id="la1-1" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la1-2">인출기간(월)</label>
						<p class="scon">
							<input id="la1-2" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la1-3">인출금액</label>
						<p class="scon">
							<input id="la1-3" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">원</span>
						</p>
					</div>
				</li>
				<li>
					<span class="pro-no">1</span>
					<div>
						<label class="stit" for="la2-1">인출시작시점(월)</label>
						<p class="scon">
							<input id="la2-1" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la2-2">인출기간(월)</label>
						<p class="scon">
							<input id="la2-2" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la2-3">인출금액</label>
						<p class="scon">
							<input id="la2-3" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">원</span>
						</p>
					</div>
				</li>
				<li>
					<span class="pro-no">:</span>
					<div>
						<label class="stit" for="la3-1">인출시작시점(월)</label>
						<p class="scon">
							<input id="la3-1" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la3-2">인출기간(월)</label>
						<p class="scon">
							<input id="la3-2" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la3-3">인출금액</label>
						<p class="scon">
							<input id="la3-3" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">원</span>
						</p>
					</div>
				</li>
				<li>
					<span class="pro-no">10</span>
					<div>
						<label class="stit" for="la10-1">인출시작시점(월)</label>
						<p class="scon">
							<input id="la10-1" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la10-2">인출기간(월)</label>
						<p class="scon">
							<input id="la10-2" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">개월</span>
						</p>
					</div>
					<div>
						<label class="stit" for="la10-3">인출금액</label>
						<p class="scon">
							<input id="la10-3" class="inp-wrap ta-r" type="tel" value="999"/>
							<span class="stxt">원</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
	
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer"><!-- 2018-05-11 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st03" >한도체크</button>
			<button class="lbtn btn-st01" >저장하기</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>