<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안 이력조회</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script><!-- 2018-04-04 -->
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap dc-0120e">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>가입제안 이력조회</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역 2018-05-03 / 2018-05-04 -->
	<div class="search">
		<ul>
			<li class="dform circle01">
				<label for="la1-1" class="label-txt">조회기간</label>
				<div class="checkBox-st01">
					<input id="ra-01" type="radio" name="ra" />
					<label for="ra-01">1주</label>
					<input id="ra-02" type="radio" name="ra" />
					<label for="ra-02">2주</label>
					<input id="ra-03" type="radio" name="ra" />
					<label for="ra-03">한달</label>
					<input id="ra-04" type="radio" name="ra" checked />
					<label for="ra-04">기간</label>
				</div>
			</li>
			<li class=""><!-- 기간 라디오버튼 선택되었을 경우 노출 -->
				<label for="la1-2" class="label-txt">기간입력</label>
				<input id="la1-2" class="inp-wrap" type="tel" placeholder="시작일 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" /><span class="dash">~</span>
				<input class="inp-wrap" type="tel" placeholder="종료일 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" />
			</li>
			<li>
				<label for="sel1" class="label-txt">상품구분</label>
				<select id="sel1" class="select">
					<option>상품구분 선택</option>
					<option>전체</option>
					<option>보장성(확정)</option>
					<option>보장성(연동)</option>
					<option>보장성(변액)</option>
					<option>저축성(확정)</option>
					<option>저축성(연동)</option>
					<option>저축성(변액)</option>
					<option>연금(확정)</option>
					<option>연금(연동)</option>
					<option>연금(변액)</option>
				</select>
				<input class="inp-wrap" type="text" title="고객명" placeholder="고객명을 입력하세요." />
			</li>
			<li>
				<label for="sel2" class="label-txt">대표상품</label>
				<select id="sel2" class="select">
					<option>대표상품 선택</option>
				</select>
			</li>
		</ul>
		<div class="btnArea">
			<button class="lbtn-search" type="submit">검색</button>
		</div>
	</div>	

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont dcNew"><!-- 2026 dcNew 클래스 추가 -->
			<h2 class="ui-hidden-accessible">검색결과 영역</h2>

			<!-- 검색 전 문구
			<div class="no-data">검색조건을 입력하고 검색을 진행해 주세요.</div>-->
			<!-- 검색 후 문구
			<div class="no-data">검색결과가 없습니다.</div>-->

			<div>
				<p class="result-txt">총 5건이 검색되었습니다.</p>
				<!-- 2026 dcNew 수정 -->
				<div class="cont3">
					<article class="pro-covenant mat-n ">
						<div class="header pal_15 par_15" style="min-height:0rem">
							<ul class="link-list-st01 dform square02 pdt-n w100p">
								<li class="bg-st02 pd-n border-n">
									<div class="flexJcC gap10 flexAiCt mab-5">
										<p class="preResult-tit blue">표준인수</p>
										<span class="status-02">출력이력 O</span>
									</div>
									<div class="tit-h2 pd-n webBox-align_s">
										<input id="chk1" type="checkbox" checked="">
										<label for="chk1">
											<span class="Advance-stit par_n">마음든든플러스유니버셜종신보험 1종(기본형)플랜명 노출</span>
										</label>
									</div>
								</li>
							</ul>   
						</div>
						<ul class="list-limit border-bn data-list-st01 col-02">
							<li>
								<em class="stit">설계일자</em>
								<span class="scon">2026.05.10</p>
							</li>
							<li>
								<em class="stit">보험료</em>
								<span class="scon">274,800 원</p>
							</li>
							<li>
								<em class="stit">계약자</em>
								<span class="scon">홍길동</p>
							</li>
							
							<li>
								<em class="stit">피보험자</em>
								<span class="scon">홍길동</p>
							</li>
						</ul>
					</article>
					<article class="pro-covenant">
						<div class="header pal_15 par_15" style="min-height:0rem">
							<ul class="link-list-st01 dform square02 pdt-n w100p">
								<li class="bg-st02 pd-n border-n">
									<div class="flexJcC gap10 flexAiCt mab-5">
										<p class="preResult-tit orange">표준체미달인수</p>
										<span class="status-13">출력이력 ×</span>
									</div>
									<div class="tit-h2 pd-n webBox-align_s">
										<input id="chk2" type="checkbox">
										<label for="chk2">
											<span class="Advance-stit par_n">마음든든플러스유니버셜종신보험 1종(기본형)플랜명 노출</span>
										</label>
									</div>
								</li>
							</ul>   
						</div>
						<ul class="list-limit border-bn data-list-st01 col-02">
							<li>
								<em class="stit">설계일자</em>
								<span class="scon">2026.05.10</p>
							</li>
							<li>
								<em class="stit">보험료</em>
								<span class="scon">274,800 원</p>
							</li>
							<li>
								<em class="stit">계약자</em>
								<span class="scon">홍길동</p>
							</li>
							
							<li>
								<em class="stit">피보험자</em>
								<span class="scon">홍길동</p>
							</li>
						</ul>
					</article>
					<article class="pro-covenant">
						<div class="header pal_15 par_15" style="min-height:0rem">
							<ul class="link-list-st01 dform square02 pdt-n w100p">
								<li class="bg-st02 pd-n border-n">
									<div class="flexJcC gap10 flexAiCt mab-5">
										<p class="preResult-tit pink">불가</p>
										<span class="status-02">출력이력 O</span>
									</div>
									<div class="tit-h2 pd-n webBox-align_s">
										<input id="chk3" type="checkbox">
										<label for="chk3">
											<span class="Advance-stit par_n">마음든든플러스유니버셜종신보험 1종(기본형)플랜명 노출</span>
										</label>
									</div>
								</li>
							</ul>   
						</div>
						<ul class="list-limit border-bn data-list-st01 col-02">
							<li>
								<em class="stit">설계일자</em>
								<span class="scon">2026.05.10</p>
							</li>
							<li>
								<em class="stit">보험료</em>
								<span class="scon">274,800 원</p>
							</li>
							<li>
								<em class="stit">계약자</em>
								<span class="scon">홍길동</p>
							</li>
							
							<li>
								<em class="stit">피보험자</em>
								<span class="scon">홍길동</p>
							</li>
						</ul>
					</article>
				</div>
				<!-- //2026 dcNew 수정 -->
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 9.15 버튼 클래스 수정 -->
			<button class="lbtn btn-st11" >가입제안</button>
			<button class="lbtn btn-st01" >청약입력</button>
			<button class="lbtn btn-st02" >비교하기</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// 화면 영역 -->

</body>
</html>