<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>옴니청약 발송</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>옴니청약 발송</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tab 고정영역 -->
	<div>
		<ul class="tab">
			<li><button>설계사 서명</button></li>
			<li class="on"><button>비교설명표</button></li>
		</ul>
	</div>

	<!-- body_tabcontents 스크롤영역 -->
	<div class="fullpop-cont d-scroll">
		<div class="cont1">
			<p class="line-wrap dform circle01">
				<label for="radio_01" class="flex w100p"><input id="radio_01" type="radio" name="radio" checked />신규계약</label>
				<label for="radio_02" class="flex w100p"><input id="radio_02" type="radio" name="radio" />기존계약(타사)</label>
			</p>
			<div>
				<table class="board-st02"><!-- 2018-06-08 -->
					<caption>신규계약 비교설명표</caption>
					<thead>
						<tr>
							<th scope="cols" class="w30p">비교항목</th>
							<th scope="cols">내용</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="rows">상품명</th>
							<td class="ta-l">리치플랜S유니버셜종신보험 (무)1706 가산형 1종(기본형)</td>
						</tr>
						<tr>
							<th scope="rows">보험료</th>
							<td><input type="text" title="보험료입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험기간</th>
							<td><input type="text" title="보험기간입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험가입금액</th>
							<td><input type="text" title="보험가입금액입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">주요보장내용</th>
							<td><input type="text" title="주요보장내용입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험금액</th>
							<td><input type="text" title="보험금액입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">환급금액</th>
							<td><input type="text" title="환급금액입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">예정이자율 중 공시이율</th>
							<td><input type="text" title="예정이자율 중 공시이율입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험목적</th>
							<td><input type="text" title="보험목적입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">면책사유</th>
							<td><input type="text" title="면책사유입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">면책사항</th>
							<td><input type="text" title="면책사항입력" placeholder="작성해주세요" /></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<table class="board-st02"><!-- 2018-06-08 -->
					<caption>기존계약(타사) 비교설명표</caption>
					<thead>
						<tr>
							<th scope="cols" class="w30p">비교항목</th>
							<th scope="cols">내용</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="rows">상품명</th>
							<td><input type="text" title="상품명입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험료</th>
							<td><input type="text" title="보험료입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험기간</th>
							<td><input type="text" title="보험기간입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험가입금액</th>
							<td><input type="text" title="보험가입금액입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">주요보장내용</th>
							<td><input type="text" title="주요보장내용입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험금액</th>
							<td><input type="text" title="보험금액입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">환급금액</th>
							<td><input type="text" title="환급금액입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">예정이자율 중 공시이율</th>
							<td><input type="text" title="예정이자율 중 공시이율입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">보험목적</th>
							<td><input type="text" title="보험목적입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">면책사유</th>
							<td><input type="text" title="면책사유입력" placeholder="작성해주세요" /></td>
						</tr>
						<tr>
							<th scope="rows">면책사항</th>
							<td><input type="text" title="면책사항입력" placeholder="작성해주세요" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer"><!-- 입력완료 시 disabled삭제 -->
			<button class="lbtn btn-st01" >저장</button>
			<button class="lbtn btn-st02" >발송</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>