<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안 비교</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>가입제안 비교</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_고정영역 -->
	<div>
		<ul class="cus-box03">
			<li>
				<div class="tit-h2">
					<label class="stxt">계약자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
			<li>
				<div class="tit-h2">
					<label class="stxt">피보험자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
		</ul>
		<ul class="tab col-3"><!-- 2018-04-09 -->
			<li><button>상품비교</button></li>
			<li class="on"><button>보장내역</button></li>
			<li><button>해지환급금</button></li>
		</ul>
	</div>


	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll">
		<div class="cont1">
			<ul class="stab">
				<li class="on"><button>1안</button></li>
				<li><button>2안</button></li>
				<li><button>3안</button></li>
			</ul>

			<div class="space-st01">
				<h2 class="h2-st03">주계약</h2>
				<table class="tb-data ta-l">
					<caption>지급사유 및 지급금액</caption>
					<thead>
						<tr>
							<th scope="cols">지급사유</th>
							<th scope="cols" class=" w40p">지급금액</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>[사망보험금] 피보험자가 보험기간 중 사망하였을 경우</td>
							<td class="fc-blue">기본보험금액</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="space-st01">
				<h2 class="h2-st03">정기특약(무)</h2>
				<table class="tb-data ta-l">
					<caption>지급사유 및 지급금액</caption>
					<thead>
						<tr>
							<th scope="cols">지급사유</th>
							<th scope="cols" class=" w40p">지급금액</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>[사망보험금] 피보험자가 보험기간 중 사망하였을 경우</td>
							<td class="fc-blue">기본보험금액</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="space-st01">
				<h2 class="h2-st03">고도장해 보장특약(무)</h2>
				<table class="tb-data ta-l">
					<caption>지급사유 및 지급금액</caption>
					<thead>
						<tr>
							<th scope="cols">지급사유</th>
							<th scope="cols" class=" w40p">지급금액</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>[고도장해보험금] 피보험자가보험기간 중 장해분류표 증 동일한 재해이외의 동일한 원인으로 여러 신체부위의 장해지급률에 해당하는 장해상태가 되었을 때</td>
							<td class="fc-blue">기본보험금액</td>
						</tr>
					</tbody>
				</table>
			</div>



		</div>
	</div>

</div>
<!--// 화면 영역 -->

</body>
</html>