<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>생활자금 선지급</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>생활자금 선지급</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tabcontents 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="cont1">
			<!-- tab2_연금사항 contents -->
			<ul class="write-st04">
				<li>
					<label for="sel1">선지급대상 보험가입금액 비율</label>
					<div>
						<select id="sel1" class="select flex">
							<option>선택하세요.</option>
						</select>
						<span class="dash">%</span>
					</div>
				</li>
				<li>
					<label for="sel2">선지급대상 보험가입금액</label>
					<div>
						<input id="sel2" class="inp-wrap" type="tel" /><span class="dash">만원</span>
					</div>
				</li>
				<li>
					<label for="sel3">생활자금 지급 개시나이</label>
					<div>
						<select id="sel3" class="select flex">
							<option>선택하세요.</option>
						</select>
						<span class="dash">세</span>
					</div>
				</li>
				<li>
					<label for="sel4">생활자금 지급기간</label>
					<div>
						<select id="sel4" class="select flex">
							<option>선택하세요.</option>
						</select>
						<span class="dash">년</span>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01" disabled>확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>