<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자청약 입력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>전자청약 입력</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
 
	<div>
		<div class="d-step">
			<h2>3. 결제정보 입력</h2>
			<p class="d-step-status">
				<span>1</span> / <span>2</span> / <span class="on">3</span> / <span>4</span> / <span>5</span>
			</p>
		</div>
		<div class="d-step3">
			<ol><!-- 현재 class="on" / 과거 class="check" -->
				<li class="check"><span>1</span>초회입금방법</li>
				<li class="on"><span>2</span>계속납입방법</li>
				<li><span>3</span>반환계좌</li>
			</ol>
		</div>
	</div>

	<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st02">
		<div class="cont1">
			<h3 class="ui-hidden-accessible">계속납입방법 입력폼</h3>
			<ul class="write-st04">
				<li>
					<label for="la-01">예금주명</label>
					<div>
						<select id="la-01" class="select">
							<option>홍길동</option>
						</select>
					</div>
				</li>
				<li>
					<label for="la-02">납입방법</label>
					<div class="checkBox-st01">
						<input id="ra1_1" name="ra1" type="radio" checked /><label for="ra1_1">자동이체</label>
						<input id="ra1_2" name="ra1" type="radio" /><label for="ra1_2">카드</label>
					</div>
				</li>
				<!-- 즉시이체인 경우 -->
				<li>
					<label for="la-03">은행명</label>
					<div>
						<input id="la-03" type="text" class="inp-wrap" placeholder="은행선택" />
						<button class="btn-find">조회</button>
					</div>
				</li>
				<li>
					<label for="la-04">계좌번호 <span class="label-desc fc-blue">본인 명의의 카드만 가능합니다.</span></label>
					<div>
						<input id="la-04" type="text" class="inp-wrap" placeholder="-없이 숫자만 입력하세요" />
						<button class="sbtn-5 btn-st02">확인</button>
						<span class="bank-ok none">계좌번호확인 완료</span><!-- 계좌번호확인 완료시에만 노출 -->
					</div>
				</li>
				<li>
					<label for="la-05">수금일자</label>
					<div class="checkBox-st01">
						<input id="ra2_1" name="ra2" type="radio" checked /><label for="ra2_1">5</label>
						<input id="ra2_2" name="ra2" type="radio" /><label for="ra2_2">10</label>
						<input id="ra2_3" name="ra2" type="radio" /><label for="ra2_3">15</label>
						<input id="ra2_4" name="ra2" type="radio" /><label for="ra2_4">20</label>
						<input id="ra2_5" name="ra2" type="radio" /><label for="ra2_5">25</label>
					</div>
				</li>
				<!-- //즉시이체인 경우 -->

				<!-- 카드인경우 -->
				<li>
					<label for="la2-03">카드번호</label>
					<div>
						<input id="la2-03" type="tel" class="inp-wrap" placeholder="-없이 숫자만 입력하세요" />
					</div>
				</li>
				<li>
					<label for="la2-04">유효기간 <span class="label-desc fc-blue">본인 명의의 카드만 가능합니다.</span></label>
					<div><!-- 2018-05-03 / 2018-05-04 -->
						<input id="la2-04" type="tel" class="inp-wrap" placeholder="년월 입력"/>
						<input type="month" class="sbtn-calendar" title="달력보기" />
						<button class="sbtn-5 btn-st02">확인</button>
					</div>
				</li>
				<li>
					<label for="la2-01">할부기간</label>
					<div>
						<select id="la2-01" class="select">
							<option>일시불</option>
						</select>
					</div>
				</li>
				<li>
					<label for="la2-05">승인희망일</label>
					<div class="checkBox-st01">
						<input id="ra3_1" name="ra3" type="radio" checked /><label for="ra3_1">7</label>
						<input id="ra3_2" name="ra3" type="radio" /><label for="ra3_2">15</label>
						<input id="ra3_3" name="ra3" type="radio" /><label for="ra3_3">25</label>
					</div>
				</li>
				<!-- //카드인경우 -->

				<li class="dform square01">
					<label for="chk2"><input type="checkbox" id="chk2" name="chk2" />입금방법 자동인출계좌와 동일</label>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st02">이전</button>
			<button class="lbtn btn-st01">다음</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// 화면 영역 -->

</body>
</html>