<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>실손보상 중복가입 조회</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>실손보상 중복가입 조회</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역 2018-04-17 -->
	<div class="search">
		<ul>
			<li>
				<label for="inp-1" class="label-txt w70">고객명</label>
				<input id="inp-1" type="text" class="inp-wrap" value="홍길동" />
				<button class="sbtn-search-w">찾기</button>
			</li>
			<li>
				<label for="sel1" class="label-txt w70">조회목적</label>
				<select id="sel1" class="select">
					<option>계약체결(요청)</option>
				</select>
			</li>
		</ul>
	</div>
	<div class="btnArea">
		<button class="lbtn-search" type="submit">검색</button>
	</div>

	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<h2 class="ui-hidden-accessible">검색결과 영역</h2>

		<div>
			<div class="result-txt">총 1건이 검색되었습니다.</div>
			<ul class="link-list-st01 dform circle01">
				<li>
					<div class="tit-h2">
						<p class="status">
							<span class="pro-stit">빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험빅히트 단체 상해보험</span>
						</p>
						<p class="tit-h2-con">
							<span class="status-02">정상</span>
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01 "><!-- 2018-05-02 -->
							<li>
								<span class="stit">회사명</span>
								<span class="scon">DGB생명</span>
							</li>
							<li>
								<span class="stit">증권번호</span>
								<span class="scon">00000000000</span>
							</li>
							<li>
								<span class="stit">보험구분</span>
								<span class="scon">일반단체(손보)</span>
							</li>
							<li>
								<span class="stit">보험기간(만기)</span>
								<span class="scon">1년(2018.07.28)</span>
							</li>
							<li>
								<span class="stit">의료비특약 중 가입금액</span>
								<span class="scon">999.999.999원</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</div>
	</div>


</div>
<!--// 화면 영역 -->

</body>
</html>