<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>해피콜현황 조회 상세</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 2018-04-23 전체확인필요-->
<div class="fullpop-wrap" id="dc-0390L">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>해피콜현황 조회</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<!-- 콜센터일때 노출 -->
		<div>
			<div class="cont1">
				<table class="tb-view"><!-- 2018-06-08 -->
					<caption>해피콜현황 구분 및 내용</caption>
					<tbody>
						<tr>
							<th scope="rows" class="w120">해피콜유형</th>
							<td>콜센터</td>
						</tr>
						<tr>
							<th scope="rows">증권번호</th>
							<td>123456789012</td>
						</tr>
						<tr>
							<th scope="rows">상품명</th>
							<td>마음든든유니버셜종신보험</td>
						</tr>
						<tr>
							<th scope="rows">계약자</th>
							<td>홍길동</td>
						</tr>
						<tr>
							<th scope="rows">피보험자</th>
							<td>김말순</td>
						</tr>
						<tr>
							<th scope="rows">계약일</th>
							<td>2018.04.23</td>
						</tr>
						<tr>
							<th scope="rows">모바일해피콜<br />가능여부</th>
							<td>Y
								<button class="sbtn-type02 pos-a-r">알림톡발송</button>
							</td>
						</tr>
						<tr><!-- 진행상태[완료] 인경우 -->
							<th scope="rows">완료일</th>
							<td>2018.04.23
								<button class="sbtn-type02 pos-a-r" disabled>알림톡발송</button>
							</td>
						</tr>
						<tr>
							<th scope="rows">담당FC</th>
							<td>고동헌</td>
						</tr>
						<tr>
							<th scope="rows">상담원</th>
							<td>김만족</td>
						</tr>
						<tr>
							<th scope="rows">진행내용</th>
							<td>오늘 고객님과 통화한 내용은 오늘 고객님과 통화한 내용은 오늘 고객님과 통화한 내용은 오늘 고객님과 통화한 내용은</td>
						</tr>
						<tr>
							<th scope="rows">진행상태</th>
							<td>미완료</td>
						</tr>
						<tr>
							<th scope="rows">모바일상세현황</th>
							<td>계약자 완료/피보험자 미완료</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- 모바일일때 노출 -->
		<div>
			<div class="cont1">
				<table class="tb-view"><!-- 2018-06-08 -->
					<caption>해피콜현황 구분 및 내용</caption>
					<tbody>
						<tr>
							<th scope="rows" class="w120">해피콜유형</th>
							<td>모바일</td>
						</tr>
						<tr>
							<th scope="rows">증권번호</th>
							<td>123456789012</td>
						</tr>
						<tr>
							<th scope="rows">상품명</th>
							<td>마음든든유니버셜종신보험</td>
						</tr>
						<tr>
							<th scope="rows">계약자</th>
							<td>홍길동</td>
						</tr>
						<tr>
							<th scope="rows">피보험자</th>
							<td>김말순</td>
						</tr>
						<tr>
							<th scope="rows">계약일</th>
							<td>2018.04.23</td>
						</tr>
						<tr>
							<th scope="rows">최종발송일</th>
							<td>2018.04.23
								<button class="sbtn-type01 pos-a-r">발송이력</button>
							</td>
						</tr>
						<tr>
							<th scope="rows">유효기간</th>
							<td>2018.04.23
								<button class="sbtn-type02 pos-a-r">알림톡발송</button>
							</td>
						</tr>
						<tr><!-- 진행상태[완료] 인경우 -->
							<th scope="rows">완료일</th>
							<td>2018.04.23
								<button class="sbtn-type02 pos-a-r" disabled>알림톡발송</button>
							</td>
						</tr>
						<tr>
							<th scope="rows">담당FC</th>
							<td>고동헌</td>
						</tr>
						<tr>
							<th scope="rows">상담원</th>
							<td>김만족</td>
						</tr>
						<tr>
							<th scope="rows">진행내용</th>
							<td>오늘 고객님과 통화한 내용은 오늘 고객님과 통화한 내용은 오늘 고객님과 통화한 내용은 오늘 고객님과 통화한 내용은</td>
						</tr>
						<tr>
							<th scope="rows">진행상태</th>
							<td>미완료</td>
						</tr>
						<tr>
							<th scope="rows">모바일상세현황</th>
							<td>계약자 완료/피보험자 미완료</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="cont1">
				<ul class="toggle">
					<li>
						<div class="toggle-header">
							<h2 class="title">완전판매모니터링 결과 자세히보기</h2>
							<button type="button" class="btn-toggle">더보기</button>
						</div>
						<div class="toggle-con">
							<div class="toggle-con-tit">
								<span class="stit">계약자(피보험자)</span>
								<span class="name bold">홍길동홍길동홍길동홍길동</span>(<span class="name">홍길동홍길동홍길동홍길동홍길동</span>)
							</div>
							<ul>
								<li class="hbox jc">
									<p class="flex w100p">
										<span class="stit">전체답변결과</span>
										<!--2018-05-29  <span class="maL-5 status-02">정상</span> 정상일 경우 노출-->
										<span class="maL-5 status-13">오류</span><!-- 오류일경우 노출 -->
									</p>
									<p class="flex w100p dform square01 ta-r">
										<label for="la-1">오답만 보기</label>
										<input id="la-1" type="checkbox"/>
									</p>
								</li>
								<li>
									<h3>계피동일</h3>
									<dl>
										<dt>보험계약 청약서를 작성하실때 직접 서명하셨습니까?</dt>
										<dd><span class="status-13">오답</span> [보기01-아니오]</dd>
									</dl>
								</li>
								<li>
									<h3>품질보증 해지 기간</h3>
									<dl>
										<dt>자필서명, 청약서부본전달, 약관교부가 제대로 이행되지 않는 경우 보험계약이 성립된 날로부터 3개월 이내에 계약 취소 및 보험료 환불을 요청하실 수 있다는 설명을 들으셨나요?</dt>
										<dd><span class="status-07">정답</span> [보기02-예]</dd>
									</dl>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<!--// fullpopup 영역 -->

</body>
</html>