<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자청약 입력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 2018-05-14(전체적으로 비교필요) -->
<div class="d-wrap dc-0221">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>전자청약 입력</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<div>
		<div class="d-step">
			<h2>4. 계약 전 알릴 의무사항</h2><!-- 2018-05-15 -->
			<p class="d-step-status">
				<span>1</span> / <span>2</span> / <span>3</span> / <span class="on">4</span> / <span>5</span>
			</p>
		</div>
		<div class="d-step3 border-b"><!-- 2018-05-14 -->
			<ol><!-- 현재 class="on" / 과거 class="check" -->
				<li class="on"><span>1</span></li>
				<li><span>2</span></li>
				<li><span>3</span></li>
				<li class="last"><span>4</span></li><!-- 마지막 항목 class="last" -->
				<li class="none"><span>5</span></li><!-- 숨기는 항목 class="none" -->
			</ol>
		</div>
	</div>

	<!-- body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st02">
		<div class="qaBox-txt-info"><!-- 2018-05-14 -->
			<p class="desc fc-red">
				피보험자(보험대상자)에 관한 다음 사항은 회사가 보험계약의 청약을 심사하고 인수하는데 필요한 자료이므로 보험계약자 및 피보험자는 아래 질문들에 대해 사실대로 알려야 하며 직접 작성하시기 바랍니다.
			</p>
			<p class="desc fc-red"><!-- 2018-05-15 -->
				다음 사항을 보험설계사 등에게 구두로 알린 경우에는 보험회사에 알리지 않은 것으로 간주되므로 청약서에 서면으로 알려주시기 바랍니다.
			</p>
			<p class="desc"><!-- 2018-05-16 -->
				만약 아래 질문들에 대해서 사실대로 알리지 않았거나 사실과 다르게 알린 경우에는 보험가입이 거절될 수 있으며, 특히 질문 1번~10번에 대하여 알린 내용이 「중요한 사항」에 해당하는 경우, 회사는 보험약관에 따라 이 <strong>보험계약을 일방적으로 해지</strong> 할 수 있고, 이미 보험사고가 발생하였더라도 <strong>보험금 지급 거절하는 등 보장이 제한</strong> 될 수 있습니다.
			</p>
			<p class="desc">
				반면, 보험설계사 등이 보험계약자 또는 피보험자에게 고지할 기회를 주지 않았거나 사실대로 고하지는 것을 방해하는 등의 경우에는 보험계약을 해지하거나 보장을 제한할 수 없습니다.<br />「중요한 사항」이란 회사가 그 사실을 알았더라면 보험계약의 청약을 거절하거나 보험가입금액 한도제한, 일부 보장제외, 보험금 삭감, 보험료 할증과 같이 조건부로 인수하는 등 계약인수에 영향을 미치는 사항을 말합니다.
			</p>
			<p class="desc"><!-- 2018-05-17 -->
				부활(효력회복)시에는 계약전 알릴의무 대상기간을 「최초계약해당일(또는 부활(효력회복)일) 이후로부터 부활(효력회복)을 청약한날까지의 기간」과 「계약전 알릴의무 대상기간(아래질문의 최근 3개월, 1년, 5년)」 중 짧은 기간으로 합니다.
			</p>
		</div>

	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st01">다음</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// 화면 영역 -->

</body>
</html>