<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- 보험료계산결과 -->
<div id="layer2" class="dim-layer none"><!-- 레이어팝업 노출 none class 삭제 -->
	<div class="dimBg"></div>
	<div id="layer1" class="dpop-layer">
		<div class="dpop-container">
			<div class="dpop-head">
				<h1>보험료 계산결과</h1>
				<button class="btn-pop-close">닫기</button>
			</div>

			<div class="dpop-conts d-scroll">
				<ul class="pop-list02">
					<li>
						<span class="stit">초회 보험료</span>
						<span class="scon"><em>145,000</em>원</span>
					</li>
					<li>
						<span class="stit">할인 보험료</span>
						<span class="scon"><em>145,000</em>원</span>
					</li>
					<li>
						<span class="stit">할인 후 보험료</span>
						<span class="scon"><em>145,000</em>원</span>
					</li>
				</ul>
			</div>
			<div class="dpop-footer">
				<button class="mbtn-2 btn-st01">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>가입제안</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->
	
	<!-- d-step 10.26 위치 이동 -->
	<div class="d-step">
		<h2>고객선택</h2>
	</div>
	<!-- //d-step  -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="d-cont">
			
			<div class="tit-area">
				<h3 class="h3-tit">계약자</h3>
				<div class="pos-ar">
					<button class="sbtn-3 btn-st04 w80">고객검색</button>
				</div>
			</div>
			<ul class="link-list-st01 pdt-n">
				<li>
					<div class="tit-h2">
						<span class="name">홍달수일이삼</span>
						<span class="age">(44/남)</span>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01">
							<li>
								<span class="stit">직업</span>
								<span class="scon">관리직 및 사무직관리직 </span>
							</li>
							<li>
								<span class="stit">운전</span>
								<span class="scon">자가용(승용차)</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		
			<div class="tit-area">
				<h3 class="h3-tit">피보험자</h3>
				<div class="pos-ar">
					<button class="sbtn-3 btn-st02 w80">변경</button>
				</div>
			</div>	
			<ul class="link-list-st01 pdt-n">
				<li>
					<div class="tit-h2">
						<span class="name">홍달수일이삼</span>
						<span class="age">(44/남)</span>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01">
							<li>
								<span class="stit">직업</span>
								<span class="scon">관리직 및 사무직관리직 및 사무</span>
							</li>
							<li>
								<span class="stit">운전</span>
								<span class="scon">자가용(승용차)</span>
							</li>
							<li>
								<span class="stit">상령일</span>
								<span class="scon">2020.12.12</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
			
			<div class="notice-txt align-l">
				<p class="icoTxt">계피상이건을 진행하실 경우 피보험자를 변경하세요.</p>
			</div>
		</div>
	</div>
	<!-- //body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st04">상품 선택하기</button>
		</div>
	</footer>
	<!-- //footer 고정영역 -->
</div>
<!--//화면 영역 -->
</body>
</html>