<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>직업조회 > 직업분류 선택</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>직업조회</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tab 고정영역 -->
	<div>
		<ul class="tab">
			<li class="on"><button>직업분류 선택</button></li>
			<li><button>직업종류명(이름검색)</button></li>
		</ul>
	</div>

	<!-- body_tabcontents 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div class="cont1">
			<ul class="write-st04">
				<li>
					<label for="lab-1">직업 대분류</label>
					<div>
						<select id="lab-1" class="select">
							<option>관리자(사무직)</option>
						</select>
					</div>
				</li>
				<li>
					<label for="lab-2">직업 소분류</label>
					<div>
						<select id="lab-2" class="select">
							<option>기업고위임원</option>
						</select>
					</div>
				</li>
				<li>
					<label for="lab-3">직업종류</label>
					<div>
						<select id="lab-3" class="select">
							<option>기업대표이사</option>
						</select>
					</div>
				</li>
			</ul>
		</div>
	</div>

</div>
<!--// fullpopup 영역 -->

</body>
</html>