<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입조건 입력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 화면영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>가입조건 입력</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll">
		<div class="goods-name">
			<h2 class="stit">상품</h2>
			<div class="txt">
				마음든든 유니버셜종신보험(무)_할인형_기본형
			</div>
		</div>
		<div class="cont1">	
			<ul class="write-st04">
				<li>
					<label for="label1">가입금액 <span class="label-desc">최소 2,000만원 ~ 최대 12,500만원</span></label>
					<div class="pdb_0">
						<input id="label1" class="inp-wrap ta-r" type="tel"/><span class="dash">만원</span>
					</div>
					<p class="stxt-desc">가입금액 증감액 500만원</p>
				</li>
				<li>
					<label for="sel1">보험기간</label>
					<div>
						<select id="sel1" class="select flex">
							<option>80</option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel3">납입기간</label>
					<div>
						<select id="sel3" class="select flex">
							<option>0</option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel4">납입주기</label>
					<div>
						<select id="sel4" class="select flex">
							<option>월납</option>
						</select>
					</div>
				</li>
				<li>
					<label for="sel4">납입설계기간</label>
					<div>
						<input id="sel4" class="inp-wrap ta-r" type="tel"/><span class="dash">년</span>
					</div>
				</li>
				<li><!-- 2018-05-04 -->
					<label>연금전환</label>
					<div class="checkBox-st01">
						<input type="radio" name="ra3" id="ra3_1" checked /><label for="ra3_1">예</label>
						<input type="radio" name="ra3" id="ra3_2" /><label for="ra3_2">아니오</label>
					</div>
				</li>
				<!-- 연금전환이 [예]일 경우 노출 -->
				<li>
					<label for="label2">연금전환신청나이</label>
					<div>
						<input id="label2" class="inp-wrap ta-r" type="tel"/><span class="dash">세</span>
					</div>
				</li>
				<li>
					<label for="sel4">거치기간</label>
					<div>
						<select id="sel4" class="select flex">
							<option>80</option>
						</select>
						<!-- 9.15 세 삭제 -->
					</div>
				</li>
				<!--// 연금전환이 [예]일 경우 노출 -->

				<li>
					<label>적립전환</label>
					<div class="checkBox-st01">
						<input type="radio" name="ra4" id="ra4_1" checked /><label for="ra4_1">예</label>
						<input type="radio" name="ra4" id="ra4_2" /><label for="ra4_2">아니오</label>
					</div>
				</li>
				<!-- 적립전환이 [예]일 경우 노출 -->
				<li>
					<label for="la-1">전환나이</label>
					<div>
						<input id="la-1" class="inp-wrap ta-r" type="tel"/><span class="dash">세</span>
					</div>
				</li>
				<li>
					<label for="la-2">납입기간</label>
					<div>
						<input id="la-2" class="inp-wrap ta-r" type="tel"/><span class="dash">년</span>
					</div>
				</li>
				<li>
					<label for="la-3">전환 후 보험료</label>
					<div>
						<input id="la-3" class="inp-wrap ta-r" type="tel"/><span class="dash">만원</span>
					</div>
				</li>
				<!--// 적립전환이 [예]일 경우 노출 -->
			</ul>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 입력완료 시 disabled삭제 -->
			<button class="lbtn btn-st01" disabled>저장</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// fullpopup 영역 -->

</body>
</html>