<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자청약 입력</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>전자청약 입력</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<div>
		<div class="d-step">
			<h2>5. 청약문서작성 및 확인</h2>
			<p class="d-step-status">
				<span>1</span> / <span>2</span> / <span>3</span> / <span>4</span> / <span class="on">5</span> / <span>6</span>
			</p>
		</div>
	</div>

	<!-- 2018-06-04 body 스크롤영역 -->
	<div class="d-cont d-scroll bg-st01">
		<div class="dc-0227L-bg"><!-- 2018-06-07 -->
			<p class="customer">홍길동 고객님</p>

			<div class="none">
				<p class="mtxt">전자서식을 작성해 주세요.</p>
				<p class="btnArea"><button class="lbtn btn-st01">전자서식 작성하기</button></p>
			</div>
			
			<div><!--  작성완료시 노출 class="none"삭제 -->
				<p class="mtxt">전자서식 작성이 완료되었습니다.</p>
				<ul class="link-list-st01 mat_20">
					<li>
						<ul class="line-list-st01">
							<li>
								<label>증권번호</label>
								<p>5180500003</p>
							</li>
							<li>
								<label>상품명</label>
								<p>희망파트너든든저축보험희망파트너든든저축보험희망파트너든든저축보험희망파트너축보험희망망파트너든든저축보</p>
							</li>
							<li>
								<label>계약자</label>
								<p>홍길동</p>
							</li>
						</ul>
					</li>
				</ul>
				<p class="btnArea"><button class="lbtn btn-st04">전자서식 확인하기</button></p>
				<p class="btnArea"><button class="lbtn btn-st01">고객면담보고서 작성</button></p>
				<p class="btnArea"><button class="lbtn btn-st03">피보험자 서면동의서</button></p><!-- 2018-06-07 -->
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer"><!-- 리스트선택시 disabled삭제 -->
			<button class="lbtn btn-st02">이전</button>
			<button class="lbtn btn-st21">다음</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// 화면 영역 -->

</body>
</html>