<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>전자서류 진행현황</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap ">

	<!-- header 고정영역 -->
	<header>
		<div class="d-head">
			<h1>전자서류 진행현황</h1>
			<button class="lbtn btn-back">홈으로</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_searchBox 고정영역 2018-05-03 / 2018-05-04 -->
	<div class="search">
		<ul>
			<li class="dform circle01">
				<label for="la1-1" class="label-txt w70">발송일</label>
				<label for="ra-01"><input id="ra-01" type="radio" name="ra" />1주</label>
				<label for="ra-02"><input id="ra-02" type="radio" name="ra" />2주</label>
				<label for="ra-03"><input id="ra-03" type="radio" name="ra" />한달</label>
				<label for="ra-04"><input id="ra-04" type="radio" name="ra" checked />기간</label>
			</li>
			<li class=""><!-- 기간 라디오버튼 선택되었을 경우 노출 -->
				<label for="la1-2" class="label-txt w70">기간입력</label>
				<input id="la1-2" class="inp-wrap" type="tel" placeholder="시작일 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" /><span class="dash">~</span>
				<input class="inp-wrap" type="tel" placeholder="종료일 입력" />
				<input type="date" class="sbtn-calendar" title="달력보기" />
			</li>
			<li>
				<label for="sel1" class="label-txt w70">종류/상태</label>
				<select id="sel1" class="select">
					<option>전체</option>
					<option>청약보완</option>
					<option>모바일약관</option>
					<option>증권재발행</option>
					<option>모바일해피콜</option>
					<option>고객동의</option>
				</select>
				<select class="select">
					<option>전체</option>
					<option>발송완료</option>
					<option>수신완료</option>
					<option>작성완료</option>
				</select>
			</li>
			<li>
				<label for="inp-1" class="label-txt2 w70">고객명</label>
				<input id="inp-1" type="text" class="inp-wrap" disabled value="홍길동(44/남)" />
				<button class="sbtn-search-w">찾기</button>
			</li>
		</ul>
	</div>
	<div class="btnArea">
		<button class="lbtn-search" type="submit">검색</button>
	</div>



	<!-- body_resultBox 스크롤영역 -->
	<div class="d-cont d-scroll">
		<h2 class="ui-hidden-accessible">검색결과 영역</h2>

		<!-- 검색 전 문구
		<div class="no-data">검색조건을 입력하고 검색을 진행해 주세요.</div>-->
		<!-- 검색 후 문구
		<div class="no-data">검색결과가 없습니다.</div>-->

		<div>
			<p class="result-txt">총 5건이 검색되었습니다.</p>
			<ul class="link-list-st01">
				<li>
					<div class="tit-h2">
						<label>
							<span class="pro-stit">청약보완 - 질병부담보</span>
						</label>
						<p class="tit-h2-con">
							<span class="status-02">발송완료</span><!-- 2018-05-09 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01"><!-- 2018-05-09 -->
							<li>
								<span class="stit">수신고객</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">발송일시</span>
								<span class="scon">2018.02.10 00:00</span>
							</li>
						</ul>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<label>
							<span class="pro-stit">청약보완 - 질병부담보</span>
						</label>
						<p class="tit-h2-con">
							<span class="status-02">수신완료</span><!-- 2018-05-09 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01"><!-- 2018-05-09 -->
							<li>
								<span class="stit">수신고객</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">발송일시</span>
								<span class="scon">2018.02.10 00:00</span>
							</li>
						</ul>
						<div class="button-section flex-none">
							<button class="sbtn-5 btn-st04">이력확인</button>
							<button class="sbtn-5 btn-st02" disabled>문서확인</button>
						<div>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<label>
							<span class="pro-stit">청약보완 - 질병부담보</span>
						</label>
						<p class="tit-h2-con">
							<span class="status-02">작성완료</span><!-- 2018-05-09 -->
						</p>
					</div>
					<article class="link-list-con">
						<ul class="bul-list-st01"><!-- 2018-05-09 -->
							<li>
								<span class="stit">수신고객</span>
								<span class="scon">홍길동</span>
							</li>
							<li>
								<span class="stit">발송일시</span>
								<span class="scon">2018.02.10 00:00</span>
							</li>
						</ul>
						<div class="button-section flex-none">
							<button class="sbtn-5 btn-st04">이력확인</button>
							<button class="sbtn-5 btn-st01">문서확인</button>
						<div>
					</article>
				</li>
			</ul>
		</div>
	</div>


</div>
<!--// 화면 영역 -->

</body>
</html>