<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>청약진행현황 상세</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>청약진행현황 상세</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- header  -->

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div>
			<table class="tb-view"><!-- 2018-06-08 -->
				<tr>
					<th scope="rows" class="w100">구분상태</th>
					<td>일반청약/청약보완</td>
				</tr>
				<tr>
					<th scope="rows">증권번호</th>
					<td>2001020203</td>
				</tr>
				<tr>
					<th scope="rows">적부의뢰일자</th><!-- 2018-05-08 -->
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">적부완료일자</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">상품명</th>
					<td>리치플랜S유니버셜종신보험(무)</td>
				</tr>
				<tr>
					<th scope="rows">계약자</th>
					<td>홍길동</td>
				</tr>
				<tr>
					<th scope="rows">피보험자</th>
					<td>홍길동</td>
				</tr>
				<tr>
					<th scope="rows">초회입금일자</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">상태</th>
					<td>청약 가입력</td>
				</tr>
				<tr>
					<th scope="rows">처리일자</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">해피콜완료</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">증권발행일</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">보완기일</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">보완지시일</th>
					<td>2018.02.17</td>
				</tr>
				<tr>
					<th scope="rows">보완사유</th>
					<td>청약부속서류 보완</td>
				</tr>
				<tr>
					<th scope="rows">언더라이팅<br />의견</th><!-- 2018-05-08 -->
					<td>부속서류가 일부 누락되었습니다. 확인 부탁 드립니다. (FATCA 서류 누락)</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st01" >확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>