<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안 비교</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>


<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>가입제안 비교</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_고정영역 -->
	<div>
		<ul class="cus-box03">
			<li>
				<div class="tit-h2">
					<label class="stxt">계약자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
			<li>
				<div class="tit-h2">
					<label class="stxt">피보험자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
		</ul>
		<ul class="tab col-3"><!-- 2018-04-09 -->
			<li class="on"><button>상품비교</button></li>
			<li><button>보장내역</button></li>
			<li><button>해지환급금</button></li>
		</ul>
	</div>

	<!-- body 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<div>
			<ul class="link-list-st01">
				<li>
					<div class="tit-h2">
						<p>
							<span class="pro-no">1안</span>
							<span class="pro-stit">프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당프리미엄건강보험 무배당</span>
						</p>
					</div>
					<article class="link-list-con">
						<ul class="list-st01">
							<li>
								<span class="stit-flex">상품구분</span>
								<span class="scon-flex">변액</span>
							</li>
							<li>
								<span class="stit-flex">가입금액(주계약)</span>
								<span class="scon-flex"><em class="fc-orange">2,000</em>만원</span>
							</li>
							<li>
								<span class="stit-flex">보험/납입기간</span>
								<span class="scon-flex">종신/80세납</span>
							</li>
							<li>
								<span class="stit-flex">실납입보험료</span>
								<span class="scon-flex"><em class="fc-blue">100,000</em>원</span>
							</li>
						</ul>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<p>
							<span class="pro-no">2안</span>
							<span class="pro-stit">프리미엄건강보험 무배당</span>
						</p>
					</div>
					<article class="link-list-con">
						<ul class="list-st01">
							<li>
								<span class="stit-flex">상품구분</span>
								<span class="scon-flex">변액</span>
							</li>
							<li>
								<span class="stit-flex">가입금액(주계약)</span>
								<span class="scon-flex"><em class="fc-orange">2,000</em>만원</span>
							</li>
							<li>
								<span class="stit-flex">보험/납입기간</span>
								<span class="scon-flex">종신/80세납</span>
							</li>
							<li>
								<span class="stit-flex">실납입보험료</span>
								<span class="scon-flex"><em class="fc-blue">100,000</em>원</span>
							</li>
						</ul>
					</article>
				</li>
				<li>
					<div class="tit-h2">
						<p>
							<span class="pro-no">3안</span>
							<span class="pro-stit">프리미엄건강보험 무배당</span>
						</p>
					</div>
					<article class="link-list-con">
						<ul class="list-st01">
							<li>
								<span class="stit-flex">상품구분</span>
								<span class="scon-flex">변액</span>
							</li>
							<li>
								<span class="stit-flex">가입금액(주계약)</span>
								<span class="scon-flex"><em class="fc-orange">2,000</em>만원</span>
							</li>
							<li>
								<span class="stit-flex">보험/납입기간</span>
								<span class="scon-flex">종신/80세납</span>
							</li>
							<li>
								<span class="stit-flex">실납입보험료</span>
								<span class="scon-flex"><em class="fc-blue">100,000</em>원</span>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</div>
	</div>

</div>
<!--// 화면 영역 -->

</body>
</html>