<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>직업조회 > 직업종류명(이름검색)</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>직업조회</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body_tab 고정영역 -->
	<div>
		<ul class="tab">
			<li><button>직업분류 선택</button></li>
			<li class="on"><button>직업종류명(이름검색)</button></li>
		</ul>
		<div class="search">
			<ul>
				<li>
					<input class="inp-wrap" type="text" placeholder="직업종류를 입력하세요." />
					<button class="sbtn-search" type="submit">검색</button>
				</li>
			</ul>
		</div>
	</div>

	<!-- body_tabcontents 스크롤영역 -->
	<div class="fullpop-cont d-scroll bg-st02">
		<h2 class="ui-hidden-accessible">검색결과 영역</h2>

		<!-- 검색 전 문구
		<div class="no-data">검색조건을 입력하고 검색을 진행해 주세요.</div>-->
		<!-- 검색 후 문구
		<div class="no-data">검색결과가 없습니다.</div>-->

		<div class="pop-result-list">
			<p class="result-txt">총 13건이 검색되었습니다.</p>
			<ul class="link-list-st02">
				<li>
					<button>주류서비스 종사원(유흥주점)</button>
				</li>
				<li>
					<button>주류서비스 종사원(일반주점)</button>
				</li>
				<li>
					<button>그 외 서비스관련 단순 종사원</button>
				</li>
				<li>
					<button>음료서비스 종사원</button>
				</li>
				<li>
					<button>음식서비스 종사원</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--// fullpopup 영역 -->

</body>
</html>