<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안 메인</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- 화면 영역 -->
<div class="d-wrap">
	<header>
		<div class="d-head">
			<h1>가입제안</h1>
			<button class="lbtn btn-back">이전페이지 이동</button>
			<button class="rbtn btn-view-side">전체메뉴</button>
		</div>
	</header>

	
	<div class="d-cont bg_dc_0010e">
		<div class="offer-box">
			<h2 class="tit-txt">가입제안을 진행할 <em>고객을 선택</em>하거나 <em>설계이력을 선택</em>해주세요.</h2><!-- 10.05 수정 -->
			<!-- <h2 class="tit-txt">설계지원을 선택해주세요.</h2>--><!-- 9.15 수정 -->
			<ul class="offer-list">
				<li>
					<a href="#" class="btn-offer ico01"><span>기존 고객</span></a>
				</li>
				<li>
					<a href="#" class="btn-offer ico02"><span>가상 고객</span></a>
				</li>
				<li>
					<a href="#" class="btn-offer ico03"><span>가입제안 이력으로 시작</span></a>
				</li>
			</ul>
			<!-- 설계지원 --><!-- 9.15 수정 -->
			<ul class="offer-list none">
				<li>
					<a href="#" class="btn-offer ico04"><span>신규 설계지원 시작</span></a>
				</li>
				<li>
					<a href="#" class="btn-offer ico05"><span>당일 설계지원 목록</span></a>
				</li>
				<li>
					<a href="#" class="btn-offer ico06"><span>가입제안 이력으로 시작</span></a>
				</li>
			</ul>
			<!-- //설계지원 -->
		</div>
	
	</div>
	
</div>
<!--// 화면 영역 -->

</body>
</html>