<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>가입제안</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>

<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>

</head>
<body>


	
	<div class="grayBox-st01">
		<ul class="cus-box02">
			<li>
				<div class="tit-h2">
					<label class="stxt">계약자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
			<li>
				<div class="tit-h2">
					<label class="stxt">피보험자</label>
					<p>
						<span class="name">홍달수일이삼</span>
						<span class="age-s">(44/남)</span>
					</p>
				</div>
			</li>
			<!--
			<li class="btn-box">
				<button class="sprite-link link-03">FC소개</button>
			</li>
			-->
		</ul>
	</div>

	<!-- body_resultBox -->
	<div class="contract-insure">
		<ul class="toggle">
			<li>
				<div class="toggle-header sum"><!-- 9.15 수정 -->
					<div class="title-box">
						<div class="title">
							마음 든든 유니버셜 매월생활비 주는 암보험(무) 1511[갱신형] 보증비용 부과
						</div>
						<button type="button" class="btn-toggle">더보기</button>
					</div>
					<div class="sum-box">
						<div class="stit">보험료(월납)</div>
						<div class="scon"><em>99,999,999,000</em>원</div>
					</div>
				</div>
				<div class="toggle-con">
					<div class="cont">
						<ul class="data-list-st01">
							<li>
								<span class="stit">합계보험료<button type="button" class="ico-won">환산보험료 보기</button></span><!-- 10.5 추가 -->
								<span class="scon">1,200,000원</span>
							</li>
							<li>
								<span class="stit">할인보험료</span>
								<span class="scon"><em>1,600원</em></span>
							</li>
						</ul>
					</div>
					<div class="cont">
						<ul class="data-list-st01">
							<li>
								<span class="stit">상령일후 예상 보험료(2019.08.24)</span>
								<span class="scon">121,600원</span>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="cont3">
		<div class="btnArea align-c">
			<a href="#" class="mbtn btn-st02"><span>가입제안 PDF보기</span></a>
			<a href="#" class="mbtn btn-st04"><span>가입제안 고객전송</span></a>
		</div>
		
		<div class="tab-box">
			<ul class="tab col-3">
				<li class="on"><button type="button">가입조건</button></li>
				<li><button type="button">보장내용</button></li>
				<li><button type="button">해지환급금</button></li>
			</ul>
		</div>

		<!-- 가입조건 -->
		<!-- 2026 dcNew 수정 -->
		<div class="tab-cont">
			<h2 class="ui-hidden-accessible">가입조건</h2>
			<article class="pro-covenant">
				<div class="header">
					<ul class="link-list-st01 dform square02 pdt-n w100p">
						<li class="bg-st02 pd-n border-n">
							<div class="tit-h2 pd-n w100p flexJcSb">
								<span class="Advance-stit">평생소득보장변액연금보험(무)1801_연금계약1</span>
								<span class="GA_State_Blue"></span>
							</div>
						</li>
					</ul>
				</div>
				<ul class="list">
					<li>
						<label>가입금액</label>
						<span class="fc-blue">500만원</span>
					</li>
					<!-- 9.15 납입주기 삭제 -->
					<li>
						<label>보험기간</label>
						<span>80년</span>
					</li>
					<li>
						<label>납입기간</label>
						<span>5년</span>
					</li>
				</ul>
				<div class="premium">
					<label>보험료</label>
					<div>
						<p class="fs-point02">42,800원</p>
						<p>상령일 후 45,000원</p>
					</div>
				</div>
			</article>

			<article class="pro-covenant ">
				<div class="header">
					<ul class="link-list-st01 dform square02 pdt-n w100p">
						<li class="bg-st02 pd-n border-n">
							<div class="tit-h2 pd-n w100p flexJcSb">
								<span class="Advance-stit">정기특약 순수보장형</span>
								<span class="GA_State_Blue"></span>
							</div>
						</li>
					</ul>
				</div>
				<ul class="list">
					<li>
						<label>가입금액</label>
						<span class="fc-blue">500만원</span>
					</li>
					<li>
						<label>보험기간</label>
						<span>80년</span>
					</li>
					<li>
						<label>납입기간</label>
						<span>5년</span>
					</li>
				</ul>
				<div class="premium">
					<label>보험료</label>
					<div>
						<p class="fs-point02">42,800원</p>
						<p>상령일 후 45,000원</p>
					</div>
				</div>
			</article>

			<article class="pro-covenant ">
				<div class="header">
					<ul class="link-list-st01 dform square02 pdt-n w100p">
						<li class="bg-st02 pd-n border-n">
							<div class="tit-h2 pd-n w100p flexJcSb">
								<span class="Advance-stit">재해사망특약(무) 순수보장형</span>
								<span class="GA_State_Blue"></span>
							</div>
						</li>
					</ul>
				</div>
				<ul class="list">
					<li>
						<label>가입금액</label>
						<span class="fc-blue">500만원</span>
					</li>
					<li>
						<label>보험기간</label>
						<span>80년</span>
					</li>
					<li>
						<label>납입기간</label>
						<span>5년</span>
					</li>
				</ul>
				<div class="premium">
					<label>보험료</label>
					<div>
						<p class="fs-point02">42,800원</p>
						<p>상령일 후 45,000원</p>
					</div>
				</div>
			</article>
		</div>
		<!-- //2026 dcNew 수정 -->
		<!-- //가입조건 -->

		<!-- 보장내용 -->
		<div class="tab-cont">
			<h2 class="ui-hidden-accessible">보장내용</h2>
			<div id="resultListMap">
				<div class="space-st01">
					<h2 class="h2-st03">주계약</h2>
					<table class="tb-data ta-l">
						<caption>급부/사유 및 지급금액</caption>
						<thead>
							<tr>
								<th scope="cols">급부/사유</th>
								<th scope="cols" class=" w40p">지급금액</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><!-- 2018-05-11 -->
									<p class="bold">[사망보험금]</p>
									피보험자가 보험기간(종신) 중 사망하였을 경우
								</td>
								<td class="fc-blue ta-c">기본보험금액</td>
							</tr>
							<tr>
								<td>
									<p class="bold">[유방암이외의암진단급여금]</p>
									피보험자가 보험기간 중 암보장개시일 이후에 “유방암 이외의 암”으로 진단이 확정되었을 때(최초 1회에 한함)
								</td>
								<td class="fc-blue ta-c">기본보험금액</td>
							</tr>
							<tr><!-- 2018-05-11 -->
								<td colspan="2">
									※ 암(기타피부암, 갑상선암, 대장점막내암 제외)에 대한 암보장 개시일은 보험 계약일(부활(효력회복)일)부터 그날을 포함하여 90일이 지난날의 다음날부터입니다.<br />
									※ 암진단 급여금 및 유방암 이외의 암진단급여금은 진단확정되는 암에 대해서 각각 최초 1회에 한하여 지급 합니다.(다 , 피보험자가 암보장개시일 이후에 '유방암'으로 암진단급여금을 지급받은 경우, 그 이후에 ' 유방암'과 인과관계(이미 암진단급여금이 지급된 '유방암'의 종양세포가 잔존하거나 재발 또는 전이된 경우)가 있는 '유방암 이외의 암'으로 진단확정된 경우 회사는 유방암 이외의 암 진단급여금을 지급하지 않습니다.)
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="space-st01">
					<h2 class="h2-st03">정기특약(무)</h2>
					<table class="tb-data ta-l">
						<caption>급부/사유 및 지급금액</caption>
						<thead>
							<tr>
								<th scope="cols">급부/사유</th>
								<th scope="cols" class=" w40p">지급금액</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p class="bold">[사망보험금]</p>
									피보험자가 보험기간(종신) 중 사망하였을 경우
								</td>
								<td class="fc-blue ta-c">500만원</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="space-st01">
					<h2 class="h2-st03">고도장해 보장특약(무)</h2>
					<table class="tb-data ta-l">
						<caption>급부/사유 및 지급금액</caption>
						<thead>
							<tr>
								<th scope="cols">급부/사유</th>
								<th scope="cols" class=" w40p">지급금액</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><!-- 2018-05-11 -->
									<p class="bold">[고도장해보험금]</p>
									피보험자가 보험기간 중 장해분류표 증 동일한 재해 도는 재해이외의 동일한 원인으로 여러 신체부위의 장해지급률에 해당하는 장해상태가 되었을 때
								</td>
								<td class="fc-blue ta-c">500만원</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- //보장내용 -->

		<!-- 해지환급금 -->
		<div class="tab-cont">
			<h2 class="ui-hidden-accessible">해지환급금</h2>
			
			<div><!-- 화면3  2018-05-14 -->
				<ul class="write-st04">
					<li>
						<label>이율 선택</label>
						<div class="checkBox-st01 flex-type"><!-- 10.05 수정 -->
							<input type="radio" id="ra1_1" name="ra1" checked />
							<label for="ra1_1">투자수익율<br>(-1.0%)가정시</label>
							<input type="radio" id="ra1_2" name="ra1" />
							<label for="ra1_2">투자수익율<br>(2.5%)가정시</label>
							<input type="radio" id="ra1_3" name="ra1" />
							<label for="ra1_3">투자수익율<br>(3.75%)가정시</label>
						</div>
					</li>
				</ul>
			</div>

			<div class="space-st01">
				<div class="tb-0530p-desc">
					<p><span class="fc-green">■</span>추가납입</p>
					<p><span class="fc-blue">■</span>중도인출</p>
					<p><span class="fc-red">■</span>장기납입유지보너스</p>
				</div>
			</div>

			<div class="space-st01"><!-- 2018-05-24 정렬 확인 2018-05-14 -->
				<!-- 화면1 -->
				<table class="tb-data tb-0530p">
					<thead>
						<tr>
							<th scope="cols">경과기간</th>
							<th scope="cols">보험료 누계</td>
							<th scope="cols">해지환급금</td>
							<th scope="cols">해지환급금</td>
							<th scope="cols">환급률</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3개월(46)</td>
							<td class="green">99,600만원</td>
							<td>99,999만원</td>
							<td>99,999만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
						<tr>
							<td>6개월(46)</td>
							<td class="green">11,600원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">0.0%</td>
						</tr>
						<tr>
							<td>9개월(46)</td>
							<td class="green">11,600원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">0.0%</td>
						</tr>
						<tr>
							<td>1년(46)</td>
							<td class="green">11,600원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">0.0%</td>
						</tr>
						<tr>
							<td>2년(46)</td>
							<td class="green">11,600원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">0.0%</td>
						</tr>
						<tr>
							<td>3년(46)</td>
							<td class="green">11,600원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">0.0%</td>
						</tr>
						<tr>
							<td class="red">4년(46)</td>
							<td class="green">11,600만원</td>
							<td class="blue">140만원</td>
							<td class="blue">140만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
						<tr>
							<td class="red">5년(46)</td>
							<td>11,600만원</td>
							<td class="blue">140만원</td>
							<td class="blue">140만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
						<tr>
							<td class="red">6년(46)</td>
							<td>99,600만원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
						<tr>
							<td class="red">7년(46)</td>
							<td>99,600만원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
						<tr>
							<td class="red">8년(46)</td>
							<td>99,600만원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
						<tr>
							<td class="red">9년(46)</td>
							<td>99,600만원</td>
							<td>0만원</td>
							<td>0만원</td>
							<td class="ta-r">000.0%</td>
						</tr>
					</tbody>
				</table>

				<!-- 화면2 -->
				<table class="tb-data tb-0530p">
					<thead>
						<tr>
							<th scope="cols">경과기간</th>
							<th scope="cols">보험료 누계</td>
							<th scope="cols">해지환급금</td>
							<th scope="cols">상세</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3개월(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>6개월(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>9개월(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>1년(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>2년(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>3년(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">4년(46)</td>
							<td class="green">11,600원</td>
							<td class="blue">140원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">5년(46)</td>
							<td>11,600원</td>
							<td class="blue">184원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">6년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">7년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">8년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">9년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
					</tbody>
				</table>

				<!-- 화면3 -->
				<table class="tb-data tb-0530p">
					<thead>
						<tr>
							<th scope="cols">경과기간</th>
							<th scope="cols">보험료 누계</td>
							<th scope="cols">해지환급금</td>
							<th scope="cols">상세</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3개월(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>6개월(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>9개월(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>1년(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>2년(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td>3년(46)</td>
							<td class="green">11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">4년(46)</td>
							<td class="green">11,600원</td>
							<td class="blue">140만원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">5년(46)</td>
							<td>11,600원</td>
							<td class="blue">184만원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">6년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">7년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">8년(46)</td>
							<td>11,600원</td>
							<td>0원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
						<tr>
							<td class="red">9년(46)</td>
							<td>11,600원</td>
							<td>0만원</td>
							<td><button class="sbtn-4 btn-st02">상세</button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="btn-more">
				<button>더보기(10개씩)</button>
			</div>
			
		</div>
		<!-- //해지환급금 -->
	</div>


</body>
</html>