<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>설계지원을 동의 전문</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
</head>
<body>

<!-- fullpopup 화면영역 -->
<div class="fullpop-wrap dc-0090">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>설계지원을 동의 전문</h1><!-- 9.15 수정 -->
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class="d-scroll">
		<div class="fullpop-cont">
			<div class="consent-titBox"><!-- 9.15 수정 -->
				<h2>설계지원 요청을 위한 FC 인증번호</h2><!-- 9.25 수정 -->
				<p class="h-desc">[설계지원 인증번호 : <em class="fc-red">123456</em>]</p>
				<p class="h-desc">DGB생명이 제공하는 "가입제안 설계지원 서비스"를 이용하시려면 아래 내용을 확인하시기 바랍니다.</p>
			</div>
			<div class="cont5">
				<ol class="no-list-st01 no-line"><!-- 9.15 리스트 수정 -->
					<li>
						<h3 class="dep-tit1"><span class="no">01</span>DGB생명에 설계지원을 요청하는 자(FC)</h3><!-- 9.25 수정 -->
						<p class="dep-txt">- (성명)FC 본인</p>
					</li>
					<li>
						<h3 class="dep-tit1"><span class="no">02</span>설계지원 요청목적</h3>
						<p class="dep-txt">- 가입제안 설계 및 설계 관련 상담 등</p>
					</li>
					<li>
						<h3 class="dep-tit1"><span class="no">03</span>설계지원 요청기간 : ****.**.**(요청하는 날, 당일)</h3>
					</li>
				</ol>
			</div>
		</div>
	</div>

	<!-- footer 고정영역 -->
	<footer>
		<div class="d-footer">
			<button class="lbtn btn-st01">확인</button>
		</div>
	</footer>
	<!-- //footer -->
</div>
<!--// fullpopup 영역 -->

</body>
</html>