<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>비교설계</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>비교설계</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class=" d-scroll">
		<div class="fullpop-cont">
			<div class="contract-insure">
				<ul class="toggle mat-n">
					<li class="bordert-n">
						<div class="toggle-header sum on">
							<div class="title-box">
								<div class="title">인심사요청내용</div>
								<button type="button" class="btn-toggle">더보기</button>
							</div>
							<div class="sum-box bg-st02 border-n">
								<p class="preResult-time ing">심사중</p>
								<ul class="data-list-st01">
									<li>
										<span class="stit fc-555 par_20">인심사 요청일</span>
										<span class="scon fc_000">2026.04.12 11:20:30</span>
									</li>
								</ul>
							</div>
							<div class="sum-box bg-st02 border-n">
								<p class="preResult-time comple">심사완료</p>
								<ul class="data-list-st01">
									<li>
										<span class="stit fc-555 par_20">인심사 요청일</span>
										<span class="scon fc_000">2026.04.12 11:20:30</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="toggle-con border-n mab-20" style="display: block;">
							<div class="box-line fc_000">
								심사관련 문의내용 여기에 옵니다
								심사관련 문의내용 여기에 옵니다심사관련 문의내용 여기에 옵니다 심사관련 문의내용 여기에 옵니다
								심사관련 문의내용 여기에 옵니다
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="contract-insure">
				<div class="title-step mat-n">
					<h3 class="GA-h3">인심사결과</h3>
				</div>
				<div class="cont1">
					<div class="box-bg-st01 mab-10">
						<div class="info-cont">
							<ul class="data-list-st01">
								<li>
									<span class="stit align-l">판정결과</span>
									<span class="scon fs-30 fc-0d6c5b">대안설계</span>
								</li>
								<li>
									<span class="stit align-l">답변일</span>
									<span class="scon">2026.01.10 13:00</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="box-line fc_000">
						심사관련 문의내용 여기에 옵니다
						심사관련 문의내용 여기에 옵니다심사관련 문의내용 여기에 옵니다 심사관련 문의내용 여기에 옵니다
						심사관련 문의내용 여기에 옵니다
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st04">확인</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>