<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>선심사결과</title>
<link rel="stylesheet" type="text/css" href="../../../css/d-lite_style.css"/>
<script type="text/javascript" src="../../../js/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../js/libs/ui.js"></script>
</head>
<body>

<!-- fullpopup 영역 -->
<div class="fullpop-wrap">
	<!-- header 고정영역 -->
	<header>
		<div class="fullpop-head">
			<h1>선심사결과</h1>
			<button class="lbtn btn-pop-close">닫기</button>
		</div>
	</header>
	<!-- //header -->

	<!-- body 스크롤영역 -->
	<div class=" d-scroll">
		<div class="fullpop-cont pab_50">
			<div class="cont3 bg-st02">
				<div class="box-cont">
					<div class="title-box preResult-titBox">
						<strong class="preResult-tit blue">인수</strong>
						<div class="d-lite_flex flexAiCt gap10">
						</div>
					</div>
					<div class="info-cont">
						<ul class="data-list-st01">
							<li>
								<span class="stit w20p">선심사일자</span>
								<span class="scon">2026.01.10 13:00 (청약유효일자 : 2026.01.15)</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="box-cont">
					<div class="title-box preResult-titBox">
						<strong class="preResult-tit pink">거절</strong>
						<div class="d-lite_flex flexAiCt gap10">
						</div>
					</div>
					<div class="info-cont">
						<ul class="data-list-st01">
							<li>
								<span class="stit w20p">선심사일자</span>
								<span class="scon">2026.01.10 13:00</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="box-cont">
					<div class="title-box preResult-titBox">
						<strong class="preResult-tit orange">인심사</strong>
						<div class="d-lite_flex flexAiCt gap10">
							<p class="preResult-time ing">심사중</p>
							<a class="status-05" href="#">대안설계</a>
						</div>
					</div>
					<div class="info-cont">
						<ul class="data-list-st01">
							<li>
								<span class="stit w20p">선심사일자</span>
								<span class="scon">2026.01.10 13:00</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="box-cont">
					<div class="title-box preResult-titBox">
						<strong class="preResult-tit orange">인심사</strong>
						<div class="d-lite_flex flexAiCt gap10">
							<p class="preResult-time comple">심사완료</p>
							<a class="status-02" href="#">보완대상</a>
						</div>
					</div>
					<div class="info-cont">
						<ul class="data-list-st01">
							<li>
								<span class="stit w20p">선심사일자</span>
								<span class="scon">2026.01.10 13:00</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-box mat-n mab-n">
				<ul class="tab">
					<li class="on"><button type="button">종합심사결과</button></li>
					<li><button type="button">상품별심사결과</button></li>
				</ul>
			</div>
			<div class="cont3 tab-cont"> <!-- 탭 내용 비활성화class: none -->
				<article class="pro-covenant">
					<div class="header">
						<ul class="link-list-st01 dform square02 pdt-n w100p">
							<li class="bg-st02 pd-n border-n">
								<span>1234567891</span>
								<div class="tit-h2 pd-n w100p">
									<span class="Advance-stit fw_500">심사 결과 내용 노출</span>
								</div>
							</li>
						</ul>
					</div>
					<ul class="list-limit ">
						<li class="maL-n">
							심사 처리결과 인수로 확정<br/>
							처리 상세 내용입니다.
						</li>
					</ul>
				</article>
				<article class="pro-covenant">
					<div class="header">
						<ul class="link-list-st01 dform square02 pdt-n w100p">
							<li class="bg-st02 pd-n border-n">
								<span>1234567891</span>
								<div class="tit-h2 pd-n w100p">
									<span class="Advance-stit fw_500">심사 결과 내용 노출</span>
								</div>
							</li>
						</ul>
					</div>
					<ul class="list-limit ">
						<li class="maL-n">
							심사 처리결과 인수로 확정
						</li>
					</ul>
				</article>
			</div>
			<div class="cont3 tab-cont"> <!-- 탭 내용 비활성화class: none -->
				<div class="box-bg-st01 align-l mab-20">
					<ul class="data-list-st01">
						<li>
							<span class="stit">실제 납입보험료<button type="button" class="ico-won">실제 납입보험료 보기</button></span><!-- 10.5 추가 -->
							<span class="scon">1,200,000원</span>
						</li>
						<li>
							<span class="stit">초회 보험료</span>
							<span class="scon"><em>320,000원</em></span>
						</li>
					</ul>
					<ul class="data-list-st01 border-t mat_20 pat_20">
						<li>
							<span class="stit  fc-0d6c5b">상령일후 예상 보험료</span>
							<span class="scon bold fs-30 fc-0d6c5b">320,000원</span>
						</li>
					</ul>
				</div>
				<article class="pro-covenant">
					<div class="header">
						<ul class="link-list-st01 dform square02 pdt-n w100p">
							<li class="bg-st02 pd-n border-n">
								<strong class="preResult-tit blue">표준인수</strong>
								<div class="tit-h2 pd-n w100p pat_5">
									<span class="Advance-stit fw_500">마음든든플러스플러스플러스유니버셜종신보험 1종 (기본형)</span>
								</div>
							</li>
						</ul>
					</div>
					<ul class="list-limit data-list-st01 col-02">
						<li>
							<span class="stit">가입금액</span>
							<span class="scon">2,000 만원</span>
						</li>
						<li>
							<span class="stit">보험기간</span>
							<span class="scon">99 년</span>
						</li>
						<li>
							<span class="stit">납입기간</span>
							<span class="scon">7 년</span>
						</li>
						<li>
							<span class="stit">보험료</span>
							<span class="scon">274,800 원</span>
						</li>
						<li class="full border-t pat_15">
							상세 결과 내용 노출
						</li>
					</ul>
				</article>
				<article class="pro-covenant">
					<div class="header">
						<ul class="link-list-st01 dform square02 pdt-n w100p">
							<li class="bg-st02 pd-n border-n">
								<strong class="preResult-tit pink">불가</strong>
								<div class="tit-h2 pd-n w100p pat_5">
									<span class="Advance-stit fw_500">마음든든플러스플러스플러스유니버셜종신보험 1종 (기본형)</span>
								</div>
							</li>
						</ul>
					</div>
					<ul class="list-limit data-list-st01 col-02">
						<li>
							<span class="stit">가입금액</span>
							<span class="scon">2,000 만원</span>
						</li>
						<li>
							<span class="stit">보험기간</span>
							<span class="scon">99 년</span>
						</li>
						<li>
							<span class="stit">납입기간</span>
							<span class="scon">7 년</span>
						</li>
						<li>
							<span class="stit">보험료</span>
							<span class="scon">274,800 원</span>
						</li>
						<li class="full border-t pat_15">
							상세 결과 내용 노출
						</li>
					</ul>
				</article>
				<article class="pro-covenant">
					<div class="header">
						<ul class="link-list-st01 dform square02 pdt-n w100p">
							<li class="bg-st02 pd-n border-n">
								<strong class="preResult-tit orange">심사문의</strong>
								<div class="tit-h2 pd-n w100p pat_5">
									<span class="Advance-stit fw_500">마음든든플러스플러스플러스유니버셜종신보험 1종 (기본형)</span>
								</div>
							</li>
						</ul>
					</div>
					<ul class="list-limit data-list-st01 col-02">
						<li>
							<span class="stit">가입금액</span>
							<span class="scon">2,000 만원</span>
						</li>
						<li>
							<span class="stit">보험기간</span>
							<span class="scon">99 년</span>
						</li>
						<li>
							<span class="stit">납입기간</span>
							<span class="scon">7 년</span>
						</li>
						<li>
							<span class="stit">보험료</span>
							<span class="scon">274,800 원</span>
						</li>
						<li class="full border-t pat_15">
							상세 결과 내용 노출
						</li>
					</ul>
				</article>
			</div>
		</div>
	</div>
	<!-- body 스크롤영역 -->

	<!-- footer 고정영역 -->
	<footer>
		<div class="fullpop-footer">
			<button class="lbtn btn-st02">재설계</button>
			<!-- <button class="lbtn btn-st01">인심사요청</button> -->
			<button class="lbtn btn-st01">출력</button>
			<button class="lbtn btn-st04">청약</button>
		</div>
	</footer>
	<!-- //footer -->

</div>
<!--// fullpopup 영역 -->

</body>
</html>